﻿@model VBortsvadze.DL.Models.Entities.Recognition

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}








<div class="card">
    <div class="card-header">
        <h2>
            Edit
        </h2>
        <br />
    </div>

    <div class="card-body card-padding">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            @Html.HiddenFor(model => model.Id)

            <input type="hidden" name="Logo" value="@Model.Logo" />
            <div class="form-horizontal">



                <div class="form-group">
                    @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="fg-line">

                            <div class="crop-img-container" data-imageid="Logo">
                                <img class="crop-prev-img" src="" />
                            </div>

                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-primary btn-file m-r-10">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="Logo" accept="image/*">
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>



                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.Logo)</small>
                    </div>
                </div>





                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">


                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                            <div class="dtp-container fg-line">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control date-picker" } })

                            </div>
                        </div>


                        <small class="help-block">@Html.ValidationMessageFor(model => model.Date)</small>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">


                        <div class="fg-line">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.Title)</small>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">


                        <div class="fg-line">
                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.Content)</small>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.OrderIndex, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">


                        <div class="fg-line">
                            @Html.EditorFor(model => model.OrderIndex, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.OrderIndex)</small>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary waves-effect">Save</button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/areas/admin/assets/vendors/bower_components/moment/min/moment.min.js")"></script>

    <script src="@Url.Content("~/areas/admin/assets/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/areas/admin/assets/js/models/recognitions/create.js")"></script>
}

@section css{
    <link href="@Url.Content("~/areas/admin/assets/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")" rel="stylesheet">
}

