﻿@model List<VBortsvadze.DL.Models.Entities.Publication>
@{
    ViewBag.Title = "Publications ";
    ViewBag.Description = "Publications Of Vladimer Botsvadze";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sub-header gradient publication-bg content sub-cont">
    <h1>Publications</h1>
</div>



<div class="container publication content">
    <div class="container-inner">

        @foreach (var publication in Model)
        {
            <div class="publications-outer">
                <a href="@publication.SourceUrl" target="_blank"></a>
                <div class="publications-inner s-shadow">
                    <div class="public-hover" style="background-image:url('@Url.Content("~/Uploads/Images/Publications/")@publication.Image')"></div>
                    <div class="publication-details">
                        <p class="date-gray">@publication.UpdateDate.Value.ToShortDateString()
                        <p class="title"><b> @publication.Title</b></p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


@Html.Partial("_BeforeFooter")


@section scripts{
    <script>
        $(document).ready(function () {
            lightPageName("publications");
        });
    </script>
}