﻿<div class="form-group">
    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">

        <div class="fg-line">
            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <small class="help-block">@Html.ValidationMessageFor(model => model.FullName)</small>
    </div>
</div>