﻿
<div class="form-group">
    @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="fg-line">
            <div class="crop-img-container" data-imageid="Avatar">
                <img class="crop-prev-img" src="" />
            </div>

            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-primary btn-file m-r-10">
                    <span class="fileinput-new">Select file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" id="Avatar" accept="image/*">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
            </div>



        </div>
        <small class="help-block">@Html.ValidationMessageFor(model => model.Avatar)</small>
    </div>
</div>