﻿@model  VBortsvadze.BL.Models.CustomBlogViewModel
@{
    ViewBag.Title = Model.Blog.SeoTitle + " ";
    ViewBag.Description = Model.Blog.SeoDescription;

    Layout = "~/Views/Shared/_Layout.cshtml";

    //random variable for testing
    byte i = 1;
}


<div class="sub-header blogs gradient">
    <h1>Blog</h1>
</div>
<div class="container">
    <div class="container-inner">
        <div class="blog-categories s-shadow">
            @foreach (var category in Model.Categories)
            {
                <a class="category-name" href="@Url.Action("Category", "Blog", new { id = category.CategoryName })">
                    @category.CategoryName
                </a>
            }
        </div>


        <div class="blog-conteiner b-conteiner">
            <div class="blogs-sub-cont left-conteiner s-shadow">
                <div class="custom-blog">
                    <div class="blog-header">
                        <div class="date-main">
                            <div class="date">@Model.Blog.UpdateDate.Value.Day</div>
                            <div class="month">@Model.Blog.UpdateDate.Value.ToString("MMMM")</div>
                        </div>
                        <div class="title-cont">
                            <h1 class="title">@Model.Blog.Title</h1>
                            <div class="categories-cont">
                                <span class="category-name">Category:</span>
                                @if (Model.Blog.Categories != null && Model.Blog.Categories.Count() != 0)
                                {
                                    foreach (var item in Model.Blog.Categories)
                                    {
                                        if (item == Model.Blog.Categories.Last())
                                        {
                                            <p class="cat-names">@item.BlogCategory.CategoryName</p>
                                        }
                                        else
                                        {
                                            <p class="cat-names">@item.BlogCategory.CategoryName,</p>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        @*<div class="shares-info">
                            <img src="share" srcset="~/Assets/img/share-icon.png" />
                            <span class="share-count"></span>
                        </div>*@
                    </div>
                    <div class="blog-image" style="background-image:url(../Uploads/Images/Blog/@Model.Blog.CoverImage)">
                    </div>
                    <div class="blog-content">
                        @Html.Raw(Model.Blog.Content)
                    </div>
                </div>
                <div class="blog-social">
                    <div class="exlanation-text">This blog has been shared on:</div>
                        <div class="social-data" id="example3">
                           
                                <div id="shareme" data-text="@Model.Blog.Title" data-title="@Model.Blog.Title"></div>
                           
                        </div>
                    
                </div>
            </div>
            <div class="middle-conteiner mask"></div>
            <div class="right-conteiner more">

                <div class="search-bar-outer s-shadow">
                    <div class="search-bar-inner">
                        <form action="@Url.Action("Search","Blog")" method="get" class="search-form">
                            <input type="text" placeholder="Search Articles" class="search" name="queryString" />
                            <div class="submit"></div>
                        </form>
                    </div>
                </div>


                <div class="about-text">
                    <img src="~/Assets/img/vladimer-profile.jpg" />
                    <div class="about-text-inner">
                        <h2><span class="red">Blog By</span> vladimer botsvadze</h2>
                        <p>Vladimer Botsvadze  is worlds leading marketing consultant</p>
                        <h3>More Than <span class="red">2,400</span> Blog Posts</h3>
                    </div>
                </div>



                <div class="subscribe-container s-shadow">
                    <h1>Do Not Miss New Posts</h1>
                    <p class="subscribe-text">Subscribe to Vladimer</p>
                    <input type="text" name="Mail" placeholder="Enter Your Mail" />
                    <button type="submit">Subscribe</button>
                </div>



                <div class="carousel-wrapper common s-shadow">
                    <div class="carousel-inner">

                        <div class="item active blog">
                            <div class="item-content">
                                <div class="item-img">
                                    <img src="@Url.Content("~/Uploads/Images/Testimonials/Michele-Ferraris-avatar.png")" alt="Alternate Text">
                                </div>
                                <div class="item-desc">
                                    <h3>Michele Ferraris</h3>
                                    <p>Marketing Manager  at <span>at AC Milan </span></p>
                                </div>
                                <div class="desc-text">
                                    <p class="less-now">
                                        "Vladimer is a leading expert in the field of online marketing and branding. He provides daily useful insights on digital and social networks. He is skilled at creating and maintaining relationships with people all over the world."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Partial("_BeforeFooter")



@section css{

    <link href="~/Assets/css/style..sharrre.css" rel="stylesheet" />
    <style type="text/css">
       

        #shareme .box {
         
            width: 100%;
        }

            #shareme .box a {
                color: #404040;
                text-shadow: 0 1px 1px rgba(167,167,167,.4);
            }

                #shareme .box a:hover {
                    text-decoration: none;
                }

        #shareme .count {
            font-weight: bold;
            font-size: 50px;
            float: left;
            border-right: 2px solid #57b8d1;
            line-height: 40px;
            padding-right: 10px;
        }

     
      
        #shareme .button {
          display:inline-block;
        }
        .sharrre .buttons{
            width:100%;
        }
    </style>
}
@section scripts{
    <script src="~/Assets/js/jquery.sharrre.min.js"></script>
    <script>
        $('#shareme').sharrre({
            share: {
                twitter: true,
                linkedin: true,
                facebook: true,
                pinterest: true,
                googlePlus: true
            },
            url: encodeURI(window.location.href),
            enableCounter: false,
            buttons: {
               
                facebook: { layout: 'box_count' },
                twitter: { count: 'vertical' },
                digg: { type: 'DiggMedium' },
                delicious: { size: 'tall' }
            },
           
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".submit").on("click", function () {
                $(".search-form").submit();

                lightPageName("blog");
            });
        });
    </script>
}