﻿@model  VBortsvadze.BL.Models.BlogViewModel
@{
    ViewBag.Title = "Blog ";
    ViewBag.Description = "Blog By Vladimer Botsvadze";


    Layout = "~/Views/Shared/_Layout.cshtml";

    byte i = 1;
}


<div class="sub-header blogs gradient content sub-cont">
    <h1>Blog</h1>
</div>
<div class="container content">
    <div class="container-inner">
        <div class="blog-categories s-shadow">
            @foreach (var category in Model.Categories)
            {
                if (Model.CurrentCategoryId == category.Id)
                {
                    <a class="category-name active" href="@Url.Action("Category", "Blog", new { id = category.CategoryName })">
                        @category.CategoryName
                    </a>
                }
                else
                {
                    <a class="category-name" href="@Url.Action("Category", "Blog", new { id = category.CategoryName })">
                        @category.CategoryName
                    </a>
                }
            }
        </div>


        <div class="blog-conteiner b-conteiner">
            <div class="blogs-sub-cont left-conteiner">
                @foreach (var blog in Model.Blogs)
                {
                    <div class="blog-outer">
                        <a href="@Url.Action("Index", "Blog", new { Slag = blog.Slag})"></a>
                        <div class="blog-inner s-shadow">
                            <div class="blogcover-img" style="background-image:url('@Url.Content("~/Uploads/Images/Blog/")@blog.SmallImage')"></div>
                            <div class="blog-details">
                                <p class="date-gray">@blog.UpdateDate.Value.ToShortDateString() @*@blog.UpdateDate.Value.Day, @blog.UpdateDate.Value.Year*@</p>
                                <p class="title"><b> @blog.Title</b></p>
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="middle-conteiner mask"></div>
            <div class="right-conteiner more">

                <div class="search-bar-outer s-shadow">
                    <div class="search-bar-inner">
                        <form action="@Url.Action("Search","Blog")" method="get" class="search-form">
                            <input type="text" placeholder="Search Articles" name="queryString" class="search" />
                            <div class="submit"></div>
                        </form>
                    </div>
                </div>


                <div class="about-text">
                    <img src="~/Assets/img/vladimer-profile.jpg" />
                    <div class="about-text-inner">
                        <h2><span class="red">Blog By</span> vladimer botsvadze</h2>
                        <p>Vladimer Botsvadze  is worlds leading marketing consultant</p>
                        <h3>More Than <span class="red">2,400</span> Blogs</h3>
                    </div>
                </div>



                <div class="subscribe-container s-shadow">
                    <h1>Do Not Miss New Posts</h1>
                    <p class="subscribe-text">Subscribe to vladimer</p>
                    <input type="text" name="Mail" placeholder="Enter Your Mail" />
                    <button type="submit">Subscribe</button>
                </div>



                <div class="carousel-wrapper common s-shadow">
                   

                        <div class="carousel-inner">

                            <div class="item active blog">
                                <div class="item-content">
                                    <div class="item-img">
                                        <img src="@Url.Content("~/Uploads/Images/Testimonials/Michele-Ferraris-avatar.png")" alt="Alternate Text">
                                    </div>
                                    <div class="item-desc">
                                        <h3>Michele Ferraris</h3>
                                        <p>Marketing Manager  at <span>at AC Milan </span></p>
                                    </div>
                                    <div class="desc-text">
                                        <p class="less-now">
                                            "Vladimer is a leading expert in the field of online marketing and branding. He provides daily useful insights on digital and social networks. He is skilled at creating and maintaining relationships with people all over the world."
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Partial("_BeforeFooter")



@section scripts{
    <script>
        $(document).ready(function () {
            $(".submit").on("click", function () {
                $(".search-form").submit();
            });

           lightPageName("blog");

        });
    </script>
}