﻿
@{
    ViewBag.Title = "About";
    ViewBag.Description = "Vladimer Botsvadze is an award-winning social media and digital marketing consultant, strategist, coach, professor & mentor who builds businesses.";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var recognitions = ViewBag.Recognitions as List<VBortsvadze.DL.Models.Entities.Award>;
    var Statistic = ViewBag.Statistic as List<VBortsvadze.DL.Models.Entities.Statistic>;

    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;
    var Info = ProFileModel.Info;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}


<link href="~/Assets/css/lib/asPieProgress.css" rel="stylesheet" />


<div class="sub-header long gradient about content sub-cont">
    <div>
        <h1>ABOUT VLADIMER</h1>
        <h3>World’s Leader In Digital Marketing</h3>
    </div>
    <img src="@Url.Content("~/assets/img/vladimir-profile-about.jpg")" />
</div>


<div class="container recognitions content">
    <div class="container-inner">


        <div class="main-content about">



            <div class="profile">
                <h2 class="vl-profile-indicator">Vladimer's Profile</h2>
                <div class="left-side about">
                    <div class="profile-wrapper">
                        <div>
                            <div style="width:100%; position:relative; display:inline-block; margin-top:27px;" class="hiddenable">
                                <div id="container" class="profile-chart-12 custom-chart-profile about" style=""></div>
                                <p class="total-fans">Total Followers - <span class="totalfans"></span></p>
                            </div>

                            <div class="profile-text-wrapper">
                                @foreach (var item in Info)
                                {
                                    <div class="profile-text">
                                        <span>@item.InfoName</span>
                                        <span>@item.InfoValue</span>
                                    </div>
                                }

                                <h2 class="vl-profile-indicator hiddenable klear-badge">Klear Badge</h2>

                                <div class="Badges-outer hiddenable">
                                    <div>
                                        <img src="@Url.Content("~/assets/img/badge1.png")" />
                                    </div>
                                    <div>
                                        <img src="@Url.Content("~/assets/img/badge2.png")" />
                                    </div>
                                    <div>
                                        <img src="@Url.Content("~/assets/img/badge3.png")" />
                                    </div>
                                </div>


                                <div class="profile-images after-badges">
                                    <div class="profile-left-img">
                                        <img src="@Url.Content("~/assets/img/kolaouuut.png")" alt="Alternate Text" />
                                    </div>
                                    <div class="profile-right-img">
                                        <div style="position:relative;    float: right;">
                                            <div style="position: absolute;    right: 72%;    bottom: 12%;    color: #fff; font-weight: bold; font-family: 'Avenir-Next-Medium';}">@ProFileModel.KloutNumber</div>
                                            <img src="@Url.Content("~/assets/img/Layer-7.png")" alt="Alternate Text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-images">
                                    <div class="profile-left-img">
                                        <img src="@Url.Content("~/assets/img/Layasdasdaasdasder-8.png")" alt="Alternate Text" />
                                    </div>
                                    <div class="profile-right-img">
                                        <img src="@Url.Content("~/Uploads/Images/testimonials/")@ProFileModel.InfluenceImage" alt="Alternate Text" />

                                    </div>
                                    <p>LinkedIn Social Selling Index</p>
                                </div>
                                <div class="profile-images">
                                    <div class="profile-left-img linekdin">
                                        <img src="@Url.Content("~/assets/img/Layer-22.png")" alt="Alternate Text" />
                                    </div>
                                    <div class="profile-right-img">
                                        <div id="second-chart" class="profile-right-img" style="">
                                            <img src="@Url.Content("~/Uploads/Images/testimonials/")@ProFileModel.TweeterImage" style="margin: 0 auto;max-width:100%;display:block;" />
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="about-main">
                <p class="simple-text">
                    Vladimer Botsvadze is a globally renowned, award-winning digital marketing influencer, leading social media strategist, keynote speaker, professor, consultant, trainer, coach and mentor. Many companies and professionals have called him innovator and his work has touched a number of large global brands including Adidas, KLM, FedEx and Aston Martin to assist them to use the power of social media and digital presence to build their businesses.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer is regarded one of the world’s top experts on marketing and innovation and his ideas have been widely used in industries and organizations all over the world. His work has influenced 2,000,000 professionals, 10,000 businesses worldwide and has established a world-class reputation for always bringing innovation to the table with every project.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer Botsvadze is one of the most retweeted, quoted and followed digital marketing influencers worldwide. More than 130,000,000 million people have seen his 52,000 tweets in the last 3 years, his Google+ profile has gained over 2,700,000 views, his 10.000 Instagram posts have earned 405,000 likes, 60,000 people follow Vladimer across his social media platforms, his influence covers the world's 160 countries and 1500 cities. He has been listed 3,900 times as a thought leader and a digital marketing influencer on Twitter. For these results Vladimer has been endorsed by Forbes, New York Times, Wall Street Journal, Mashable and The Economist. He has been praised by Qatar Airways, Intel, American Airlines, Jaguar and more. British Airways called him "A brilliant influencer" and Intel "A great content marketing curator", etc.
                </p>

                <br />
                <br />


                <p class="simple-text">
                    In 2016, Vladimer was named as one of the most influential digital marketing thinkers in the world. He is an author of 9 best-selling books. He has given keynote presentations on digital and social media strategy at the leading conferences in London and Dubai. Vladimer’s innovative social media marketing strategy is tremendously recognized in San Francisco, Chicago, New York, Singapore, Hong Kong, Shanghai and more. He trains managers to become the world's best leaders in their industries. Vladimer’s marketing expertise is appreciated by London Business, Columbia Business School, Cambridge Judge Business School, Imperial Business School London and more.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    By age 29, Vladimer became a globally renowned social media influencer, a leading marketing professor, a sought-after Fortune 500 consultant and a prominent coach. He is a world’s Top 1% Social Media, Marketing, Tech and Advertising Influencer by Kred. He is in the world’s Top 1% B2B, Content Marketing, Digital Marketing, Marketing, the Internet of Things, e-Commerce and Branding Influencers measured by Klout. Rise.Global included him among the World's Top 50 Online Influencers. He has been selected as a Top 100 B2B Marketing Influencer by Onalytica, London UK, also as a Top 100 Marketing and Branding Expert by Evan Carmichael. He is recognized by Web Summit, Social Media Week, Mobile World Congress and more. Vladimer transforms brands and builds businesses.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer has been favorited by Arianna Huffington, Reid Hoffman, James Caan and Robin Sharma. He is ranked as one of the leading Twitter users for professional purposes, his Kred Influence is 893 and outreach 9 respectively. He has earned a KLOUT score of 79. Klear ranked him in the Top 1% of social media influencers and as the most influential in digital marketing and online advertising in the United Arab Emirates. His current LinkedIn Social Selling Index is 87.
                </p>
            </div>
        </div>
    </div>

</div>

<div class="tesomonials inabout about-page">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">
            @Html.Partial("_testimonials", testimonials);
        </div>
    </div>
</div>



<div class="container-inner">
    <div class="vl-statistics">

        <div class="vl-statistics-head">
            <h1>Sometimes <span>Statistics</span> can say more</h1>
            <p>Numbers highlight Vladimer's achievements and what it's like to work with him</p>
        </div>
        <div class="statistic-container">

            @foreach (var item in Statistic)
            {
                <div class="pie_progress" role="progressbar" data-goal="@item.CurrentValue"
                     @{ if (item.DataType == "%") { <text> aria-valuemin="0" </text> } else { <text> aria-valuemin="1" </text>  } }
                     aria-valuemax="@item.MaximumValue">
                    <span class="pie_progress__number">0%</span>
                    <p>@item.Name</p>
                </div>
    }

        </div>
    </div>
</div>







<div class="container-inner">
    <div class="recognition-year-cont">
        <div class="year-cont">
            <h1>Awards ></h1>
        </div>


        <div class="recognitions-data about">
            @{ byte i = 0;}
            @foreach (var item in recognitions)
            {
                i++;
                if (i == 8)
                {
                    break;
                }
                <div class="recognition-outer">
                    <div class="recognition-inner  s-shadow">
                        <div class="recognition-name">
                            <p>@item.Title</p>
                        </div>
                        <div class="recognition-description">
                            <div class="rec-image">
                                <img src="~/Uploads/Images/Recognitions/@item.Logo" alt="@item.Title" />
                            </div>
                            <div class="recognition-text">
                                <p>@item.Content</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container-inner s-shadow recognitions-link">
    <a href="@Url.Action("Index", "Award")">Discover all of Vladimers Awards</a>
</div>




@Html.Partial("_BeforeFooter")




@section scripts{

    <script src="~/Assets/js/lib/jquery-asPieProgress.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));


    </script>
    <script>
        $(function ($) {
            $('.pie_progress').asPieProgress({
                namespace: 'pie_progress',
                barcolor: '#fb3b49',
                barsize: '4',
                trackcolor: '#ebebeb',
                fillcolor: 'none',
                easing: 'ease',
                numberCallback(n){
                    var perc =  (this.goal  / this.max) * 100;
                    console.log(this.min);

                    if(this.min == 0){
                        return `${parseInt(perc)}%`;
                    }else{
                        return this.goal;
                    }
                   
                    
                }
            });

            $('.pie_progress').asPieProgress('start');



        });



    </script>


    <script>





        $(document).ready(function(){
            lightPageName("about");
            $(".totalfans").html("@ToTalFans");
        });

    </script>



}
