﻿@model VBortsvadze.DL.Models.Entities.Testimonial

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h2>
            Edit
        </h2>
        <br />
    </div>

    <div class="card-body card-padding">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id)

            

            <input type="hidden" name="Avatar" value="@Model.Avatar"/>
            <input type="hidden" name="CompanyLogo" value="@Model.CompanyLogo" />



            <div class="form-horizontal">



                <div class="form-group">
                    @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="fg-line">

                            <div class="crop-img-container" data-imageid="Avatar" >
                                <img class="crop-prev-img" src="" />
                            </div>

                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-primary btn-file m-r-10">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="Avatar" accept="image/*">
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>

                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.Avatar)</small>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyLogo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="fg-line">
                            @*@Html.EditorFor(model => model.CompanyLogo, new { htmlAttributes = new { @class = "form-control" } })*@

                            <div class="crop-img-container" data-imageid="CompanyLogo" >
                                <img class="crop-prev-img" src="" />
                            </div>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-primary btn-file m-r-10">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="CompanyLogo" accept="image/*">
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>


                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.CompanyLogo)</small>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        <div class="fg-line">
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.FullName)</small>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="fg-line">
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.CompanyName)</small>
                    </div>
                </div>




                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyPosition, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="fg-line">
                            @Html.EditorFor(model => model.CompanyPosition, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.CompanyPosition)</small>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.RecomendationPrase, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">


                        <div class="fg-line">
                            @Html.EditorFor(model => model.RecomendationPrase, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.RecomendationPrase)</small>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OrderIndex, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        <div class="fg-line">
                            @Html.EditorFor(model => model.OrderIndex, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.OrderIndex)</small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary waves-effect">Save</button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

@section scripts{

    <script src="@Url.Content("~/areas/admin/assets/js/models/testimonials/create.js")"></script>
}