﻿
@{
    ViewBag.Title = "Online Influence ";
    ViewBag.Description = "Vladimer Botsvadze is Most Influntial in Online Advertising in the UAE";

    var recognitions = ViewBag.Recognitions as List<VBortsvadze.DL.Models.Entities.Award>;
    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;


    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}

<div class="influence-bg">
    <h1>Online Influence</h1>
    <p>World's Top 1% Social Media & Digital Marketing Influencer</p>
</div>
<div class="influce-top-block container">
    <div class="left-side-influenceblock">
        <div class="influencechart custom-inf">
            <div style="width:100%; position:relative;height:100%;">
                <div id="container" class="profile-chart-12 custom-chart-profile" style=""></div>

                <p class="total-fans main">Total Followers - <span class="totalfans"></span></p>
            </div>
        </div>
    </div>
    <div class="right-side-influenceblock">
        <div class="influence-texts-wrapper">

            @foreach (var item in ProFileModel.Info)
            {
                <div>
                    <span>@item.InfoName</span>
                    <span>@item.InfoValue</span>
                </div>
            }
        </div>
        <div class="krkred">
            <img src="@Url.Content("~/assets/img/Layasdasdaasdasder-8.png")" alt="Alternate Text" />
            <img src="@Url.Content("~/Uploads/Images/testimonials/")@ProFileModel.InfluenceImage" />
        </div>
        <div class="krkred-right">
            <img src="@Url.Content("~/assets/img/kolaouuut.png")" alt="Alternate Text" />
            <img src="@Url.Content("~/assets/img/Layer-7.png")" alt="Alternate Text" />
            <div class="kred-index">@ProFileModel.KloutNumber</div>
        </div>
    </div>
</div>
<div class="vladimers-top-skills">
    <h1>Vladimer's Top Skills</h1>
    <div class="vl-top-skill">
        <p>Advertising</p>
        <p class="top-skil-socre">Expert</p>
    </div>
    <div class="vl-top-skill">
        <p>Artificial Intelligence</p>
        <p class="top-skil-socre">Expert</p>
    </div>
    <div class="vl-top-skill">
        <p>B2B</p>
        <p class="top-skil-socre">Expert</p>
    </div>
    <div class="vl-top-skill">
        <p>Branding</p>
        <p class="top-skil-socre">Expert</p>
    </div>
    <div class="vl-top-skill">
        <p>CRM</p>
        <p class="top-skil-socre">Expert</p>
    </div>
    <div class="vl-top-skill">
        <p>Consulting</p>
        <p class="top-skil-socre">Expert</p>
    </div>
    <div class="vl-top-skill">
        <p>Content Marketing</p>
        <p class="top-skil-socre">Expert</p>
    </div>
    <div class="vl-top-skill">
        <p>Digital Marketing</p>
        <p class="top-skil-socre">Expert</p>
    </div>
</div>

<div class="about-vl-stats">
    <h1>About.me <span>Stats</span></h1>
    <div class="vl-stat-chart firth">
        <img src="@Url.Content("~/assets/img/images/Masdasdasdove_03.png")" alt="Alternate Text" />
        <p>69,449</p>
        <p>Views</p>
    </div>
    <div class="vl-stat-chart sec">
        <img src="@Url.Content("~/assets/img/images/Move1_07.png")" alt="Alternate Text" />
        <p>264</p>
        <p>Compliments</p>
    </div>
    <div class="vl-stat-chart thir">
        <img src="@Url.Content("~/assets/img/images/Mov21e_03_03.png")" alt="Alternate Text" />
        <p>351</p>
        <p>Collections</p>
    </div>
    <div class="vl-stat-chart fourth">
        <img src="@Url.Content("~/assets/img/images/Masdasdasdove_03.png")" alt="Alternate Text" />
        <p>119</p>
        <p>Apps</p>
    </div>
</div>

<div class="inside-wrapper influence-page">
    <div class="tesomonials">
        <h4>What <span>Brands</span> Say</h4>
        <div class="carousel-wrapper">
            <div class="carousel-inner">
                @Html.Partial("_testimonials", testimonials);
            </div>
        </div>
    </div>
</div>

<div class="discover-vl-tw">
    <h1>
        Discover Vladimer's
        <span>Twitter</span>
    </h1>
   <div class="container tweet-influence">
       <div class="tw-inner-vl-oi">
           <span>Tweets</span>
           <div>
               <h2>2,116 <i> 29.9% </i> </h2>
           </div>
           <div>
               <img src="@Url.Content("~/assets/img/images/moveimgs_03.png")" alt="Alternate Text" />
           </div>
       </div>
       <div class="tw-inner-vl-oi">
           <span>Tweet impressions</span>
           <div>
               <h2>1.15M <i> 10.1% </i> </h2>
           </div>
           <div>
               <img src="@Url.Content("~/assets/img/images/moveimgs_03.png")" alt="Alternate Text" />
           </div>
       </div>
       <div class="tw-inner-vl-oi">
           <span>Profile visits</span>
           <div>
               <h2>24.5K <i> 16.1% </i> </h2>
           </div>
           <div>
               <img src="@Url.Content("~/assets/img/images/moveimgs_03.png")" alt="Alternate Text" />
           </div>
       </div>
       <div class="tw-inner-vl-oi">
           <span>Mentions</span>
           <div>
               <h2>346 <i> 5.8% </i> </h2>
           </div>
           <div>
               <img src="@Url.Content("~/assets/img/images/moveimgs_03.png")" alt="Alternate Text" />
           </div>
       </div>
       <div class="tw-inner-vl-oi">
           <span>Followers</span>
           <div>
               <h2>27.3K <i class="sucess-tw-rate"> 1,448 </i> </h2>
           </div>
           <div>
               <img src="@Url.Content("~/assets/img/images/moveimgs_03.png")" alt="Alternate Text" />
           </div>
       </div>
   </div> 
</div>
<div class="social-selling">
    <h1>Vladimer's Social Selling Index by <span>Linkedin</span></h1>
    <div class="influencechart custom-inf ">
        <img src="@Url.Content("~/assets/img/vladimer-SSI.png")" alt="Vladimer SSI" />
    </div>
</div>
<div class="vls-influence">
    <h1>
        Vladimer's
        <span>Influence</span>
    </h1>
    <img src="@Url.Content("~/assets/img/Masdasajdgahdhagove_03.jpg")" />
</div>


<div class="container-inner">
    <div class="recognition-year-cont online-influence">
        <div class="year-cont">
            <h1>Awards ></h1>
        </div>


        <div class="recognitions-data about">
            @{ byte i = 0;}
            @foreach (var item in recognitions)
            {
                i++;
                if (i == 8)
                {
                    break;
                }
                <div class="recognition-outer">
                    <div class="recognition-inner  s-shadow">
                        <div class="recognition-name">
                            <p>@item.Title</p>
                        </div>
                        <div class="recognition-description">
                            <div class="rec-image">
                                <img src="~/Uploads/Images/Recognitions/@item.Logo" alt="@item.Title" />
                            </div>
                            <div class="recognition-text">
                                <p>@item.Content</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="container-inner s-shadow recognitions-link">
    <a href="@Url.Action("Index", "Award")">Discover all of Vladimer's Awards</a>
</div>





<h1 class="memorable-tweets">
    Memorable <span>Tweets</span>
</h1>


<div class="container-inner memorable-tweets-conteiner">
    <div><img src="@Url.Content("~/assets/img/Memorable Tweets_1.png")" alt="Memorable Tweet" /></div>
    <div><img src="@Url.Content("~/assets/img/Memorable Tweets_2.png")" alt="Memorable Tweet" /></div>
    <div><img src="@Url.Content("~/assets/img/Memorable Tweets_3.png")" alt="Memorable Tweet" /></div>
    <div><img src="@Url.Content("~/assets/img/Memorable Tweets_4.png")" alt="Memorable Tweet" /></div>
    <div><img src="@Url.Content("~/assets/img/Memorable Tweets_5.png")" alt="Memorable Tweet" /></div>
    <div><img src="@Url.Content("~/assets/img/Memorable Tweets_6.png")" alt="Memorable Tweet" /></div>
    <div><img src="@Url.Content("~/assets/img/Memorable Tweets_7.png")" alt="Memorable Tweet" /></div>
    <div><img src="@Url.Content("~/assets/img/Memorable Tweets_8.png")" alt="Memorable Tweet" /></div>
</div>






    @Html.Partial("_BeforeFooter")


<br />
<br />
<br />
<br />
<br />
<br />



    @section scripts{

        <script src="~/Assets/js/lib/jquery-asPieProgress.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script>
            //tweeterchart
            var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
            {
                name = q.Name,
                y = q.ActivityCount
            })));
            $(function () {


                $(".totalfans").html("@ToTalFans");

                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Browser market shares January, 2015 to May, 2015'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.y}',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: array
                    }]
                });
            });

        </script>
        <script>

            var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
            {
                name = q.Name,
                y = q.ActivityCount
            })));

            $(function () {
                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Browser market shares January, 2015 to May, 2015'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.y}',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: array
                    }]
                });
            });

        </script>
        <script>

            $(function () {
                Highcharts.chart('progressbar-seocial', {
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: 'Historic World Population by Region'
                    },
                    subtitle: {
                        text: '<a href="">*</a>'
                    },
                    xAxis: {
                        categories: ['Establish your professional brand', 'Find me ngnt people', 'Engage with insights', 'build relationships'],
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Population (millions)',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' millions'
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        layout: 'middle',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 80,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Year 2017',
                        data: [1052, 954, 4250, 740, 38]
                    }]
                });
            });

        </script>
        <script>

            $(document).ready(function () {
                lightPageName("onlineinf");
            });




        </script>
    }
