﻿@{
    ViewBag.Title = "Coaching ";
    ViewBag.Description = "Vladimer Botsvadze - The World’s Leading Digital Marketing Coaching Provider";


    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}


<div class="sub-header long gradient work-with-bg work-with-common coatching content sub-cont">
    <div class="mask">
        <section class="sub-menu"></section>
    </div>
    <div class="slogan-div">
        <h1>The World’s Leading Digital Marketing Coaching Provider</h1>
        <section class="sub-menu">
            <ul>
                <li><a href="@Url.Action("Index","WorkWithVladimer")">Work With Vladimer</a></li>
                <li><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                <li><a href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                <li><a href="@Url.Action("startupadvising","WorkWithVladimer")">Startup Advising</a></li>
                <li><a href="@Url.Action("teaching","WorkWithVladimer")">Teaching</a></li>
                <li><a href="@Url.Action("training","WorkWithVladimer")">Training</a></li>
                <li><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                <li class="active"><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                <li><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
            </ul>
        </section>
    </div>
</div>







<div class="container work-with content">
    <div class="container-inner">
        <div class="work-with-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
        </div>


        <div class="content">
            <div class="left-side">

                <div class="phrase">
                    "The task of the leader is to get his people from where they are to where they have not been." - Henry A. Kissinger
                </div>

                <h2>Vladimer's profile</h2>
                @Html.Partial("_VladimersProfile", ProFileModel)

            </div>

            <div class="right-side main-content coaching wall">
                <h1>Take a step towards the <span class="c-red underline">Future.</span> </h1>

                <br />
                <br />
                <p class="simple-text">
                    You don’t feel comfortable with interacting people on social media. You are concerned about how much time spending on digital channels will take you from your business. Your social profiles don’t earn the relevant attention from your audience. You want to know innovative tactics to grow your influence, but you are not sure how to do that. Vladimer can work with you to enhance your personal brand’s voice. Get noticed online, build trust and move your brand forward.
                </p>


                <br />
                <br />
                <p class="simple-text">
                    Vladimer’s an award-winning, creative and passionate digital marketing coach focusing on providing innovative solutions to all marketing professionals. The best leaders are those leaders who are in the business every single day. Vladimer has been recognized by Forbes and the Economist as the best in the industry. There can be no better marketing coach to boost your skills than Vladimer who will sophisticate your expertise you need for the challenges ahead.
                </p>


                <br />
                <br />
                <p class="simple-text">
                    Vladimer’s coaching sessions advance you towards achieving your goals. He can also help you increase following of subscribers and accelerate your social media influence every week. He grows digital confidence within marketing professionals for better results. His clients are more confident making strategic marketing decisions.
                </p>


                <br />
                <br />
                <p class="simple-text">
                    Digital marketing coaching is undertaken as a number of steps. The initial step is a comprehensive planning stage. Afterwards you go into regular coaching meetings online and offline, reviews depending on where your business is.  He designs coaching sessions to suit your need. You can work privately with him to learn new tactics and explore innovative strategies. You will also complete a questionnaire that will help you to contemplate about your goals.
                </p>


                <br />
                <br />
                <p class="simple-text">
                    Vladimer’s coaching course focuses on how to self-brand yourself and how to create social media channels to succeed. The key strategies in the course include:
                </p>

                <br />
                <br />
                <p class="simple-text specialties">
                    Significance of self-branding
                </p>
                <p class="simple-text specialties">
                    Social media creative and monetization
                </p>
                <p class="simple-text specialties">
                    Content marketing
                </p>
                <p class="simple-text specialties">
                    New social challenges
                </p>
                <p class="simple-text specialties">
                    Strategy and planning
                </p>
                <p class="simple-text specialties">
                    Blogging
                </p>
                <p class="simple-text specialties">
                    Storytelling
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Having a marketing coach will encourage you to explore innovative ideas and accomplish results through:
                </p>

                <br />
                <br />


                <p class="simple-text specialties">
                    Independent advice
                </p>
                <p class="simple-text specialties">
                    Increased confidence and motivation
                </p>
                <p class="simple-text specialties">
                    Receiving useful and sincere feedback, as well as on-going support
                </p>
                <p class="simple-text specialties">
                    Empowering leadership skills and building management practice
                </p>
                <p class="simple-text specialties">
                    Providing a growing professional network
                </p>
                <p class="simple-text specialties">
                    Access to proven templates to execute strategic marketing plans and measure ROI
                </p>


                <br />
                <br />
                <p class="simple-text">
                    Coaching calls will also run on Skype. Together we will agree on the relevant time to have these calls. You must consider the time differences in different places around the world.
                </p>
                <p class="simple-text">
                    Each monthly call last for 2 hours. In the first call, Vladimer will discuss the results of your personality assessment and tell you about next goals.
                </p>


                <br />
                <br />
                <p class="simple-text">
                    During each call, Vladimer will advice and answer questions, and guide you on setting objectives. He can focus on solving the new problem. Vladimer’s one-on-one coaching allows you to benefit from what’s working in digital marketing.
                </p>

                <br />
                <br />
                <p class="simple-text">
                    Email support between calls means you can get answers, so you will stay ahead of the game. Ready to start? Vladimer will schedule a free 30-minute call to answer your questions. Before that call, Vladimer will send you his 5 question assessment application. You have to be there to win, so book session today.
                </p>


                <br />
                <br />
                <p class="simple-text">
                    2 month Digital Coaching program
                </p>
                <p class="simple-text">
                    Fees $2,500 per month, payable in advance.
                </p>


                <br />
                <br />
                <br />
                <br />
                <br />


            </div>
        </div>
    </div>
</div>




<div class="tesomonials work-with s-shadow">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">
            @Html.Partial("_testimonials", testimonials);
        </div>
    </div>
</div>




@Html.Partial("_BeforeFooter")


@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));
  




        $(document).ready(function () {
            lightPageName("workwith");

            $(".totalfans").html("@ToTalFans");
        });


    </script>
}

