﻿
@{
    ViewBag.Title = "Consulting ";
    ViewBag.Description = "Vladimer Botsvadze - Helping Clients Build Their Businesses Faster";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}




<div class="sub-header long gradient work-with-bg work-with-common content sub-cont consulting">
    <div class="mask">
        <section class="sub-menu"></section>
    </div>
    <div class="slogan-div">
        <h1>Helping Clients Build Their Businesses Faster</h1>
        <section class="sub-menu">
            <ul>
                <li><a href="@Url.Action("Index","WorkWithVladimer")">Work With Vladimer</a></li>
                <li class="active"><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                <li><a href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                <li><a href="@Url.Action("StartupAdvising","WorkWithVladimer")">Startup Advising</a></li>
                <li><a href="@Url.Action("Teaching","WorkWithVladimer")">Teaching</a></li>
                <li><a href="@Url.Action("Training","WorkWithVladimer")">Training</a></li>
                <li><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                <li><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                <li><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
            </ul>
        </section>
    </div>
</div>



<div class="container work-with content">
    <div class="container-inner">
        <div class="work-with-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
        </div>






        <div class="content">
            <div class="left-side">

                <div class="phrase">
                    “Your life only gets better when you get better.” - Brian Tracy
                </div>

                <h2>Vladimer's profile</h2>
                @Html.Partial("_VladimersProfile", ProFileModel)

            </div>



            <div class="right-side main-content">
                <h1>Get Ready! <span class="c-red underline">Your Growth Awaits!</span> </h1>

                <p class="simple-text">
                    Whether your company needs advice and guidance on digital marketing, social media, branding, content marketing and product launch consulting, Vladimer transforms digital experiences that move brands forward. He is available to offer strategic consulting for a range of areas including digital marketing and branding innovation.
                </p>


                <br />
                <br />

                <p class="simple-text">
                    Vladimer transforms traditional businesses into digital leaders and he provides solutions to help traditional businesses improve their business models, enhance user experiences, and develop operations for the digital age. Vladimer has delivered transformation for leading global and emerging brands across multiple industries.
                </p>



                <h3>Digital Marketing & Social Media Consulting</h3>



                <p class="simple-text">
                    Vladimer helps you improve your digital marketing and social media strategies. He assists you in understanding where your customers are in the digital space. He will analyze which social platforms bring the success of your business to the next level and how you can efficiently implement  integrated digital marketing and social media strategies that solve your problems.
                </p>

                <p class="simple-text">
                    Vladimer innovates across all digital and social media platforms including, Facebook, Twitter, LinkedIn, Google+, Instagram, Pinterest, Snapchat, YouTube and more. He brings his wealth of knowledge and experience in the social space to his clients.
                </p>



                <h3>Branding Strategy Consulting</h3>



                <p class="simple-text">
                    Your brand is the key to your success. Vladimer’s extensive experience in transforming branding strategies is unmatched. He has worked on branding strategies for large corporations, inventing ways to enhance your brand by innovating a phenomenal branding strategy that demonstrates who you are and what you stand for. He tailors branding strategy services to your needs.
                </p>

                <p class="simple-text">
                    Vladimer’s branding strategy services include: branding architecture, SWOT analysis, target market identification, market segmentation, mission statement and company vision.
                </p>


                <h3>Content Marketing Consulting </h3>


                <p class="simple-text">
                    Content marketing is an essential part of any digital strategy. Every organization is in need of a solid content strategy to create and efficiently use content to its advantage. Vladimer helps clients transform appropriate and rewarding strategic content marketing solutions that increase engagement and galvanize brand loyalty.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer’s unprecedented content marketing strategy enables your enterprise to strengthen relationships with customers. He designs strategic content marketing plans that are matchless, consistent and valuable. Vladimer provides the world-class content marketing solutions to keep your business ahead.
                </p>

                <p class="simple-text">
                    Vladimer’s content marketing services include: content marketing auditing, planning and execution, SEO best practices, headline optimization, social media content marketing, email marketing and customer engagement
                </p>



                <h3>Innovation and New Product Launch Consulting</h3>



                <p class="simple-text">
                    Vladimer helps his clients innovate and launch their ideas. He works with you to ensure your product is optimized for launch. Vladimer provides guidance on revolutionary product features.
                </p>

                <p class="simple-text">
                    Vladimer creates a go-to-market strategy that maximizes opportunities for success. He drives innovation and is constantly inspired to make your product unparalleled.
                </p>

                <p class="simple-text">
                    Vladimer’s innovation and product launch services include: product definition, pricing strategies, market assessment, competitive analysis, marketing launch plan development and target market identification.
                </p>

                <br />
                <br />

                <br />
                <br />

                <br />
                <br />

            </div>
        </div>
    </div>
</div>

<div class="tesomonials work-with s-shadow">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">
            @Html.Partial("_testimonials", testimonials);
        </div>
    </div>
</div>



@Html.Partial("_BeforeFooter")




@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));



        $(document).ready(function () {
            lightPageName("workwith");
            $(".totalfans").html("@ToTalFans");
        });

    </script>
}