﻿@{


    ViewBag.Title = "Work With Vladimer ";
    ViewBag.Description = "Let’s Grow Your Brand - Vladimer Will Help You";


    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}

<div class="sub-header long gradient work-with-bg work-with-common content sub-cont index">
    <div class="mask">
        <section class="sub-menu"></section>
    </div>
    <div class="slogan-div">
        <h1>Let’s Grow Your Brand</h1>
        <section class="sub-menu">
            <ul>
                <li class="active"><a href="@Url.Action("Index","WorkWithVladimer")">Work With Vladimer</a></li>
                <li><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                <li><a  href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                <li><a  href="@Url.Action("StartupAdvising","WorkWithVladimer")">Startup Advising</a></li>
                <li><a  href="@Url.Action("Teaching","WorkWithVladimer")">Teaching</a></li>
                <li><a  href="@Url.Action("Training","WorkWithVladimer")">Training</a></li>
                <li><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                <li><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                <li><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
            </ul>
        </section>
    </div>

</div>


<div class="container work-with content">
    <div class="container-inner">
        <div class="work-with-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
        </div>






        <div class="content">
            <div class="left-side">

                <div class="phrase">
                    "Coming together is a beginning. keeping together is progress. working together is success." - Henry Ford 
                </div>



                <h2>Vladimer's profile</h2>
                @Html.Partial("_VladimersProfile", ProFileModel)


            </div>
            <div class="right-side main-content">
                <h1>Here is how it <span class="c-red underline">works.</span> </h1>

                <p class="simple-text">
                    Finding the right marketing leader to help you accelerate your brand is essential to build your future. Vladimer is one of the world’s top marketing experts who delivered more than 100 talks and seminars, consulted over 5,000 businesses and 3,000 individuals, trained and coached more than 2000 business managers, collaborated with over 50 business schools, helped more than 100 startups grow. 
                    He has gained over 60,000 followers across his social media platforms. 400,000 individuals appreciated his content on Instagram and 100,000 business managers re-tweeted him. Vladimer is currently the most influential digital marketer in the United Arab Emirates according to Klear, among the world’s Top 100 Marketing and Branding experts by Evan Carmichael recognized by Forbes, WSJ, Mashable  and among the world’s Top 100 B2B Marketing Influencers by Onalytica.
                </p>

                <p class="simple-text">
                    He’s trusted by the world’s best brands on social media including Aston Martin, Audi, Microsoft, HP, KLM, Bayer, DHL and more. Vladimer has been featured in the Economist, MIT Sloan Management Review, Forbes and more.
                </p>


                <h3>Vladimer’s world-class digital marketing services include:</h3>

                <div class="services-icons">
                    <div class="services-icons-inner">
                        <a href="@Url.Action("Consulting","WorkWithVladimer")"></a>
                        <div class="services-icon">
                            <img src="~/Assets/img/consulting-icon.png" />
                            <p class="servises=text">Consulting</p>
                        </div>
                    </div>

                    <div class="services-icons-inner">
                        <a href="@Url.Action("Speaking","WorkWithVladimer")"></a>
                        <div class="services-icon">
                            <img src="~/Assets/img/speaking.png" />
                            <p class="servises=text">Speaking</p>
                        </div>
                    </div>

                    <div class="services-icons-inner">
                        <a href="@Url.Action("StartupAdvising","WorkWithVladimer")"></a>
                        <div class="services-icon">
                            <img src="~/Assets/img/startup-edvising.png" />
                            <p class="servises=text">Startup Advising</p>
                        </div>
                    </div>

                    <div class="services-icons-inner">
                        <a href="@Url.Action("Teaching","WorkWithVladimer")"></a>
                        <div class="services-icon">
                            <img src="~/Assets/img/teaching.png" />
                            <p class="servises=text">Teaching</p>
                        </div>
                    </div>

                    <div class="services-icons-inner">
                        <a href="@Url.Action("Training","WorkWithVladimer")"></a>
                        <div class="services-icon">
                            <img src="~/Assets/img/training.png" />
                            <p class="servises=text">Training</p>
                        </div>
                    </div>

                    <div class="services-icons-inner">
                        <a href="@Url.Action("Workshops","WorkWithVladimer")"></a>
                        <div class="services-icon">
                            <img src="~/Assets/img/workshops.png" />
                            <p class="servises=text">Workshops</p>
                        </div>
                    </div>

                    <div class="services-icons-inner">
                        <a href="@Url.Action("Coaching","WorkWithVladimer")"></a>
                        <div class="services-icon">
                            <img src="~/Assets/img/coatching.png" />
                            <p class="servises=text">Coaching</p>
                        </div>
                    </div>

                    <div class="services-icons-inner">
                        <a href="@Url.Action("Mentoring","WorkWithVladimer")"></a>
                        <div class="services-icon">
                            <img src="~/Assets/img/mentoring.png" />
                            <p class="servises=text">Mentoring</p>
                        </div>
                    </div>

                </div>


                <p class="simple-text">
                    The results will bring you loyal customers, a powerful brand awareness and increased revenues.
                </p>

                <p class="simple-text">
                    He understands the value of working with enthusiastic individuals. Vladimer works one-on-one with clients as a digital marketing coach and mentor. Having served thousands of businesses in the last 10 years, he knows what it means to grow your business.
                </p>

                <p class="simple-text">
                    If you have a particular marketing challenge that you want to help with, you can book a Skype consulting session with Vladimer, so he’ll help you solve your problems as quickly as possible.
                </p>

                <p class="simple-text">
                    If you want comprehensive marketing mentoring choose his mentoring package. Vladimer will tailor a strategy to gain more customers and move your brand forward.
                </p>

                <p class="simple-text">
                    If you are looking for digital marketing training then check out his marketing training services especially for entrepreneurs and marketing managers.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Get noticed online. Vladimer’s digital marketing services have helped thousands of business professionals to create a big picture vision and manage their voice online.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer is thankful that you are interested in working with him. Here are the few ways he can help your business.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    If you’d like to hire Vladimer for your next project or at your next event, please email at info@vladimerbotsvadze to start a conversation.
                </p>

                <br />
                <br />


                <br />
                <br />
            </div>
        </div>
    </div>
</div>




<div class="tesomonials work-with s-shadow">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">

           @Html.Partial("_testimonials", testimonials);

        </div>
    </div>
</div>




@Html.Partial("_BeforeFooter")



@section scripts{
 <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>

        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));



        $(document).ready(function () {
            lightPageName("workwith");
            $(".totalfans").html("@ToTalFans");
        });

    </script>
}