﻿@{

    ViewBag.Title = "Mentoring ";
    ViewBag.Description = "Vladimer Botsvadze - Developing Well-Rounded Global Leaders to Succeed In Today’s Business Environment";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}


<div class="sub-header long gradient work-with-bg work-with-common mentoring content sub-cont">
    <div class="mask">
        <section class="sub-menu"></section>
    </div>
    <div class="slogan-div">
        <h1>Inspiring Successful Leaders Stand Out Through Marketing Mentoring</h1>
        <section class="sub-menu">
            <ul>
                <li><a href="@Url.Action("Index","WorkWithVladimer")">Work With Vladimer</a></li>
                <li><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                <li><a href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                <li><a href="@Url.Action("startupadvising","WorkWithVladimer")">Startup Advising</a></li>
                <li><a href="@Url.Action("teaching","WorkWithVladimer")">Teaching</a></li>
                <li><a href="@Url.Action("training","WorkWithVladimer")">Training</a></li>
                <li><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                <li><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                <li class="active"><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
            </ul>
        </section>
    </div>
</div>







<div class="container work-with content">
    <div class="container-inner">
        <div class="work-with-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
        </div>


        <div class="content">
            <div class="left-side">

                <div class="phrase">
                    "Alone we can do so little, together we can do so much." - Helen Keller
                </div>

                <h2>Vladimer's profile</h2>
                @Html.Partial("_VladimersProfile", ProFileModel)
            </div>

            <div class="right-side main-content workshops wall">
                <h1>Helping Individuals Plan Their Social Media Journey To Accomplish Their<span class="c-red underline"> Goals. </span> </h1>

                <br />
                <br />
                <p class="simple-text">
                    Many individuals do not possess the expertise to create and grow social media tools. Marketing managers are likely to find themselves left behind if they don’t endlessly improve their digital skills. 
                </p>
                <p class="simple-text">
                    Vladimer is one of the world’s most successful internet entrepreneurs and mentors. He is dedicated to providing a world-class small business mentoring and using his extensive experience to help you guide through your own marketing issues. Vladimer offers one-on-one digital marketing mentoring sessions to help individuals plan their social media journey to grow their businesses. He has shown thousands of CEOs and executives from the different countries of the globe how to move their brands forward. His passion is helping people accomplish their goals and everyone has been proud to see the unparalleled results in the industries. 
                </p>

                <br />
                <br />
                <p class="simple-text">
                    Vladimer’s digital marketing mentoring program is the professional development chance you have been waiting for. He won’t offer you ‘’blue prints’’ or ‘’business models’’. Instead he will work with you who you really are, why you are in business, who your fans and followers are. He will develop unique tactics to grow your business. 
                </p>



                <br />
                <br />
                <p class="simple-text">
                    The innovative digital marketing program provides you with 2 months of support focusing on building business through world-class strategy and is conducted via face-to-face, Skype, Google Hangout or phone. 
                </p>


                <br />
                <br />
                <p class="simple-text">
                    Active learning through Vladimer will enormously boost the level of your success. He allows you to discuss ideas in confidential environment. 
                </p>
                <p class="simple-text">
                    Mentoring is about: trust and support, development, how to build capacity and skills, forming a partnership. He can also give your brand a full ‘’health check’’and he can come to your work place weekly or monthly to provide an essential outside view of your performance. 
                </p>
                <p class="simple-text">
                    Vladimer also delivers one-on-one small executive briefings for CEOs and board members enlightening them about digital trends and how these can be used to support your corporation’s goals. His digital marketing mentoring sessions will include the following topics: 
                </p>


                <br />
                <br />

                <h4>Social Media</h4>

                <br />
                <br />
                <p class="simple-text specialties">
                    Explore a number of strategies how to use social media channels to convert fans into visitors
                </p>
                <p class="simple-text specialties">
                    Learn how to optimize your social media channels of Facebook, Twitter, Instagram, LinkedIn, Pinterest, YouTube, Periscope and Snapchat to drive more customer conversion
                </p>
                <p class="simple-text specialties">
                    See how to utilize Facebook, Twitter and LinkedIn Advertising strategically 
                </p>


                <br />
                <br />
                <h4>Content Marketing </h4>

                <br />
                <br />
                <p class="simple-text specialties">
                    Explore which content types will increase your engagement
                </p>
                <p class="simple-text specialties">
                    Learn tips on how to work with social media influencers to promote your business
                </p>

                <br />
                <br />

                <h4>Online Reputation Management  </h4>

                <br />
                <br />

                <p class="simple-text specialties">
                    Learn how to manage your reputation online
                </p>
                <p class="simple-text specialties">
                    Explore tips on how to take your business to the next level through social advocacy Blogging
                </p>
                <p class="simple-text specialties">
                    Learn why blogging is an essential digital marketing tactic to obtain copywriting skills ensuring every post is outstanding
                </p>


                <br />
                <br />

                <h4>Search Engine Optimization   </h4>

                <br />
                <br />

                <p class="simple-text specialties">
                    Learn what you need to know to boost your website’s visibility in search engines
                </p>

                <p class="simple-text specialties">
                    Explore the importance of a 1st page ranking
                </p>

                <p class="simple-text specialties">
                    Discover how measure SEO objectives using Google analysis
                </p>
                <p class="simple-text specialties">
                    Email Marketing 
                </p>
                <p class="simple-text specialties">
                    Learn how investing in email marketing supports your marketing strategy
                </p>
                <p class="simple-text specialties">
                    Discover tools and best tactics to manage email marketing strategy
                </p>
                <p class="simple-text specialties">
                    Thought Leadership 
                </p>
                <p class="simple-text specialties">
                    Become a thought leader in digital marketing. Collaboration opportunities with other digital marketers 
                </p>

                <br />
                <br />

                <h4>So how the process works: </h4>

                <br />
                <br />

                <p class="simple-text steps">
                    <span>Step 1: </span>  Free 30 minute business tune-up session. You will meet or Skype with Vladimer for a 30 minute business tune-up session and discuss the current challenges you are facing. 
                </p>


                <p class="simple-text steps">
                    <span>Step 2: </span> The proposal and recommendations
                </p>
                <p class="simple-text">
                    Vladimer provides a proposal to you.
                </p>


                <p class="simple-text steps">
                    <span>Step 3: </span> Acceptance
                </p>
                <p class="simple-text">
                    You accept the proposal and pay the deposit invoice. He sends his mentoring questionnaire to you and undertakes research into your business and its key competitors. 
                </p>


                <p class="simple-text steps">
                    <span>Step 4: </span>  Session one
                </p>
                <p class="simple-text">
                    He uses this session to discuss goals and what you want to achieve.
                </p>

                <p class="simple-text steps">
                    <span>Step 5: </span>  Ongoing Session Two 
                </p>
                <p class="simple-text">
                    He checks in with you on a monthly process to see how you are progressing. This includes a two hour face-to-face or virtual meeting. 
                </p>
                <p class="simple-text">
                    You will also have the email and phone support during the digital marketing mentoring session. 
                </p>
                <p class="simple-text">
                    2 months after the end of the program he will follow up to hear about your achievement and success. 
                </p>

                <br />
                <br />
                <p class="simple-text specialties">
                    Big or small – Vladimer has got the solution for you. From entry level to expert level. Let’s get started on your project.
                </p>
                <p class="simple-text specialties">
                    Contact him to fast track things. This will be more rewarding than you think. Get in touch. 
                </p>


                <br />
                <br />
                <br />
                <br />
                
            </div>
        </div>
    </div>
</div>




<div class="tesomonials work-with s-shadow">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">
            @Html.Partial("_testimonials", testimonials);
        </div>
    </div>
</div>



@Html.Partial("_BeforeFooter")


@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));



        $(document).ready(function () {
            lightPageName("workwith");
            $(".totalfans").html("@ToTalFans");
        });

    </script>
}

