﻿
@{
    ViewBag.Title = "Speaking ";
    ViewBag.Description = "Vladimer is a renowned, enlightening and vibrant keynote speaker. He works with universities, business and individual service professionals to achieve strategic growth.";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}


<div class="sub-header long gradient work-with-bg work-with-common speaking content sub-cont">
    <div class="mask">
        <section class="sub-menu"></section>
    </div>
    <div class="slogan-div">
        <h1>Vladimer Inspires Audiences</h1>
        <section class="sub-menu">
            <ul>
                <li><a href="@Url.Action("Index","WorkWithVladimer")">Work With Vladimer</a></li>
                <li><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                <li class="active"><a href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                <li><a href="@Url.Action("StartupAdvising","WorkWithVladimer")">Startup Advising</a></li>
                <li><a href="@Url.Action("teaching","WorkWithVladimer")">Teaching</a></li>
                <li><a href="@Url.Action("Training","WorkWithVladimer")">Training</a></li>
                <li><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                <li><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                <li><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
            </ul>
        </section>
    </div>
</div>







<div class="container work-with content wall">
    <div class="container-inner">
        <div class="work-with-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
        </div>


        <div class="content">
            <div class="left-side">

                <div class="phrase">
                    "A leader is one who knows the way, goes the way, and shows the way." - John C. Maxwell
                </div>

                <h2>Vladimer's profile</h2>
                @Html.Partial("_VladimersProfile", ProFileModel)
            </div>

            <div class="right-side main-content">
                <h1>Leading Brands  <span class="c-red underline">Forward.</span> </h1>

                <p class="simple-text">
                    Vladimer is a renowned, enlightening and vibrant keynote speaker. He works with universities, business and individual service professionals to achieve strategic growth. His intelligent and inviting speaking style entertains audiences as he inspires in digital marketing, social media, branding and innovation.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer is results-obsessed and passionately driven to innovate. He is collaborative by nature and constantly pushes boundaries for his valued clients, delivering unique results. In a fast-moving world Vladimer delivers approximately 20 keynote speeches annually. He brings innovative ideas that lead to successful digital marketing campaigns. In his view, listening and engaging on social media with your audience build trust.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    For the last ten years, Vladimer has brought brands and customers together through unprecedented and unique marketing communication. He has an excellent way of looking at problems and solving them. Vladimer is a trusted speaker across global locations and a digital leader behind the global launch of world-leading websites. He speaks on social media strategies that are tailored to accomplish profitable results. He has worked with the world’s best brands in many industries, B2C to B2B and start-ups. Vladimer’s clients results speak for themselves.
                </p>

                <br />
                <br />

                <h4>Specialties: </h4>

                <br />
                <br />

                <p class="simple-text specialties">
                    Using social Media channels
                </p>
                <p class="simple-text specialties">
                    business development
                </p>
                <p class="simple-text specialties">
                    content marketing
                </p>
                <p class="simple-text specialties">
                    big data
                </p>
                <p class="simple-text specialties">
                    marketing Automation
                </p>
                <p class="simple-text specialties">
                    mobile marketing 
                </p>
                <p class="simple-text specialties">
                    social media marketing
                </p>
                <p class="simple-text specialties">
                    Internet of things <span class="upper">(IOT)</span>
                </p>
                <p class="simple-text specialties">
                    search engine optimisation <span class="upper">(SEO)</span>
                </p>
                <p class="simple-text specialties">
                    wearables
                </p>
                <p class="simple-text specialties">
                    online <span class="upper">PR</span>
                </p>


                <br />
                <br />

                <p class="simple-text">
                    Vladimer’s keynote speeches bring you more ideas, more new clients, more calls and more sales. He transforms digital experiences that grow visibility, engagement and value. Whether you need an influencer for a speaking engagement, a private corporate talk or a company training session, If you would like to collaborate with Vladimer please contact at info@vladimerbotsvadze.com or call him directly at his Dubai location.
                </p>

                <br />
                <br />

                <div class="speaking-images">
                    <img src="~/Assets/img/speaking-1.jpg" />
                    <img src="~/Assets/img/speaking-2.jpg" />
                    <img src="~/Assets/img/speaking-3.jpg" />
                    <img src="~/Assets/img/speaking-4.jpg" />
                </div>

                <br />
                <br />
                <br />
                <br />



            </div>
        </div>
    </div>
</div>









<div class="tesomonials work-with s-shadow">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">
           @Html.Partial("_testimonials", testimonials);
        </div>
    </div>
</div>




@Html.Partial("_BeforeFooter")




@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));



        $(document).ready(function () {
            lightPageName("workwith");
            $(".totalfans").html("@ToTalFans");
        });

    </script>
}