﻿
@{
    ViewBag.Title = "Startup Advising ";
    ViewBag.Description = "Vladimer Is Ready To Skyrocket Your Startup";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}


<div class="sub-header long gradient work-with-bg work-with-common startupAdvising content sub-cont">
    <div class="mask">
        <section class="sub-menu"></section>
    </div>
    <div class="slogan-div">
        <h1>Vladimer Is Ready To Skyrocket Your Startup</h1>
        <section class="sub-menu">
            <ul>
                <li><a href="@Url.Action("Index","WorkWithVladimer")">Work With Vladimer</a></li>
                <li><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                <li><a href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                <li class="active"><a href="@Url.Action("StartupAdvising", "WorkWithVladimer")">Startup Advising</a></li>
                <li><a href="@Url.Action("Teaching","WorkWithVladimer")">Teaching</a></li>
                <li><a href="@Url.Action("Training","WorkWithVladimer")">Training</a></li>
                <li><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                <li><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                <li><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
            </ul>
        </section>
    </div>
</div>







<div class="container work-with content">
    <div class="container-inner">
        <div class="work-with-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
        </div>


        <div class="content">
            <div class="left-side">

                <div class="phrase">
                    "I'm convinced that about half of what separates the successful entrepreneurs from the non-successful ones is pure perseverance...." - Steve Jobs
                </div>

                <h2>Vladimer's profile</h2>
                @Html.Partial("_VladimersProfile", ProFileModel)
            </div>

            <div class="right-side main-content startup-advising">
                <h1>Accomplish unrivaled growth and exposure on a global scale and <span class="c-red underline">Vladimer</span> is committed to the success of your startup</h1>

                <br />

                <h4>How Vladimer Can Help You</h4>

                <br />
                <br />

                <p class="simple-text">
                    As a startup you need a technology leader who walks the walk. Someone who has been there and done that, and is willing to guide you and navigate you through the unexplored territory of a startup. While 9 out 10 startups fail within the first year, Vladimer provides the essential tools to move your startup forward. He is a startup growth advisor, serves to a number of companies and is on the board of directors. He has helped the startups go from zero customer to over 10,000 customers, 8,000 employees, and $100million in revenue.
                </p>
                <p class="simple-text">
                    Vladimer has taken years of experience as an entrepreneur and he is also an educator of entrepreneurship at the world’s top business schools. He has been all over the world to advise some of the largest startups. Vladimer provides them direction and guidance. He holds regular meetings where main issues related to startups are discussed.
                </p>
                <p class="simple-text">
                    Vladimer helps you accomplish unrivaled growth and exposure on a global scale and he is committed to the success of your startup.
                </p>

                <br />
                <br />

                <h4>Highlights: </h4>

                <br />
                <br />

                <ul>
                    <li><p class="simple-text">- Over a decade of experience </p></li>
                    <li><p class="simple-text">- Ranked 0.1% Globally – Entrepreneurship and Marketing – Klout </p></li>
                    <li><p class="simple-text">- Being an advisor at 500 startups   </p></li>
                </ul>

                <br />
                <br />

                <h4>Process</h4>

                <br />
                <br />


                <div class="process">

                    <div class="process-outer">
                        <div class="process-image">
                            <img src="~/Assets/img/meeteng.png" alt="meeteng" />
                        </div>
                        <div class="process-header">
                            Meeting
                        </div>
                        <div class="process-body">
                            Brainstorm and ideation
                        </div>

                    </div>

                    <div class="process-outer">
                        <div class="process-image">
                            <img src="~/Assets/img/evaluation.png" alt="meeteng" />
                        </div>
                        <div class="process-header">
                            Evaluation
                        </div>
                        <div class="process-body">
                            Industry analysis
                        </div>

                    </div>

                    <div class="process-outer">
                        <div class="process-image">
                            <img src="~/Assets/img/Planning.png" alt="meeteng" />
                        </div>
                        <div class="process-header">
                            Planning
                        </div>
                        <div class="process-body">
                            Mapping out actionables from <span class="c-red">3</span> month to <span class="c-red">5</span> years
                        </div>

                    </div>

                    <div class="process-outer">
                        <div class="process-image">
                            <img src="~/Assets/img/Diagnostics.png" alt="meeteng" />
                        </div>
                        <div class="process-header">
                            Diagnostics
                        </div>
                        <div class="process-body">
                            Keeping your operationson track with your vision
                        </div>

                    </div>

                    <div class="process-outer">
                        <div class="process-image">
                            <img src="~/Assets/img/marketing-solutions.png" alt="meeteng" />
                        </div>
                        <div class="process-header">
                            Marketing Solutions
                        </div>
                        <div class="process-body">
                            Online Marketing & Social Media Brand Building
                        </div>
                    </div>


                </div>


                <br />
                <br />

                <p class="simple-text">
                    The Return on Investment from this session will be huge.
                </p>
                <p class="simple-text">
                    This deal will very likely to sell out quickly so make you sure you reserve your spot now.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Grab this deal now and he will speak with you soon!
                </p>

                <br />
                <br />
                <br />

            </div>
        </div>
    </div>
</div>









<div class="tesomonials work-with s-shadow">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">
            @Html.Partial("_testimonials", testimonials);
        </div>
    </div>
</div>




@Html.Partial("_BeforeFooter")



@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));




        $(document).ready(function () {
            lightPageName("workwith");
            $(".totalfans").html("@ToTalFans");
        });

    </script>
}