﻿
@{
    ViewBag.Title = "Teaching ";
    ViewBag.Description = "Vladimer is one of the world’s leading marketing professors with a focus on social media marketing and storytelling.";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}


<div class="sub-header long gradient work-with-bg work-with-common teaching content sub-cont">
    <div class="mask">
        <section class="sub-menu"></section>
    </div>
    <div class="slogan-div">
        <h1>Developing Global Leaders Who Disrupt</h1>
        <section class="sub-menu">
            <ul>
                <li><a href="@Url.Action("Index","WorkWithVladimer")">Work With Vladimer</a></li>
                <li><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                <li><a href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                <li><a href="@Url.Action("startupadvising","WorkWithVladimer")">Startup Advising</a></li>
                <li class="active"><a href="@Url.Action("teaching","WorkWithVladimer")">Teaching</a></li>
                <li><a href="@Url.Action("Training","WorkWithVladimer")">Training</a></li>
                <li><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                <li><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                <li><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
            </ul>
        </section>
    </div>
</div>







<div class="container work-with content">
    <div class="container-inner">
        <div class="work-with-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
        </div>


        <div class="content">
            <div class="left-side">

                <div class="phrase">
                    “The way of success is the way of continuous pursuit of knowledge.” - Napoleon Hill 
                </div>
                <h2>Vladimer's profile</h2>
                @Html.Partial("_VladimersProfile", ProFileModel)
            </div>

            <div class="right-side main-content teaching">
                <h1><span class="c-red underline">Vladimer</span>  prepares students to think forward and encourages them to become problem solvers </h1>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer is one of the world’s leading marketing professors with a focus on social media marketing and storytelling.  
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer received his BA in IT from Georgia Technical University, his MA in Economics and Ph.D. in supply chain management specializing in global marketing. 
                </p>
                <p class="simple-text">
                    He is recognized as a marketing leader by the world’s leading business schools including:
                </p>

                <br />
                <br />

                <div class="teaching-images">
                    <img src="~/Assets/img/teaching-universities.png" alt="treaching unis" />
                </div>

                <br />
                <br />

                <p class="simple-text">
                    He is currently the CEO of Botsvadze Global Marketing Solutions, a brand and marketing consulting firm, and an advisor to some of the world’s top advertising agencies. 
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer has over 25 career awards for contributions to marketing, a Top 100 Marketing Influencer by Onalytica, London, UK, a Top 100 Marketing and Branding Expert by Evan Carmichael, the Most Influential Digital Marketer in the United Arab Emirates by Klear, Top 0.1% Worldwide Social Influencer by Klout, Social Media Superstars by Listpedia and more. 
                </p>

                <br />
                <br />

                <p class="simple-text">
                    As a leading advisor and speaker, he’s had the privilege of working with global and the Fortune 500 companies, popular Television figures and more. He has inspired the world-leading companies including Microsoft, HP, Aston Martin, FedEx, Audi, and Adidas.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    His research interests include – social media marketing, mobile marketing, international marketing, global e-commerce, leadership, and the Internet of Things. He is the author of more than 10 articles and 9 books on marketing and social media. 
                </p>

                <br />
                <br />


                <div class="special-links">
                    <div>
                        <h3>2014</h3>
                        <a href="http://www.slideshare.net/DrVladimerBotsvadze/social-media-2014-40031206" target="_blank">Social Media 2014 </a>
                        <a href="http://www.slideshare.net/DrVladimerBotsvadze/10-marketing-predictions-for-2015" target="_blank">10 Marketing Predictions for 2015 </a>
                        <a href="http://www.slideshare.net/DrVladimerBotsvadze/instagram-for-business-42142582" target="_blank">Instagram For Business  </a>
                        <a href="http://www.slideshare.net/DrVladimerBotsvadze/top-20-vintage-ads-40089341" target="_blank"> Top 20 Vintage Ads </a>
                    </div>
                    <div>
                        <h3>2015</h3>
                        <a href="http://www.slideshare.net/DrVladimerBotsvadze/google-mobile-marketing-44569589" target="_blank"> Google Mobile Marketing  </a>
                        <a href="https://www.linkedin.com/pulse/10-david-ogilvy-quotes-vladimer-botsvadze" target="_blank"> 10 David Ogilvy Quotes  </a>
                        <a href="http://www.slideshare.net/DrVladimerBotsvadze/how-the-internet-of-things-will-create-a-smart-world-51078424" target="_blank"> How the Internet of Things Will Create a Smart World  </a>
                        <a href="https://www.linkedin.com/pulse/top-20-most-inspiring-company-mission-statements-vladimer-botsvadze" target="_blank"> Top 20 Most Inspiring Company Mission Statements    </a>
                        <a href="https://www.linkedin.com/pulse/how-real-marketing-practitioners-use-twitter-2015-vladimer-botsvadze" target="_blank">  How Real Marketing Practitioners Use Twitter in 2015  </a>
                        <a href="https://www.linkedin.com/pulse/why-snapchat-winning-attention-vladimer-botsvadze" target="_blank"> Why Snapchat is Winning Attention  </a>
                        <a href="https://www.linkedin.com/pulse/why-snapchat-winning-attention-vladimer-botsvadze" target="_blank"> Habits of Collaborative Leaders  </a>
                    </div>
                </div>


                <br />
                <br />

                <p class="simple-text">
                    Aside from his research, Vladimer is plugged in what is going in the world of marketing. He has already produced the innovative 52,000 tweets, over 10,000 enlightening Instagram posts, his Google+ profile has gained over 2,700,000 views, and he possesses the most viewed blogs on WordPress, Tumblr and Blogger. Over 60,000 individuals follow Vladimer across his social media platforms.
                </p>


                <br />
                <br />


                <p class="simple-text">
                    Vladimer has collaborated at the Cannes Lions Festival of Creativity with a plethora of companies, including Facebook, Uber, Airbnb and with a number of ad agencies. He has close engagement with marketing practitioners. 
                </p>


                <br />
                <br />

                <p class="simple-text">
                    On the teaching point, he has taught marketing and social media in a degree course as well as in an executive program in The Americas, Europe, the Middle East, and Asia. He has personally directed over 15 executive programs. Furthermore, he designed and launched MBA and EMBA programs. His students have won several dissertation awards. 
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Vladimer teaches the groundbreaking programs that not only cover fundamentally significant subjects such as social media and branding, but also has a strong emphasis on storytelling, digital marketing and entrepreneurship. Topics will equip you with practical tools for the application of marketing strategies.  
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Marketing is a fast moving field. Therefore the knowledge that you will acquire through Vladimer’s lectures are continuously updated to include the latest theoretical developments and the newest practical developments. He prepares students to think forward and encourage them to become problem solvers.  
                </p>

                <br />
                <br />

                <p class="simple-text">
                    His lectures cover the following topics:
                </p>

                <br />
                <br />

                <h4>
                    Marketing 
                </h4>

                <br />
                <br />

                <p class="simple-text">
                    This topic aims to introduce you to the marketing discipline, briefly explaining the history of marketing practice and contemporary issues. 
                </p>

                <br />
                <br />

                <h4>
                    Digital Marketing 
                </h4>

                <br />
                <br />

                <p class="simple-text">
                    This topic is tailored to enable you to explore both established and emerging forms of digital marketing. A range of topics will be discussed such as word-of-mouth campaigns, search engine optimization, the growing influence of ‘’big data’’ and more. 
                </p>

                <br />
                <br />

                <h4>
                    Marketing Strategy & Practice 
                </h4>

                <br />
                <br />

                <p class="simple-text">
                    The objective of this topic is to enhance skills in marketing and presenting marketing plans. This will require forming objectives, SWOT analysis, market research and forecasting, and market mix strategy formation. 
                </p>

                <br />
                <br />

                <h4>
                    Branding Strategy 
                </h4>

                <br />
                <br />

                <p class="simple-text">
                    This topic will provide you with a critical understanding of how brand strategy integrate a variety of perspectives – the social, managerial and creative aspects of branding. 
                </p>

                <br />
                <br />


                <h4>
                    Social Media 
                </h4>

                <br />
                <br />

                <p class="simple-text">
                    Does the term ‘’Snapchat’’ sound familiar? Do you expect to use a mobile phone or the Internet in the future? Of course you do, which is why this topic is relevant for your future career in marketing.
                </p>

                <br />
                <br />

                <h4>
                    Data-Driven Marketing 
                </h4>

                <br />
                <br />

                <p class="simple-text">
                    Explore how data driven marketing can build customer knowledge. Having successfully completed this topic, you will be able to recognize the potential of business intelligence (BI), predictive analytics and data mining for gaining actionable customer insights and supporting marketing decisions. Discuss common modelling tasks and types of techniques used in analytical CRM, web analytics and campaign management. 
                </p>

                <br />
                <br />


                <h4>
                    Web Analytics 
                </h4>

                <br />
                <br />

                <p class="simple-text">
                    Discover how web analytics can build knowledge of online customer behavior and campaign effectiveness. Having successfully completed this module, you will be able to make informal decisions on how to analyze and interpret web channel data, estimate different types of software tools, techniques and reports that are relevant to web analytics. 
                </p>

                <br />
                <br />


                <h4>
                    Design Thinking in Marketing
                </h4>

                <br />
                <br />

                <p class="simple-text">
                    This topic aims to provide you with a critical role of design in marketing. On successful completion of this topic you should be able to discuss the scale of scope of design in marketing and business practice, analyze the business implications of adopting ‘’design thinking’’, present a business case using appropriate and visual tools. 
                </p>

                <br />
                <br />


                <h4>
                    Storytelling 
                </h4>

                <br />
                <br />

                <p class="simple-text">
                    Storytelling is at the center of new marketing today. Whether your goals are rooted in search engine optimization, lead generation or leveraging social media tools, none of them will be effective without compelling storytelling.
                </p>

                <br />
                <br />


                <p class="simple-text">
                    Please feel free to contact Vladimer if you would like to work him. 
                </p>

                <br />
                <br />
                <br />


            </div>
        </div>
    </div>
</div>




<div class="tesomonials work-with s-shadow">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">
            @Html.Partial("_testimonials", testimonials);
        </div>
    </div>
</div>




@Html.Partial("_BeforeFooter")

@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));



        $(document).ready(function () {
            lightPageName("workwith");
            $(".totalfans").html("@ToTalFans");
        });

    </script>
}

