﻿
@{
    ViewBag.Title = "Training ";
    ViewBag.Description = "Vladimer Botsvadze - The Best Digital Training In Global Technological Hubs";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}


<div class="sub-header long gradient work-with-bg work-with-common training content sub-cont">
    <div class="mask">
        <section class="sub-menu"></section>
    </div>
    <div class="slogan-div">
        <h1>The Best Digital Training In Global Technological Hubs</h1>
        <section class="sub-menu">
            <ul>
                <li><a href="@Url.Action("Index","WorkWithVladimer")">Work With Vladimer</a></li>
                <li><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                <li><a href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                <li><a href="@Url.Action("startupadvising","WorkWithVladimer")">Startup Advising</a></li>
                <li><a href="@Url.Action("teaching","WorkWithVladimer")">Teaching</a></li>
                <li class="active"><a href="@Url.Action("training","WorkWithVladimer")">Training</a></li>
                <li><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                <li><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                <li><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
            </ul>
        </section>
    </div>
</div>







<div class="container work-with content">
    <div class="container-inner">
        <div class="work-with-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
        </div>


        <div class="content">
            <div class="left-side">

                <div class="phrase">
                    "If you don't innovate fast, disrupt your industry, disrupt yourself, you'll be left behind." - John Chambers
                </div>

                <h2>Vladimer's profile</h2>
                @Html.Partial("_VladimersProfile", ProFileModel)
            </div>

            <div class="right-side main-content teaching">
                <h1>Take a step towards the <span class="c-red underline">Future.</span> </h1>

                <br />
                <br />

                <p class="simple-text">
                    The world is getting online and brands are desperate for digital talent. There has never been a better time to upgrade your career your career prospects with a globally sought-after training in digital marketing. Few have improved their skill-set, tool-set and mindset required to succeed. The gap between market opportunity and firm capability continues to widen as only 48% of digital marketers feel proficient in social media marketing. One of the largest contributors to this gap is lack of investment in training: only 18% of marketers take part in-person courses compared to 82% who learn digital marketing at work. Vladimer delivers a variety of training programs to address this gap and is one of the world’s leading independent providers of digital marketing training. He wants to help you and your business grow through unprecedented digital marketing practices. Vladimer will work with you to identify specific training objectives for your team, with the aim of training skills and knowledge to business.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    He has trained over 2,000 individuals across 30 countries and 6 continents, providing corporations and executives with the cutting-edge skills needed to thrive in today’s digital world. Vladimer’s world-class digital marketing expertise is recognized by American Marketing Association, Content Marketing Institute, London Business School, Imperial Business School and Melbourne Business School. Also validated by the leading industry giants such as Microsoft, HP, DHL and more.
                </p>

                <br />
                <br />

                <p class="simple-text"> Vladimer can deliver a one-day training on-site at your office to help your brand’s digital growth. The program gets updated every quarter, so it’s always 100% innovative.</p>
                <p class="simple-text">The training is relevant for teams of every scale of business. Whether you are a startup, medium or large enterprise, Vladimer can custom-design a program on your requirements.</p>
                <p class="simple-text">Companies such as Aston Martin, HP, Microsoft, KLM, Audi got inspired by Vladimer on social media. He has been the trainer for Fortune 500, the leading business schools, consulting and market research firms. His awards are matchless as he is considered the most influential digital marketer in Dubai, United Arab Emirates, a world’s Top 100 Marketing Influencer, a Top 1% social media contributor, a Top 100 Branding Expert and more.</p>
                <p class="simple-text">Vladimer has extensive digital marketing experience from both a professional as well as academic perspective. He is responsible for organizing trainings in London, Dubai, Doha, Singapore, Hong Kong and Shanghai.</p>
                <p class="simple-text">Vladimer has a growing collection of topics with practical outcomes. Here are digital marketing training contents: </p>


                <br />
                <br />

                <p class="header-red-text">
                    Social Media Marketing
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Twitter Marketing, Facebook, LinkedIn, Pinterest, Snapchat.
                </p>
                <p class="simple-text">
                    Learn all social media optimization and how to interact and engage with your potential customers.
                </p>

                <br />
                <br />

                <p class="header-red-text">
                    Digital Marketing Strategy
                </p>

                <br />
                <br />

                <p class="simple-text">
                    How to set up a digital marketing agency and where you can gain clients from.
                </p>

                <br />
                <br />

                <p class="header-red-text">
                    Online Reputation Management
                </p>

                <br />
                <br />

                <p class="simple-text">How to manage your personal brand online and how to grow it.  </p>

                <br />
                <br />

                <p class="header-red-text">
                    Social Selling
                </p>

                <br />
                <br />

                <p class="simple-text">Learn how to understand the power of listening and influencing. Measure success using social selling align sales and marketing to deliver company objectives</p>


                <br />
                <br />

                <p class="header-red-text">
                    Search Engine Optimization
                </p>

                <br />
                <br />


                <p class="simple-text">Rank any website on top of Search Engines. Learn cutting-edge on-page, off-page optimization and Google Webmaster tool.</p>
                <br />
                <br />

                <p class="header-red-text">Google Analytics </p>

                <br />
                <br />

                <p class="simple-text">Analyze, measure and improve the performance of digital campaigns and calculate ROI. </p>
                <br />
                <br />
                <p class="header-red-text">Mobile Marketing  </p>
                <br />
                <br />
                <p class="simple-text">Market your services and products on mobile apps, IOS and Android devices. Create campaigns for mobile marketing. </p>

                <br />
                <br />

                <p class="header-red-text">
                    Hashtag Marketing
                </p>

                <br />
                <br />

                <p class="simple-text"> Learn how to discover the most rewarding and trending hashtags. </p>

                <br />
                <br />

                <p class="header-red-text"> Live Streaming  </p>

                <br />
                <br />

                <p class="simple-text"> Learn how to utilize live streaming for your brand: Facebook Live, YouTube live streaming, Periscope, Snapchat Live Stories, Instagram Live and more.   </p>


                <br />
                <br />

                <p class="header-red-text">
                    E-mail Marketing
                </p>

                <br />
                <br />

                <p class="simple-text"> Create and send thousands of emails, generate leads and sales with email marketing. </p>


                <br />
                <br />


                <p class="header-red-text">
                    Marketing Through Blogs
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Learn how to set up and write a blog, build readership, the do’s and don’ts of blogging, blogging as a marketing tool.
                </p>

                <br />
                <br />

                <p class="header-red-text">
                    Media Buying
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Create a media buying proposal for a client and publisher. Understand how online advertisements are served. Advertise on social media channels. The pros and cons of different ad placements. Understand campaign analysis and performance.
                </p>

                <br />
                <br />

                <p class="header-red-text">
                    Video Marketing
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Learn how to engage your viewers with your videos and turn them into customers.
                </p>
                <p class="simple-text">
                    Upon completion of this training, you will open gates for various industries and get a myriad of job opportunities in digital marketing industry.
                </p>

                <br />
                <br />

                <p class="simple-text">
                    Boost business revenue with an extra outlet sales online, save up to 70% of advertising cost with online advertising. Expand your business to a wider geographical area by marketing it online.
                </p>
                <p class="simple-text">
                    Contact Vladimer and let him know what you need. He will set up a call for you to identify the most suitable topics and strategies that are tailored to your requirement. Once you are confident about the most appropriate training solution he will schedule a digital marketing training at your place.
                </p>



                <br />
                <br />
                <br />


            </div>
        </div>
    </div>
</div>




<div class="tesomonials work-with s-shadow">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">
            @Html.Partial("_testimonials", testimonials);
        </div>
    </div>
</div>


@Html.Partial("_BeforeFooter")


@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));



        $(document).ready(function () {
            lightPageName("workwith");
            $(".totalfans").html("@ToTalFans");
        });

    </script>
}

