﻿@{
    ViewBag.Title = "Workshops ";
    ViewBag.Description = "Vladimer Botsvadze - Developing Well-Rounded Global Leaders to Succeed In Today’s Business Environment";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);
}


<div class="sub-header long gradient work-with-bg work-with-common workshops content sub-cont">
    <div class="mask">
        <section class="sub-menu"></section>
    </div>
    <div class="slogan-div">
        <h1>Developing Well-Rounded Global Leaders Who Succeed In Today’s Business Environment</h1>
        <section class="sub-menu">
            <ul>
                <li><a href="@Url.Action("Index","WorkWithVladimer")">Work With Vladimer</a></li>
                <li><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                <li><a href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                <li><a href="@Url.Action("startupadvising","WorkWithVladimer")">Startup Advising</a></li>
                <li><a href="@Url.Action("teaching","WorkWithVladimer")">Teaching</a></li>
                <li><a href="@Url.Action("training","WorkWithVladimer")">Training</a></li>
                <li class="active"><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                <li><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                <li><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
            </ul>
        </section>
    </div>
</div>







<div class="container work-with content">
    <div class="container-inner">
        <div class="work-with-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
        </div>


        <div class="content">
            <div class="left-side">

                <div class="phrase">
                    "A leader who produces other leaders multiples their influences." - John C. Maxwell
                </div>

                <h2>Vladimer's profile</h2>
                @Html.Partial("_VladimersProfile", ProFileModel)
            </div>

            <div class="right-side main-content workshops wall">
                <h1>Discover The Practical Value of <span class="c-red underline">Knowledge</span> </h1>

                <br />
                <br />

                <p class="simple-text">
                    Individuals who manage businesses should at least have some understanding what roles digital marketing and social media play in helping their brands grow. It can be difficult for those who are approaching this field with minuscule experience. Boost your marketing talent and accelerate your business from the comfort of your own office. 
                </p>
                <p class="simple-text">
                    You want your staff to know the cutting-edge strategies to move your brand forward. But where do you start? Vladimer brings world-class digital marketing workshops, online tools and digital solutions to different cities across the globe. His workshops promote a comprehensive understanding and put you on a path to a strong digital ecosystem. 
                </p>
                

                <br />
                <br />
                <p class="simple-text">
                    Over the last 5 years, Vladimer has helped thousands of executives in social media and delivered workshops for a wide range of clients. His immersive and interactive workshops have an exceptional track record of success. Attendees will learn to think strategically and accomplish their goals, such as brand building awareness, lead generation and increased sales. The significance of why engaging social channels must be an essential part of your business and how to surpass your competitors.
                </p>
                <p class="simple-text">
                    Through these workshops Vladimer aims to proper your digital entrepreneurial aspirations and make them a reality.
                </p>


                <br />
                <br />
                <p class="simple-text">
                    The five-hour session is as collaborative and responsive as you would expect from a coach with world-class expertise. The workshops are suitable for Chief Marketing Officers, marketing managers, CIOs, chief data officers, agency strategists and executives, and anyone who are interested in measuring ROI from social media. 
                </p>


                <br />
                <br />
                <p class="simple-text">
                    There are question and answer sessions, hands-on development, and a myriad of opportunities to pick the brain from someone who has been through the similar situation for many years. 
                </p>
                <p class="simple-text">
                    It can be run at your office a full day and half day. Vladimer’s workshops have a 100 percent record of participants saying they will consider it value for money and they’d recommend it to a friend. 
                </p>

                <br />
                <br />

                <h4>Available workshop topics include: </h4>

                <br />
                <br />

                <p class="simple-text specialties">
                    Introduction to Digital Marketing
                </p>
                <p class="simple-text specialties">
                    Comparison of Digital Marketing with Traditional Marketing 
                </p>
                <p class="simple-text specialties">
                    Digital Marketing industry growth
                </p>
                <p class="simple-text specialties">
                    Digital Marketing as a tool of success for brands 
                </p>
                <p class="simple-text specialties">
                    Social Media Branding 
                </p>
                <p class="simple-text specialties">
                    Social Media Measurement 
                </p>
                <p class="simple-text specialties">
                    Social Media <span class="upper">ROI</span>
                </p>
                <p class="simple-text specialties">
                    Competitive snapshot of market trends 
                </p>
                <p class="simple-text specialties">
                    Recommended actions and estimates 
                </p>
                <p class="simple-text specialties">
                    Content Marketing 
                </p>
                <p class="simple-text specialties">
                    Creating Online Business Opportunities
                </p>
                <p class="simple-text specialties">
                    Search Engine Marketing 
                </p>


                <br />
                <br />
                <p class="simple-text">
                    There are group, question and answer session and a lot of laughs. If you aim to generate more sales and leads online learn how to get noticed on Google and become a master of social media. Vladimer can’t wait to meet you. Contact him today for more information about scheduling a workshop. 
                </p>


                <br />
                <br />
                <br />
                <br />


            </div>
        </div>
    </div>
</div>




<div class="tesomonials work-with s-shadow">
    <h4>Testimonials</h4>
    <div class="carousel-wrapper">
        <div class="carousel-inner">
            @Html.Partial("_testimonials", testimonials);
        </div>
    </div>
</div>





@Html.Partial("_BeforeFooter")


@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });
        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
               {
                   name = q.Name,
                   y = q.ActivityCount
               })));




        $(document).ready(function () {
            lightPageName("workwith");
            $(".totalfans").html("@ToTalFans");
        });


    </script>
}

