﻿
@{
    ViewBag.Title = "Contact ";
    ViewBag.Description = "Have a Business? Contact Vladimer";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
}

<div class="sub-header blogs gradient contact">
    <h1>Contact</h1>
</div>



<div class="wrapper contact">
    <div class="companies-wrapper">
        <h3 class="response-message">@ViewBag.response</h3>
        <div class="container">
            <div class="container-inner">

                <div class="bg-shadow s-shadow contact"></div>


                <div class="vl-contact index">
                    <h1>Have a Business? <span>Contact</span> Vladimer</h1>
                    <div class="contact-form in-contact">
                        
                        <form action="@Url.Action("index","contact")" method="post" class="contact-form-inputs">
                            <input type="text" placeholder="YOUR NAME" name="Name" />
                            <input type="text" placeholder="YOUR EMAIL" name="Email" />
                            <input type="text" placeholder="SUBJECT" name="Subject" />
                            <textarea placeholder="YOUR MESSAGE" name="Content" >
                            </textarea>
                            <button>Send</button>
                        </form>

                        <div class="contact-profile">
                            <div class="item">
                                <div class="item-img">
                                    <div style="background-image:url(@Url.Content("/assets/img/vladmier.png"))"></div>
                                    <img src="@Url.Content("/assets/img/Terence-Mauri--avatar.png")" alt="" />
                                </div>
                                <div class="item-desc">
                                    <h3>Terence Mauri</h3>
                                    <p>Entrepreneur Mentor at <span>London Business School</span></p>
                                    <div class="desc-text">
                                        <p>"His track record and know-how ensure you get a world class solution to your social media and digital marketing needs. He always exceeds expectations."
                                        </p>

                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="getintouch">
                        <div class="getintouch-inner">
                            <h4>Get in Touch</h4>
                            <p class="cont-phone">+995 557 254 984</p>
                            <p class="cont-phone">+971 505 729 891</p>
                            <p class="cont-email">info@vladimerbotsvadze.com</p>
                            <p class="cont-skype">VladimerBotsvadze</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_BeforeFooter")






@section scripts{
    <script>
        $(document).ready(function () {
            lightPageName("contact");
        });
    </script>
}