﻿@model List<VBortsvadze.BL.Models.RecognitionViewModel>

@{
    ViewBag.Title = "Awards ";
    ViewBag.Description = "Vladimer has won or has been nominated for over 25 awards for his work across social media, digital marketing, branding, online advertising and more.";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sub-header long gradient recognitions content sub-cont">
    <h1>Awards</h1>
</div>


<div class="container recognitions content">
    <div class="container-inner recognitions">
        <div class="recognitions-info">
            <div class="img-div">
                <img src="~/Assets/img/vladime-about-img.jpg" alt="vladimer-photo" class="s-shadow" />
            </div>
            <div class="info-outer">
               
            </div>
        </div>


        <div class="recognition-info-outer">
            <div></div>
            <div>
                <div class="info-inner">
                    <h1>Leading Brands <span class="c-red">Forward.</span></h1>
                    <p>Innovation Defines Everything Vladimer Does </p>
                    <p>Vladimer has won or has been nominated for over 25 awards in the last 2 years for his work across social media, digital marketing, branding, online advertising and more. Below are some of his recent awards. </p>
                </div>
            </div>
        </div>




        <div class="recognitions-cont">
            @foreach (var yearList in Model)
            {

                <div class="recognition-year-cont">
                    <div class="year-cont">
                        <h1>@yearList.Year</h1>
                    </div>

                    <div class="recognitions-data">


                        @foreach (var item in yearList.List)
                    {
                    <div class="recognition-outer">
                        <div class="recognition-inner  s-shadow">
                            <div class="recognition-name">
                                <p>@item.Title</p>
                            </div>
                            <div class="recognition-description">
                                <div class="rec-image">
                                    <img src="@Url.Content("~/Uploads/Images/Recognitions/")@item.Logo" alt="google analytics" />
                                </div>
                                <div class="recognition-text">
                                    <p>@item.Content</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                    </div>
                </div>
            }

        </div>
    </div>
</div>




@Html.Partial("_BeforeFooter")




@section scripts{
    <script>
        $(document).ready(function () {
            lightPageName("awards");
        });
    </script>
}