﻿* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.burger {
    display: none;
}

.close-burger {
    display: none;
}

@mixin clearfix {
    content: "";
    clear: both;
    display: block;
}

@mixin bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@font-face {
    font-family: "helvetica";
    src: url("../fonts/Helvetica.otf");
}

@font-face {
    font-family: "helvetica-neue-bold";
    src: url("../fonts/helvetica-neue-bold.ttf");
}

@font-face {
    font-family: "Akkurat-Bold";
    src: url("../fonts/Akkurat Bold.otf");
}

@font-face {
    font-family: "Myriad-Pro-Regular";
    src: url("../fonts/MyriadPro-Regular");
}


.all-rights {
    position: relative;
    clear: both;
    color: #fff;
    margin-top: 34rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Akkurat-Bold";
    font-size: 1.5rem;
}

.bookin-popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999999;
    background-color: rgba(0, 0, 0, .7);
    display: none;

    .bookin-inner {
        padding: 4.8rem 5rem;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        width: 53%;

        .bookin-header {
            position: relative;

            .close-bookin-pupup {
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
                height: 20px;
                background-image: url(../img/closexxxxxxxxx.png);
                cursor: pointer;
            }

            h1 {
                color: #393636;
                font-family: helvetica-neue-bold;
                font-family: 2.4rem;
                margin-bottom: 1rem;
            }

            p {
                font-family: helvetica;
                font-size: 1.6rem;
                color: #7f7d7d;
                margin-bottom: 4rem;
            }
        }

        p.please-select {
            color: #fb3f4c;
            font-family: helvetica;
            font-size: 1.6rem;
            margin-bottom: 2.5rem;
        }

        .bookin-section-wrapper {
            padding: 0 2.5rem 0 2.5rem;
            border: 1px solid #f2f2f2;

            .unvisible-section-cont {
                margin-top: 3rem;
                display: none;

                p {
                    font-size: 1.4rem;
                    color: #7f7d7d;
                    font-family: helvetica;
                }
            }


            .visible-section-content {
                position: relative;
                padding: 2.5rem;
                cursor: pointer;

                .seemore-bookin-icon {
                    float: right;
                    margin-right: 2.5rem;
                    width: 16px;
                    height: 16px;
                    font-family: helvetica;
                    font-size: 3rem;
                    color: #9d9b9b;
                }

                &:hover {
                    .seemore-bookin-icon {
                        color: #fb3f4c;
                    }

                    .icon-bookin-section {
                        background-color: #fb3f4c;
                    }

                    p {
                        color: #fb3f4c;
                    }
                }

                &::after {
                    content: "";
                    clear: both;
                    display: block;
                }

                p {
                    float: left;
                    margin-top: 2rem;
                    font-family: helvetica;
                    font-size: 1.8rem;
                    color: #7c7979;
                }

                .icon-bookin-section {
                    margin-right: 2.5rem;
                    width: 60px;
                    height: 60px;
                    background-position: center center;
                    background-color: #e7edf4;
                    float: left;
                    background-repeat: no-repeat;
                    border-radius: 50%;

                    &:first-child {
                        background-image: url(../img/first-chdil.png);
                    }

                    &.skype-icon-popup {
                        background-image: url(../img/skypeeee.png);
                    }
                }
            }
        }
    }
}


/* -------- Global Start ---------*/

.container {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;

    &:after {
        @include clearfix;
    }

    &.content {
        position: relative;
        top: 100px;
    }
}

.content.sub-cont {
    position: relative;
    top: 100px;
}


.container-inner {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;

    &:after {
        @include clearfix;
    }
}

.container-fluid {
    width: 100%;

    &:after {
        @include clearfix;
    }
}

/* -------- Global End ---------*/


/* -------- Header Start ---------*/
header.black {
    background-color: #060606;

    .container .nav nav ul li a {
        color: #fff;
    }

    .container .nav nav ul li a.active {
        color: #ccc;
    }

    .container .logo img {
        -webkit-filter: brightness(9.9);
        filter: brightness(9.9);
    }
}


/* -------- Online Influence ---------*/
/* -------- Online Influence ---------*/
.influencechart {
    margin-bottom: 22%;

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

.tweet-influence {
    .tw-inner-vl-oi {
        margin-right: 2%;
        width: 16%;
        float: left;

        span {
            font-family: "Akkurat-Bold";
            font-size: 1.3rem;
            color: #7d8ac3;
            font-weight: normal;
            text-align: center;
            width: 100%;
            display: block;
        }

        div {
            text-align: center;

            h2 {
                font-family: "Akkurat-Bold";
                font-size: 1.8rem;
                color: #292f33;
                font-weight: normal;

                i {
                    font-family: "Akkurat-Bold";
                    font-size: 1.4rem;
                    color: #25b379;
                    font-weight: normal;
                    font-style: normal;
                    padding-left: 1.8rem;
                    background-image: url(../img/download-arrow.svg);
                    background-size: 36% 11px;
                    background-position: left center;
                    background-repeat: no-repeat;
                    transform: rotate(90deg);
                }
            }

            img {
                width: 100%;
                height: 3.5rem;
                margin-top: 1rem;
            }
        }
    }
}

.influence-bg {
    height: 353px;
    background-image: url(../img/training-bg.jpg);
    position: relative;
    background-size: 100% 100%;
    margin-top: 10rem;

    h1 {
        top: 3rem;
        color: #fff;
        position: absolute;
        margin: 0;
        font-family: "helvetica-neue-bold";
        font-size: 9.4rem;
        width: 100%;
        text-align: center;
    }

    p {
        font-family: "helvetica";
        color: #fff;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 3.8rem;
        top: 49%;
    }
}

.influencechart {
    margin-top: 12px;
    margin-left: 100px;

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

.influce-top-block.on-main {
    margin-top: 100px;
}

.left-side-influenceblock {
    padding: 3rem;
    box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.05);
    width: 40%;
    height: 250px;
    margin-top: 7rem;
    position: relative;
    box-sizing: border-box;
    float: left;
    background: white;
}

.right-side-influenceblock {
    width: 55%;
    margin-left: 5%;
    float: left;
    box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.05);
    padding: 3rem;
    height: 250px;
    margin-top: 7rem;
    position: relative;
    box-sizing: border-box;
    background: white;

    .influence-texts-wrapper {
        width: 40%;
        float: left;

        div {
            width: 100%;
            padding: 2.2rem .1rem;
            height: 1.6rem;
            content: "";
            clear: both;
            display: block;
            border-bottom: 1px solid #ebebeb;
        }

        span {
            font-family: "Akkurat-Bold";
            color: #000000;
            font-size: 1.7rem;
        }

        span:first-child {
            float: left;
        }

        span:nth-child(2) {
            float: right;
        }
    }

    .krkred {
        float: left;
        margin-left: 10%;


        img {
            display: block;

            &:first-child {
                margin-top: 10px;
            }

            &:nth-child(2) {
                margin-left: 15px;
            }
        }
    }

    .krkred-right {
        float: left;
        height: 185px;
        margin-top: 3%;
        margin-left: 3%;
        position: relative;

        img {
            float: left;
            clear: both;
        }

        img:nth-child(2) {
            margin-left: 17%;
        }


        .kred-index {
            position: absolute;
            right: 61%;
            bottom: 22%;
            color: #fff;
            font-weight: bold;
            font-family: 'Avenir-Next-Medium';
            font-size: 1.8rem;
        }
    }
}

.discover-vl-tw {
    max-width: 941px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 200px;
    margin-top: 9rem;

    h1 {
        text-align: center;
        font-family: "helvetica-neue-bold";
        font-size: 3rem;
        margin-bottom: 5rem;
        color: #252525;
        margin-bottom: 4rem;

        span {
            color: #fb3f4c;
            text-decoration: underline;
        }
    }

    p {
        font-family: "Akkurat-Bold";
        font-family: 1.6rem;
        text-align: center;
    }

    img {
        margin-top: 5rem;
    }
}

.influence-page {
    h4 {
        font-family: "Akkurat-Bold";
        font-size: 2.8rem;
        text-align: center;
        margin-bottom: 6.9rem;
        margin-top: 5rem;
        color: #000000;

        span {
            color: #fb3f4c;
            text-decoration: underline;
        }
    }
}

.vls-influence {
    max-width: 941px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 9rem;
    text-align: center;

    h1 {
        text-align: center;
        font-family: "helvetica-neue-bold";
        font-size: 3rem;
        margin-bottom: 5rem;
        color: #252525;
        margin-bottom: 4rem;

        span {
            color: #fb3f4c;
            text-decoration: underline;
        }
    }
}

.social-selling {
    max-width: 941px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 9rem;
    text-align: center;

    h1 {
        text-align: center;
        font-family: "helvetica-neue-bold";
        font-size: 3rem;
        margin-bottom: 5rem;
        color: #252525;
        margin-bottom: 4rem;

        span {
            color: #fb3f4c;
            text-decoration: underline;
        }
    }
}

.about-vl-stats {
    max-width: 941px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 200px;
    margin-top: 9rem;
    box-shadow: -4px 14px 34px 0px rgba(0,0,0,0.05);

    h1 {
        text-align: center;
        font-family: "helvetica-neue-bold";
        font-size: 3rem;
        margin-bottom: 5rem;
        color: #00a98f;

        span {
            color: #252525;
        }
    }

    .vl-stat-chart {
        width: 22%;
        margin-left: 3%;
        float: left;

        &.sec {
            p {
                color: #1dc5e4;
            }
        }

        &.thir {
            p {
                color: #1dc5e4;
                color: #f0d168;
            }
        }

        &.fourth {
            p {
                color: #a96cda;
            }
        }

        p {
            font-family: "Akkurat-Bold";
            font-size: 1.8rem;
        }
    }
}

.vladimers-top-skills {
    max-width: 941px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 9rem;

    h1 {
        text-align: center;
        font-family: "helvetica-neue-bold";
        font-size: 3rem;
        margin-bottom: 5rem;
    }

    .vl-top-skill {
        display: inline-block;
        margin-left: 1.3rem;

        p {
            float: left;
            font-family: "Akkurat-Bold";
            font-size: 1.8rem;
            color: #6e649c;
            padding: .9rem 0 .7rem .4rem;
            margin-bottom: 2.7rem;
        }

        p:nth-child(2n) {
            color: #fff;
            display: block;
            background-color: #bba5f1;
            margin-left: 1rem;
            padding-left: 2.9rem;
            padding-right: 1.5rem;
            background-image: url(../img/images/Move_03.png);
            background-repeat: no-repeat;
            background-position: 10% center;
        }
    }
}

/* -------- End Online Influence ---------*/
/* -------- End Online Influence ---------*/

header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 101;
    background: white;




    .container {
        height: 100%;
    }

    .container .logo {
        float: left;
        top: 50%;
        transform: translateY(-50%);
        position: relative;

        a {
            display: block;
        }
    }

    .container .nav {
        float: right;
        //width: 59.295%;
        top: 50%;
        transform: translateY(-50%);
        position: relative;

        nav {
            float: left;

            ul {

                li {
                    display: inline;
                    margin-left: 31px;

                    a {
                        font-size: 1.6rem;
                        display: inline-block;
                        color: #9a9a9a;
                        font-family: "helvetica";

                        &.active {
                            color: #464646;
                        }
                    }

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }




        .search {
            background: url('../img/search-icon.png');
            float: right;
            width: 70px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
/* -------- Header End ---------*/




/* -------- Home Start ---------*/


section.home {

    .wrapper {
        position: relative;
        overflow: hidden;
        top: 100px;

        .vladimer-subscribe-button {
            top: 0.5% !important;
            padding: 1.3rem 3.5rem;
            background-color: #fff;
            width: 650px !important;
            border-radius: 5px;
            position: relative;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translate(-50%);
            height: 123px;
            box-sizing: border-box;
            z-index: 9;
            box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.05);
            margin: 75px 0;

            div {
                float: left;
                width: 150px;
                top: -25px;
                position: relative;

                img {
                    width: 100%;
                }


                &.subscribe {
                    color: #FFF;
                    padding: 0;
                    outline: none;
                    border-radius: 4px;
                    display: inline-block;
                    top: 3%;
                    position: relative;
                    float: right;
                    width: 40%;


                    input {
                        padding: 1rem;
                        border: 1px solid gray;
                        display: inline-block;
                        width: 90%;
                        overflow: hidden;
                        outline: none;
                        font-family: helvetica-neue-bold;
                    }

                    .subscribe-div {
                        float: none;
                        position: relative;
                        display: inline-block;
                        color: white;
                        top: 30px;
                        text-align: center;
                        font-size: 1.6rem;
                        background: #fa3a4b;
                        cursor: pointer;
                        padding: 1rem;
                        top: 10px;
                        left: 12%;
                        border-radius: 5px;
                    }
                }
            }

            b {
                font-family: helvetica-neue-bold;
                font-size: 1.8rem;
                color: #000000;
                margin-left: 4%;
                top: 37%;
                position: relative;
            }

            span {
                font-family: Akkurat-Bold;
                font-size: 2.6rem;
                color: #c9c9c9;
                margin-left: 4%;
                top: 30px;
                position: relative;
                vertical-align: middle;
            }

            button {
                color: #FFF;
                background-color: #fa3a4c;
                padding: 2rem;
                outline: none;
                border-radius: 4px;
                cursor: pointer;
                display: inline-block;
                top: 23%;
                position: relative;
                float: right;
            }

            .thank-form-up {
                position: relative;
                width: 40%;
                FLOAT: RIGHT;
                TOP: 40%;
                FONT-SIZE: 1.6REM;
                font-family: "helvetica-neue-bold";
                color: #fa3a4b;
            }
        }

        .vl-cover {
            width: 1820px;
            max-width: 100%;
            height: calc(100vh - 230px);
            margin: 0 auto;
            background: url(../img/vladime-main-bg.jpg) no-repeat right center;
            background-size: contain;
            position: relative;



            .vl-simple-desc {
                position: absolute;
                left: 0;
                top: 0;
                width: 46.615%;
                background: rgba(0, 0, 0, .5);
                height: 100%;



                div.vl-simple-desc-text {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 74%;

                    h1 {
                        font-family: "helvetica-neue-bold";
                        font-size: 6.5rem;
                        color: #ffffff;
                        margin-bottom: 35px;
                    }

                    p {
                        font-family: "helvetica-neue-bold";
                        font-size: 2rem;
                        color: #ffffff;
                    }
                }
            }
        }

        .companies-wrapper {
            width: 1820px;
            max-width: 100%;
            height: 130px;
            margin: 0 auto;
            background: #000000;

            .container h3 {
                font-family: "Akkurat-Bold";
                font-size: 2.6rem;
                color: #fa3a4b;
                float: left;
                margin-top: 50px;
            }

            .company-logos {
                float: left;
                width: 73%;
                margin-left: 5%;
                margin-top: 45px;
                height: 50px;

                div {
                    width: 14.28%;
                    float: left;
                    height: 100%;
                    display: table;

                    a {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
            }
        }

        .inside-wrapper {
            position: relative;

            &::after {
                @include clearfix;
            }

            .bg-x {
                position: absolute;
                top: 0;
                height: 100%;
                background: url('../img/Vector-Smart-Object-copy-3.png') no-repeat center 172px;
                @extend .shadow04;
                background-color: #fff;

                &.bg-x1 {
                    left: 0;
                    width: 50%;
                }

                &.bg-x2 {
                    left: 25%;
                    width: 50%;
                }

                &.bg-x3 {
                    left: 50%;
                    width: 50%;
                }

                &.bg-x4 {
                    left: 75%;
                    width: 50%;
                    background-image: none;
                }
            }


            .vl-about {
                position: relative;
                width: 1560px;
                max-width: 100%;
                margin: 0 auto;

                .vl-about-left {
                    float: left;
                    width: 43%;
                    margin-left: 5%;

                    h1 {
                        font-family: "helvetica-neue-bold";
                        font-size: 6.6rem;
                        color: #fa3a4b;
                        margin: 70px 0 48px 0;
                    }

                    p {
                        font-family: "Akkurat-Bold";
                        font-size: 1.8rem;
                        color: #000000;
                        line-height: 25px;
                        margin-bottom: 45px;
                    }

                    a {
                        font-family: "Akkurat-Bold";
                        font-size: 1.6rem;
                        color: #fa3a4b;
                        padding-right: 39px;
                        background: url('../img/Vector-Smart-Object-copy-5.png') no-repeat right center;
                    }
                }

                .vl-about-right {
                    float: right;
                    width: 39.744%;
                    @extend .shadow01;

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }

            .tesomonials {
                position: relative;
                clear: both;
                padding-top: 17.5rem;

                h4 {
                    font-family: "Akkurat-Bold";
                    font-size: 2.8rem;
                    color: #fb3f4c;
                    text-align: center;
                    text-decoration: underline;
                    margin-bottom: 6.9rem;
                }
            }
        }



        .vl-skills-wrapper {
            max-width: 1070px;
            margin: 0 auto;
            position: relative;

            .skill-title h1 {
                font-family: "Akkurat-Bold";
                font-size: 2.8rem;
                color: #000000;
                text-align: center;

                span {
                    color: #fb3f4c;
                    text-decoration: underline;
                }
            }

            .section-finished {
                &:last-child {
                    margin-top: 0;
                }

                &::after {
                    @include clearfix;
                }

                margin-top: 9.5rem;

                div {
                    width: 30px;
                    height: 30px;
                    @extend .shadow04;
                    margin: 0 auto;
                    border-radius: 50%;
                    background-color: #fff;
                    position: relative;
                }
            }

            .skill-inner-last {
                .skill-left {
                    padding-bottom: 80px !important;
                }
            }


            .skill-inner {
                &::after {
                    @include clearfix;
                }

                &:last-child .skill-left {
                    padding-bottom: 80px;
                }

                width: 100%;
                position: relative;

                .skill-icon-content {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    border-radius: 50%;
                    background-color: #fff;
                    @extend .shadow01;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 46px;
                }

                .conulting-sec {
                    background-image: url('../img/consulting.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .speaking-sec {
                    background-image: url('../img/speakingicon.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .startupad-sec {
                    background-image: url('../img/startup.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .teach-sec {
                    background-image: url('../img/teacicon.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .training-sec {
                    background-image: url('../img/trainingicon.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .workshop-sec {
                    background-image: url('../img/workshopicon1.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .coaching-sec {
                    background-image: url('../img/coachingicon.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .mentoring-sec {
                    background-image: url('../img/mentoringicon.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                p {
                    font-size: 1.6rem;
                    font-family: "helvetica";
                    color: #3a3a3a;
                }

                .skill-right {
                    float: right;
                    width: 50%;
                    margin-left: 1%;
                    border-left: 1px solid #e3e3e3;
                    margin-right: 1px;
                    padding-top: 66px;
                    padding: 6.6rem 0 0 7.5rem;
                    box-sizing: border-box;
                    padding-bottom: 20px;
                }

                .skill-left {
                    float: left;
                    width: 50%;
                    margin-right: 1%;
                    border-right: 1px solid #e3e3e3;
                    padding: 6.6rem 7.5rem 0 0;
                    box-sizing: border-box;
                    padding-bottom: 20px;

                    p, h1 {
                        text-align: right;
                    }
                }

                h1 {
                    font-family: "Akkurat-Bold";
                    font-size: 3.8rem;
                    color: #000000;
                    margin-bottom: 40px;
                }
            }
        }

        .vl-cons-outer {
            position: relative;
            height: 250px;
            width: 100%;
            background-image: url('../img/book-now-bg.jpg');
            margin-top: 100px;
            @include bg-cover;
            background-position: center right;

            div {
                position: absolute;
                top: 82px;
                left: 17.688%;

                a {
                    font-family: "Akkurat-Bold";
                    font-size: 2rem;
                    color: #000000;
                    padding: 2.5rem 7.8rem 2.5rem 3rem;
                    background-color: #fff;
                    border-radius: 45px;
                    display: block;
                    background-image: url('../img/arrow-main-page.png');
                    background-repeat: no-repeat;
                    background-position: 330px center;
                }
            }
        }



        .h-blog-wrapper {
            margin-bottom: 100px;

            .h-blog {
                width: 33%;

                &:nth-child(2n+1) {
                    padding-right: 0;
                    padding-left: 1.5rem;
                }
            }
        }




        .h-blog-title {
            position: relative;
            margin-bottom: 65px;

            h1 {
                font-family: "Akkurat-Bold";
                font-size: 2.8rem;
                color: #000000;
                text-align: center;

                span {
                    color: #fb3f4c;
                    text-decoration: underline;
                }
                /*&::after {
                    content: "";
                    height: 1px;
                    width: 35%;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    background-color: #eeeeee;
                }

                &::before {
                    content: "";
                    height: 1px;
                    width: 35%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    background-color: #eeeeee;
                }*/
            }
        }
    }
}





/* -------- Home End ---------*/
/* -------- Cover companies  ---------*/
.cover-bg {
    @include bg-cover;
    @include clearfix;
    position: relative;
    transform: translateY(-75px);
    background-image: url('../img/Layer-20.png');
    padding-top: 16rem;
    padding-bottom: 8.8rem;

    .companies-left {
        float: left;
        width: 48%;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        padding-right: 2%;
        border-right: 1px solid #686868;
        padding-top: 32px;
        text-align: center;

        div {
            width: 50%;
            margin-bottom: 50px;
        }
    }

    .companies-right {
        float: left;
        width: 48%;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1%;
        padding-top: 32px;
        text-align: center;

        div {
            width: 25%;
            margin-bottom: 50px;
            position: relative;

            img {
                &.center-vert {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

/* -------- Cover companies  end ---------*/
/* -------- feature trusted ---------*/

.featur-tursted {
    max-width: 1530px;
    position: relative;
    margin: 0 auto;
    z-index: 1;

    &::after {
        @include clearfix;
    }

    div {
        float: left;
        width: 49.02%;
        margin-left: (100% - 2*49.02%);
        text-align: center;
        background-color: #ffffff;
        @extend .shadow04;

        &:first-child {
            margin-left: 0;
        }

        p {
            font-family: "Akkurat-Bold";
            font-size: 1.8rem;
            color: #000000;
            padding: 6.2rem 0;

            span {
                color: #fb3f4c;
                text-decoration: underline;
            }
        }
    }
}
/* -------- feature trusted end ---------*/
/* -------- Contact Start ---------*/


.sub-header.blogs.gradient.contact, .contact.wrapper {
    position: relative;
    top: 100px;
}

.vl-contact {
    height: 620px;
    position: relative;

    &.on-home {
        margin-top: 150px;
        margin-bottom: 200px;
    }


    h1 {
        font-family: "Akkurat-Bold";
        font-size: 2.6rem;
        padding-top: 2.1rem;
        color: #000000;

        span {
            color: #fb3b49;
            text-decoration: underline;
        }
    }

    .contact-form {
        float: left;
        width: 65.708%;
        padding-top: 6.6rem;
        z-index: 100;
        background-color: #fff;
        position: absolute;
        top: 60%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-left: 5.5%;
        padding-bottom: 5rem;
        @extend .shadow04;

        h1 {
            padding-top: 0;
            font-family: "Akkurat-Bold";
            font-size: 2.6rem;
            color: #000000;
            margin-bottom: 8rem;

            span {
                color: #fb3b49;
                text-decoration: underline;
            }
        }

        .contact-form-inputs {
            width: 47%;
            float: left;
        }

        input {
            width: 100%;
            border: 1px solid #e1e1e1;
            outline: none;
            font-family: Akkurat-Bold;
            color: black;
            padding: 2.5rem 0 2.5rem 2.1rem;
            font-size: 2.1rem;
            box-sizing: border-box;
            margin-bottom: 1.5rem;


            &:focus {
                border: 1px solid black;
            }
        }

        textarea {
            width: 100%;
            border: 1px solid #e1e1e1;
            outline: none;
            font-family: Akkurat-Bold;
            color: black;
            padding: 2.5rem 0 2.5rem 2.1rem;
            font-size: 2.1rem;
            box-sizing: border-box;
            margin-bottom: 1.5rem;
            resize: none;

            &:focus {
                border: 1px solid black;
            }
        }

        button {
            width: 59%;
            display: block;
            padding: 2.5rem 0;
            cursor: pointer;
            background-color: #fff;
            outline: none;
            position: absolute;
            box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.05);
            bottom: -3rem;
            color: #fa3a4c;
            font-family: "Akkurat-Bold";
            background-image: url(../img/sendbg.png);
            background-repeat: no-repeat;
            background-position: 57% center;
        }
    }

    .contact-profile {
        float: right;
        width: 32%;
        margin-right: 5%;
        text-align: center;

        .item-img {
            text-align: center;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;

            img {
                max-width: 100%;
                min-height: 100%;
            }
        }

        .item-desc {
            h3 {
                font-family: "Akkurat-Bold";
                font-size: 1.53rem;
                color: #000000;
                margin-top: 2.1rem;
                margin-bottom: 1.2rem;
            }

            p {
                font-size: 1.26rem;
                color: #a6a6a6;
                font-family: "Akkurat-Bold";
                font-style: italic;
                padding-bottom: 1.5rem;

                span {
                    color: #fb525d;
                }
            }
        }

        .desc-text {
            p {
                font-family: "Akkurat-Bold";
                font-size: 1.36rem;
                color: #242424;
                font-style: italic;
            }
        }
    }

    .getintouch {
        background-image: url('../img/images/Layer-10_02.png');
        @include bg-cover;
        height: 662px;
        width: 42.177%;
        position: absolute;
        right: 0;
        z-index: 5;
        top: 0;

        .getintouch-inner {
            color: #e0e0e0;
            position: absolute;
            left: 65%;
            transform: translate(-50%, -50%);
            top: 50%;

            h4 {
                font-family: Akkurat-Bold;
                font-size: 2.8rem;
                margin-bottom: 4.4rem;
            }

            p {
                font-family: Akkurat-Bold;
                font-size: 1.8rem;
                margin-bottom: 3.8rem;
                padding: 0 0 5px 39px;

                &.cont-phone {
                    background-image: url('../img/cont-phone.png');
                    background-repeat: no-repeat;
                    background-position: left center;
                }

                &.cont-email {
                    background-image: url('../img/cont-email.png');
                    background-repeat: no-repeat;
                    background-position: left center;
                }

                &.cont-skype {
                    background-image: url('../img/cont-skype.png');
                    background-repeat: no-repeat;
                    background-position: left center;
                }
            }
        }
    }
}



/* -------- Contact End ---------*/





/* -------- Statistics Start ---------*/
.vl-statistics {
    position: relative;
    width: 100%;
    margin-top: 110px;
    display: none;

    .vl-statistics-head {
        text-align: center;

        h1 {
            font-family: "Akkurat-Bold";
            font-size: 2.8rem;
            color: #000000;
            margin-bottom: 3rem;

            span {
                color: #fb3f4c;
                text-decoration: underline;
            }
        }

        p {
            font-size: 1.6rem;
            color: #000000;
            font-family: "Akkurat-Bold";
        }
    }



    .slick-dots {
        bottom: 120px;
    }
}

.statistic-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
    position: relative;
    margin-top: 96px;
    padding-bottom: 210px;

    &::after {
        @include clearfix;
    }
}

.statistic-container {
    .pie_progress {
        display: block;
        padding: 40px;
        box-sizing: border-box;
        cursor: pointer;

        &:first-child {
        }

        p {
            font-family: "Akkurat-Bold";
            font-size: 1.6rem;
            color: #000000;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 165%;
            bottom: 0;
        }
    }
}


/* -------- Statistics End---------*/


/* -------- Carousel Start ---------*/

.carousel-wrapper {
    width: 1560px;
    max-width: 100%;
    margin: 0 auto;
    // overflow: hidden;
    padding: 3rem 0;


    .carousel-inner {
        width: 100%;

        .item {
            height: auto;
            cursor: pointer;
            padding-top: 41px;
            padding: 4.1rem 0 3.8rem 0;
            width: 3.3%;
            outline: none;
            float: left;
            text-align: center;
            position: relative;

            .item-content {
                position: absolute;
            }

            .item-img {
                position: relative;

                div {
                    width: 60px;
                    height: 60px;
                    background-size: 40px 40px;
                    background-repeat: no-repeat;
                    background-color: #fff;
                    background-position: center center;
                    border-radius: 50%;
                    position: absolute;
                    left: 55%;
                    top: -20%;
                    display: none;
                }

                img {
                    display: block;
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    margin: 0 auto;
                }
            }

            .item-desc {

                h3 {
                    font-family: "Akkurat-Bold";
                    color: #000000;
                    font-size: 1.8rem;
                    margin-top: 24px;
                }

                p {
                    font-family: "Akkurat-Bold";
                    color: #a6a6a6;
                    font-size: 1.6rem;
                    margin-top: 15px;
                    font-style: italic;



                    span {
                        color: #fb3f4c;
                    }
                }
            }

            .desc-text {
                overflow: hidden;
                height: auto;
                width: 80%;
                margin: 0 auto;

                span {
                    font-family: "Akkurat-Bold";
                    font-size: 1.6rem;
                    color: #fa3a4b;
                    margin-top: 1rem;
                    display: block;
                }

                p {
                    font-family: "Akkurat-Bold";
                    color: #000000;
                    font-size: 1.6rem;
                    margin-top: 22px;
                    font-style: italic;
                    height: 10rem;
                    overflow: hidden;

                    &.less-now {
                        height: auto !important;
                    }

                    &::after {
                        display: none;
                    }
                }
            }

            .show-more {
                font-family: "Akkurat-Bold";
                color: #a6a6a6;
                font-size: 1.6rem;
                margin-top: 15px;
                font-style: italic;

                &::after {
                    display: none !important;
                }
            }

            &.active {
                @extend .shadow04;
            }
        }
    }
}

.carousel-indicators {
    width: 1560px;
    max-width: 100%;
    padding: 30px 0;
    position: relative;
    margin: 0 auto;

    ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        li {
            width: 10px;
            height: 10px;
            float: left;
            background-color: #dedede;
            border-radius: 50%;
            margin-left: 15px;
            cursor: pointer;

            &:first-child {
                margin-left: 0;
            }

            &.active {
                background-color: #fb3f4c;
            }
        }
    }
}
/* -------- Carousel End ---------*/


/* -------- Footer start ---------*/
footer {


    .footer {
        background-color: #000000;
        padding: 3.3rem 5rem !important;


        .vb {
            float: left;
            text-align: center;
            width: 14%;

            .center-mask {
                position: relative;
                margin-top: 13rem;
            }

            h1 {
                font-family: Akkurat-Bold;
                font-size: 1.8rem;
                color: #ffffff;
            }

            p {
                font-family: Akkurat-Bold;
                font-size: 1.2rem;
                color: #ffffff;
            }
        }

        .site-map {
            width: 15.858%;
            float: left;
            text-align: justify;
            box-sizing: border-box;
            padding-left: 3rem;
            margin-left: 3.1rem;
            border-left: 1px solid #434343;
            border-right: 1px solid #434343;

            li a {
                font-family: Akkurat-Bold;
                font-size: 1.4rem;
                color: #f0efef;
                margin-bottom: 1.9rem;
                display: block;
            }
        }

        .getintouch-footer {
            float: left;
            width: 20.929%;
            padding-left: 3rem;
            box-sizing: border-box;
            padding-right: 2.072%;

            h3 {
                font-family: Akkurat-Bold;
                font-size: 1.8rem;
                padding-bottom: 1.9rem;
                color: #f0efef;
                border-bottom: 1px solid #f0efef;
                float: left;
                clear: both;
                margin-bottom: 2.3rem;
            }

            ul li {
                font-family: Akkurat-Bold;
                font-size: 1.4rem;
                color: #f0efef;
                margin-bottom: 1.9rem;
                clear: both;
                padding-left: 30px;
                background-repeat: no-repeat;
                background-position: left center;


                &.phone {
                    background-image: url(../img/cont-phone.png);
                }

                &.mail {
                    background-image: url(../img/cont-email.png);
                }

                &.skype {
                    background-image: url(../img/cont-skype.png);
                }

                &.special {
                    padding-left: 0;
                }
            }
        }

        .footer-social {
            float: left;
            width: 15.5%;
            box-sizing: border-box;
            padding-left: 3rem;
            border-left: 1px solid #434343;
            margin-bottom: 5rem;

            h3 {
                font-family: Akkurat-Bold;
                font-size: 1.8rem;
                padding-bottom: 1.9rem;
                color: #f0efef;
                border-bottom: 1px solid #f0efef;
                float: left;
                clear: both;
                margin-bottom: 2.3rem;
            }

            ul li a {
                font-family: Akkurat-Bold;
                font-size: 1.4rem;
                color: #f0efef;
                margin-bottom: 1.9rem;
                clear: both;
                display: block;
                background-position: 0 0;
                padding-left: 30px;
                background-repeat: no-repeat;

                &.fb {
                    background-image: url(../img/facebook-icon.png);
                }

                &.tw {
                    background-image: url(../img/tw-icon.png);
                }

                &.lk {
                    background-image: url(../img/lk-icon.png);
                }

                &.in {
                    background-image: url(../img/in-icon.png);
                }

                &.pi {
                    background-image: url(../img/pi-icon.png);
                }

                &.sn {
                    background-image: url(../img/sn-icon.png);
                }

                &.pr {
                    background-image: url(../img/periscope-icon-footer.png);
                }

                &.go {
                    background-image: url(../img/google-plus.png);
                    background-size: 21px;
                    background-position: left -2px;
                }
            }
        }

        .footer-subscribe {
            float: left;
            text-align: center;
            width: 31%;
            border: 1px solid #434343;
            padding: 3rem 0;

            h1 {
                font-family: Akkurat-Bold;
                font-size: 2.2rem;
                color: #ffffff;
                padding-bottom: 1.6rem;
            }

            p {
                font-family: helvetica;
                font-size: 1.8rem;
                color: #878787;
            }

            .cont-f {
                background-color: #fff;
                width: 80%;
                margin: 35px auto;

                input {
                    font-family: helvetica;
                    font-size: 1.8rem;
                    color: #ff4040;
                    display: block;
                    padding: 2.4rem 0;
                    text-align: center;
                    width: 100%;
                }

                .thank-form {
                    font-family: helvetica;
                    font-size: 1.8rem;
                    color: white;
                    background: black;
                    display: block;
                    padding: 2.4rem 0;
                    text-align: center;
                    width: 100%;
                }

                ::-webkit-input-placeholder {
                    color: #ff4040;
                }

                :-moz-placeholder {
                    color: #ff4040;
                }

                ::-moz-placeholder {
                    color: #ff4040;
                }

                :-ms-input-placeholder {
                    color: #ff4040;
                }
            }

            a {
                font-family: Akkurat-Bold;
                font-size: 1.8rem;
                color: #878787;
            }
        }
    }
}

.social-feed-vl {
    position: relative;
    margin-top: 130px;

    &.tweetm {

        #tweetmap {
            position: relative;
            width: 100%;

            img {
                position: relative;
                width: 100%;
            }
        }
    }


    h1 {
        font-family: "Akkurat-Bold";
        font-size: 2.8rem;
        color: #000000;
        text-align: center;
        margin-bottom: 5rem;

        span {
            text-decoration: underline;
            color: #fb3b49;
        }
    }

    .social-feed-wrapper {
        .social-feed-1 {
            width: 24.49%;

            .social-feed-wrapper {
                width: 100%;
                box-sizing: border-box;
                padding: 2.4rem 1.4rem 2.4rem 7.1rem;
                margin-bottom: 2.4rem;
                @extend .shadow04;
                background-color: #fff;
                background-image: url("../img/feedfb.png");
                background-repeat: no-repeat;
                background-position: 10% center;

                p {
                    font-size: 1.4rem;
                    color: #4f4f4f;
                    font-family: "helvetica";
                }
            }
        }
    }
}

.soc-vl-wrapper {
    position: relative;
    height: 100px;
    margin-top: 200px;



    .vl-social-links {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);

        p {
            font-family: "Akkurat-Bold";
            font-size: 2.4rem;
            color: #231f20;
            float: left;
            padding-right: 4rem;
            border-right: 1px solid #d3d2d2;
        }

        ul {
            float: left;
            margin-left: 5.1rem;

            li {
                display: inline-block;
                margin-right: 5px;
            }

            a {
                background-repeat: no-repeat;
                background-position: center center;
                display: block;
                padding: 17px 18px;

                &:hover {
                    border-radius: 50%;
                    @extend .shadow04;
                }

                &.soc-vl-fb {
                    background-image: url(../img/socialfeedfb.png);
                }

                &.soc-vl-tw {
                    background-image: url(../img/Vector-Smart-Object11.png);
                }

                &.soc-vl-lnd {
                    background-image: url(../img/Vector-Smart-Object12.png);
                }

                &.soc-vl-ins {
                    background-image: url(../img/insinsins.png);
                }

                &.soc-vl-paint {
                    background-image: url(../img/Vector-Smart-O12312bject14.png);
                }

                &.soc-vl-sht {
                    background-image: url(../img/Vector-Smart-Object1656545.png);
                }

                &.soc-vl-per {
                    background-image: url(../img/periscope-icon.png);
                }

                &.soc-vl-google {
                    background-image: url(../img/google-plus-black.png);
                    background-position: center center;
                    background-position: center center;
                    background-size: 30px;
                }



                &.soc-vl-tw:hover {
                    background-image: url(../img/Vector-Smart-Object1221.png);
                }

                &.soc-vl-fb:hover {
                    background-image: url(../img/sociconhoverfb.png);
                }

                &.soc-vl-lnd:hover {
                    background-image: url(../img/Vector-Smasadasdsart-Object12.png);
                }

                &.soc-vl-ins:hover {
                    background-image: url(../img/Vector-Smasdasdsaasdart-Object13.png);
                }

                &.soc-vl-paint:hover {
                    background-image: url(../img/Vector-Smart-Oasdasasaabject14.png);
                }

                &.soc-vl-sht:hover {
                    background-image: url(../img/Vector-Smasdsaaaaaart-Object15.png);
                }

                &.soc-vl-per:hover {
                    background-image: url(../img/periscope-red-icon.png);
                }

                &.soc-vl-google:hover {
                    background-image: url(../img/google-plus-red.png);
                }
            }
        }
    }
}





/* -------- Testimonials ---------*/
.about-page, .main-page {
    .carousel-wrapper .carousel-inner .item .item-img div {
        display: block;
    }
}


/* -------- Testimonials ---------*/





/* -------- Footer end ---------*/




.left-side {
    padding-top: 28.5rem !important;

    h2 {
        font-family: "Akkurat-Bold";
        color: #000000 !important;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 3.2rem;
    }

    .profile-wrapper {
        position: relative;
    }



    img {
        margin-top: 8rem;
        display: inline-block;
        vertical-align: top;
    }

    .img-main {
        position: relative;
        width: 40%;
        display: inline-block;
        float: left;


        img {
            margin-top: 8rem;
            display: inline-block;
            vertical-align: top;
        }
    }

    .profile-text-wrapper {
        margin-top: 4rem;
    }

    .profile-text {
        width: 80%;
        padding: 2.2rem .1rem;
        height: 1.6rem;
        @include clearfix;
        border-bottom: 1px solid #ebebeb;

        span {
            font-family: "Akkurat-Bold";
            color: #000000;
            font-size: 2rem;

            &.text-color {
                color: #45c584;
            }
        }

        span:first-child {
            float: left;
        }

        span:nth-child(2n) {
            float: right;
        }
    }

    .profile-images {
        width: 80%;
        padding: 0 .1rem 1rem;
        border-bottom: 1px solid #ebebeb;

        &::after {
            @include clearfix;
        }

        p {
            font-family: "Akkurat-Bold";
            font-size: 2rem;
            clear: both;
            padding-top: 50px;
        }

        .profile-left-img {
            float: left;
            width: 40%;

            &.linekdin {
                padding-top: 10.5rem;
            }

            .profile-right-chart {
                position: absolute;
                right: -44px;
            }

            padding-top: 7.5rem;

            img {
                margin: 0;
                position: relative;
                width: 100%;
            }
        }

        .profile-right-img {
            padding-top: 4rem;

            img {
                margin: 0;
                float: right;
            }

            .profile-right-chart {
                display: inline-block;
            }
        }


        &.after-badges {
            border-top: 1px solid #ebebeb;
        }
    }
}





.profile-right-chart.custom-chart {
    width: 50%;
    position: relative;
    display: inline-block;
    float: right;
    padding-left: 22%;
    box-sizing: border-box;
    margin-top: 20px;
}

profile-right-chart.main {
}


/* -------- Profile chart ---------*/

.highcharts-title {
    display: none !important;
}

.highcharts-button {
    display: none !important;
}

.profile-chart-12 {
    height: 165px;
    max-width: 260px;
    margin: 0;
    clear: both;

    &.main {
        display: inline-block;
        width: 60%;
    }
}














@media all and (max-width:1400px) {

    .right-side-influenceblock {
        margin-left: 1%;
    }

    .right-side-influenceblock .krkred {
        margin-left: 1%;
    }

    footer .footer .footer-subscribe {
        width: 100%;
    }

    footer .footer .site-map {
        width: 20.858%;
    }

    footer .footer .getintouch-footer {
        width: 33.929%;
    }
}


@media all and (max-width:1200px) {

    .right-side-influenceblock {
        padding: 1rem;
    }

    .right-side-influenceblock .krkred-right {
        margin-left: 1%;
    }

    .cover-bg .companies-right div {
        width: 30% !important;
    }

    section.home .wrapper .vl-cover {
        background-size: cover;
        height: calc(85vh - 170px) !important;
    }

    .right-side-influenceblock {
        width: 59%;
        padding: 1rem;
    }

    .soc-vl-wrapper {
        .vl-social-links {
            right: 3.688%;

            p {
                padding-right: 1rem;
                font-size: 1.7rem;
                padding-top: 7px;
            }

            ul {
                li {
                    margin-right: 3px;
                }

                margin-left: 0.1rem;

                a {
                    padding: 15px 16px;
                }
            }
        }
    }
}



@media all and (max-width:1000px) {

    .left-side-influenceblock {
        width: 100%;
        padding: 3rem;
    }

    .right-side-influenceblock {
        width: 100%;
        padding: 3re;
    }

    section.home .wrapper .vl-skills-wrapper {
        width: 767px;
    }

    header .container .nav nav ul li a {
        font-size: 1.6rem;
    }

    header .container .nav nav ul li {
        margin-left: 9px !important;
    }

    .section.home .wrapper .companies-wrapper .container h3 {
        font-size: 2rem;
    }

    section.home .wrapper .companies-wrapper .company-logos {
        margin-left: 2%;
        width: calc(114% - 390px) !important;
    }

    section.home .wrapper .companies-wrapper .company-logos div a img {
        height: 46% !important;

        &.custom-logo {
            height: 58% !important;
        }
    }

    section.home .wrapper .inside-wrapper .vl-about .vl-about-right {
        margin-right: 5%;
    }

    section.home .wrapper .inside-wrapper .vl-about .vl-about-left {
        width: 50%;
        margin-left: 3%;
    }

    .container-inner {
        max-width: 768px;
    }

    .cover-bg .companies-left {
        width: 100%;
    }

    .cover-bg .companies-right {
        width: 100%;
    }

    .soc-vl-wrapper .tw-feed {
        width: 38.7rem;
        left: 0;
    }

    footer .footer {
        padding: 3.3rem 5rem;
    }

    footer .footer .site-map {
        width: 23.858%;
        margin-left: 3.1rem;
        padding-left: 1.1rem;

        ul {
            padding: 0;
        }
    }

    footer .footer .getintouch-footer {
        width: 25.929%;
        padding-left: 1.286%;
        box-sizing: border-box;
        padding-right: 0.072%;
    }

    footer .footer .footer-social {
        float: left;
        width: 13.5%;
        box-sizing: border-box;
        padding-left: 2rem;
        border-left: 1px solid #434343;
    }

    footer .footer .footer-subscribe {
        width: 20% !important;
        margin-left: 4rem;

        h1 {
            font-size: 1.5rem;
        }

        .cont-f {
            margin: 25px auto;

            input {
                font-size: 1.3rem;
                padding: 1.4rem 0;
            }
        }
    }

    .pie_progress__number {
        font-size: 27px !important;
    }

    .vl-contact .contact-form {
        width: 60%;

        h1 {
            font-size: 1.7rem;
        }

        input {
            padding-bottom: 1.5rem;
            font-size: 1.6rem;
        }
    }

    .vl-contact .contact-form button {
        background-position: 65% center;
    }

    .vl-contact .getintouch .getintouch-inner {
        left: 59%;
    }

    .section.home .wrapper .vl-skills-wrapper {
        max-width: 768px;
    }
}

@media all and (max-width:768px) {
    section.home .wrapper .vl-skills-wrapper .skill-inner h1 {
        text-align: right;
    }

    section.home .wrapper .h-blog-wrapper .h-blog:nth-child(2n+1) {
        padding-right: 0;
        padding-left: 0;
    }

    .statistic-container {
        margin-top: 20px;
    }

    section.home .wrapper .vl-cons-outer div {
        left: 10.688%;
    }

    .cover-bg .companies-right {
        margin-top: 135px;
    }

    .featur-tursted div {
        width: 100%;
    }

    .featur-tursted div:nth-child(2) {
        margin-left: 0;
        position: absolute;
        top: 630px;
    }

    .carousel-wrapper .carousel-inner .item {
        padding: 0.1rem 0 0.8rem 0;
    }

    section.home .wrapper .inside-wrapper .tesomonials {
        padding-top: 6.5rem;
    }

    section.home .wrapper .inside-wrapper .tesomonials h4 {
        margin-bottom: 0.9rem;
    }

    section.home .wrapper .vl-cover .vl-simple-desc {
        width: 100%;
    }

    section.home .wrapper .vladimer-subscribe-button {
        width: 85% !important;
        left: 50% !important;
        top: 0.1% !important;
        padding: 1rem 1.5rem;
    }

    section.home .wrapper .vladimer-subscribe-button button {
    }

    .right-side-influenceblock .influence-texts-wrapper {
        width: 100%;
    }

    .tweet-influence .tw-inner-vl-oi {
        margin-right: 2%;
        width: 100%;
        float: left;
        text-align: center;
        margin-bottom: 40px;
    }

    .social-selling {
        display: none;
    }

    .about-vl-stats .vl-stat-chart {
        width: 100%;
        margin-left: 3%;
        float: left;
        text-align: center;
        margin-bottom: 30px;
    }

    .left-side-influenceblock {
        height: auto;
        padding: 0;
    }

    .influencechart {
        margin-bottom: 0%;
        margin-top: 12px;
        margin-left: auto;
        position: relative;
        clear: both;
        margin-top: 0;
        margin-left: auto;
    }

    .right-side-influenceblock {
        height: auto;
    }

    .statistic-container .pie_progress p {
        max-width: 100%;
    }

    .recognition-outer .recognition-inner .recognition-description .recognition-text p {
        overflow: hidden;
    }

    .about-main img {
        display: block;
        width: 100%;
    }

    .bg-shadow {
        display: none !important;
    }

    header.black .container .nav nav ul li a {
        color: #434343;
    }

    .cover-bg .companies-right div {
        width: 50% !important;
        position: relative;
        display: inline-block;

        img {
            max-width: 100%;
            padding: 5%;
            box-sizing: border-box;
        }
    }

    .burger {
        display: block;
        display: block;
        position: absolute;
        top: 50%;
        right: 3%;
        width: 3rem;
        height: 3rem;
        transform: translateY(-50%);
        background-size: 24px;
        background-image: url(../img/burger.svg);
        cursor: pointer;
        transition: all .8s linear;
    }

    .black .burger {
        background-image: url(../img/menu-lines.svg);
    }

    .close-burger {
        display: block;
        float: right;
        font-size: 1.8rem;
        margin-right: 2rem;
        margin-top: 1rem;
        color: #464646;
        font-family: "helvetica";
    }

    .nav {
        z-index: 999;
        transform: translateY(0) !important;
        position: fixed !important;
        top: 70px !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        background-color: #fff !important;
        transform: translateX(-400%) !important;
        transition: all .8s linear;

        &.burger-showed {
            transform: translateX(0%) !important;
        }
    }

    header .container .nav nav {
        margin-top: 14rem !important;
        margin-left: 2rem !important;
    }

    header .container .nav nav ul li {
        display: block !important;
        width: 100% !important;
        margin-bottom: 2rem !important;
    }

    .recognition-outer:not(.slick-slide) {
        width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .main-content.about .page-title {
        font-size: 3rem !important;
    }

    .main-content.about > div {
        width: 100% !important;
    }

    .publications-outer {
        width: 100% !important;
    }

    .vl-about-left {
        width: 90% !important;
    }

    .vl-about-right {
        width: 90% !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        margin-top: 2rem;
    }

    section.home .wrapper .h-blog-wrapper .h-blog:nth-child(2n+1) {
        padding-right: 0;
    }

    section.home .wrapper .h-blog-wrapper .h-blog {
        width: 100%;
    }

    .statistic-container .pie_progress p {
        font-size: 1.3rem;
    }

    .statistic-container .pie_progress {
        width: 98%;
        margin: 0 0 0 0;
    }

    section.home .wrapper .vl-cons-outer {
        height: 25rem;
    }

    section.home .wrapper .vl-cons-outer div a {
        font-size: 1.5rem;
    }

    section.home .wrapper .vl-cover .vl-simple-desc div {
        h1 {
            font-size: 2.5rem;
            margin-bottom: 3.5rem;
        }

        p {
            font-size: 1.4rem;
        }
    }



    section.home .wrapper .companies-wrapper .company-logos div {
        display: none;
    }

    section.home .wrapper .inside-wrapper .vl-about .vl-about-left h1 {
        font-size: 3.6rem;
        margin: 5rem 0 2.8rem 0;
    }

    section.home .wrapper .inside-wrapper .vl-about .vl-about-left p {
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-bottom: 4.5rem;
    }

    .cover-bg .companies-left div {
        width: 50%;
        position: relative;
        display: inline-block;


        img {
            position: relative;
            max-width: 100%;
            padding: 0 5%;
            box-sizing: border-box;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .cover-bg .companies-right div {
        width: 100%;
    }

    .featur-tursted div p {
        padding: 4.2rem 0;
    }

    .carousel-wrapper .carousel-inner .item {
        width: 10%;
    }

    section.home .wrapper .vl-skills-wrapper {
        width: 100%;
    }

    section.home .wrapper .vl-skills-wrapper .skill-inner .skill-icon-content {
        width: 38px;
        height: 38px;
        padding: 5.6rem 0 0 5.5rem;
        left: 27%;
        top: 29px;
    }

    .social-feed-vl {
    }

    section.home .wrapper .vl-skills-wrapper .skill-inner .skill-right {
        width: 100%;
    }

    section.home .wrapper .vl-skills-wrapper .skill-inner .skill-left {
        width: 100%;
        border: none;
        padding-right: 2rem;
        padding-left: 5rem;
    }



    .vl-contact .getintouch {
        width: 100%;

        .getintouch-inner {
            left: 50%;
        }
    }

    .contact-form {
        display: none;
    }

    .soc-vl-wrapper .tw-feed {
        display: none;
    }

    .soc-vl-wrapper .vl-social-links p {
        border: none;
    }

    .soc-vl-wrapper .map {
        height: 45rem;
    }

    footer .footer .vb {
        width: 100%;
        margin-bottom: 2rem;
    }

    .site-map {
        margin: 0 0 2rem 0 !important;
        width: 100% !important;
        border: none !important;
        text-align: center !important;

        li {
            text-align: center !important;
        }
    }

    .getintouch-footer {
        margin: 0 0 2rem 0;
        width: 100% !important;
        border: none !important;
        text-align: center !important;

        h3 {
            width: 100% !important;
            text-align: center !important;
        }
    }

    .footer-social {
        margin: 0 0 2rem 0;
        width: 100% !important;
        border: none !important;
        text-align: center !important;
        text-align: center !important;

        h3 {
            width: 100% !important;
            text-align: center !important;
        }
    }

    .footer-subscribe {
        margin: 0 0 2rem 0;
        width: 100% !important;
        display: none;
    }
}



#dcsns-filter {
    text-align: center !important;
}

.dcsns-toolbar .filter li {
    display: inline-block !important;
}





.slick-slide {
    outline: none;
}


.dcsns-toolbar .filter .link-all {
    font-family: "helvetica";
    font-size: 13px;
}




.profile-chart-12.custom-chart-profile {
    width: 100%;
    max-width: 100%;
    margin: 0;
}
