﻿@media all and (max-width:1500px) {

    section.home .wrapper {

        .companies-wrapper {

            .company-logos {
                margin-top: 45px;
                width: calc(100% - 390px);

                div {
                    position: relative;
                    height: 100%;
                    width: 13.28%;

                    a {
                        position: relative;
                        height: 100%;

                        img {
                            height: 60%;
                        }
                    }
                }
            }
        }
    }
}




@media all and (max-width:1300px) {
    header {
        height: 70px;

        .container {

            form {
                input {
                    height: 70px;
                    line-height: 100%;
                }
            }


            .nav nav ul li {
                margin-left: 20px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }


    .content.sub-cont, .container.content, section.home .wrapper {
        top: 70px;
    }

    section.home .wrapper {

        .vl-cover {
            height: calc(100vh - 170px) !important;
        }

        .companies-wrapper {
            height: 100px;

            .container h3 {
                margin-top: 35px;
            }

            .company-logos {
                margin-top: 25px;


                div {
                    position: relative;
                    height: 100%;
                    width: 13.28%;

                    a {
                        position: relative;
                        height: 100%;

                        img {
                            height: 60%;
                        }
                    }
                }
            }
        }
    }
}


@media all and (max-width:1200px) {

    html {
        font-size: 8px;
    }

    header {
        height: 70px;

        .container .nav nav ul li {
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    section.home .wrapper {
        top: 70px;

        .vl-cover {
            height: calc(100vh - 170px) !important;
        }

        .companies-wrapper {
            height: 100px;

            .container h3 {
                margin-top: 35px;
            }

            .company-logos {
                margin-top: 25px;


                div {
                    position: relative;
                    height: 100%;
                    width: 11.28%;

                    a {
                        position: relative;
                        height: 100%;

                        img {
                            height: 60%;
                        }
                    }
                }
            }
        }
    }

    section.home .wrapper .inside-wrapper {
        /*padding-top: 100px;*/
    }


    .right-side-influenceblock .krkred-right .kred-index {
        right: 62%;
        bottom: 24%;
    }
}





@media all and (max-width:1000px) {
    .logo {
        width: 170px;

        a {
            width: 100%;
            position: relative;

            img {
                width: 100%;
            }
        }
    }

    header .container .nav .search {
        display: none;
    }
}




@media all and (max-width:768px) {


    section.home .wrapper .vladimer-subscribe-button button{
        display:none;
    }

    section.home .wrapper .vladimer-subscribe-button span{
        display:none;
    }


    header .container .nav .dropdown {
        padding-top: 0px;
        margin-top: -36px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        left: 130px;

        ul li {
            margin-left: 0 !important;
        }

        .invisible {
            display: block;
        }
    }

    header.black {
        .container .nav .dropdown {

            ul li {
                a {
                    color: white;
                }
            }
        }
    }


    .sub-menu {
        ul {
            display: none;
        }
    }


    section.home .wrapper .companies-wrapper .container h3 {
        top: 87px;
        position: relative;
        width: 100%;
        text-align: center;
    }

    section.home .wrapper .vl-cover .vl-simple-desc div.vl-simple-desc-text {
        top: 95%;
        width: 100%;

        h1 {
            line-height: 6rem;
            text-align: center;
        }

        p {
            width: 75%;
            margin: auto;
        }
    }


    .skill-inner {





        &:nth-child(2n) {

            .skill-icon-content {
                left: 85% !important;
            }

            h1 {
                text-align: right !important;
                padding-right: 35%;
            }
        }

        &:nth-child(2n + 1) {

            .skill-icon-content {
                left: 15% !important;
            }

            h1 {
                text-align: left !important;
                padding-left: 35%;
            }
        }
    }


    section.home .wrapper .vl-skills-wrapper .skill-inner .skill-right {
        padding-left: 2rem;
        padding-right: 5rem;
    }

    .bg-x {
        display: none;
    }

    section.home .wrapper .vl-cons-outer div {
        top: 135px;
    }


    // About
    .sub-header.long.gradient.about.content.sub-cont {
        padding: 0;

        img {
            left: 50%;
            top: 230px;
            width: 258px;
            transform: translateX(-50%);
        }

        > div {
            width: 100%;
            padding: 0;

            h1 {
                line-height: 6rem;
                text-align: center;
                top: 65px;
            }
        }
    }

    .main-content.about > div {
        margin-top: 100px;
    }

    .main-content.about > div:nth-child(2) {
        padding: 0;
    }

    #social-stream .stream.isotope li {
        width: 100%;
    }

    section.home .wrapper .h-blog-title h1 {
        &:before {
            content: none;
        }

        &:after {
            content: none;
        }
    }

    .vls-influence {
        display: none;
    }

    .work-with .content .main-content {
        padding: 0;
    }

    .speaking-images {
        width: 100%;
        position: relative;
        padding: 0 10%;
        box-sizing: border-box;

        img {
            position: relative;
            width: 100%;
            padding: 0 !important;
        }
    }

    .process > div {
        width: 100%;
    }

    .influence-bg p {
        display: none;
    }

    .influence-bg h1 {
        top: 13rem !important;
        font-size: 6.4rem;
    }

    .influence-bg {
        background-size: cover;
    }

    .blog-categories {
        .category-name {
            font-size: 1.6rem;
            line-height: 40px;
            padding: 0 2rem;
            width: 36%;
            position: relative;
            display: inline-block;
        }
    }

    .b-conteiner > div:first-child {
        margin-top: 30px;
    }

    section.home .wrapper .vladimer-subscribe-button {

        div {
            margin-left: 5%;
            margin-top: 3px;
        }

        img {
            transform: translateY(-3%) !important;
        }

        b {
            font-size: 2.8rem;
            margin-right: -22px;
            margin-top: 42px;
            transform: translateX(-30%) !important;
        }
    }

    section.home .wrapper .inside-wrapper .vl-about .vl-about-left {
        /*margin-top: 30px;*/
    }


    .carousel-wrapper .carousel-inner .item .item-img div {
        left: 62% !important;
        top: 20% !important;
    }

    /*.influencechart{
        padding:0 3rem;
        box-sizing:border-box;
    }*/

    .krkred {
        margin-top: 30px;
        width: 100%;

        img {
            margin: auto !important;
        }
    }

    .krkred-right {
        margin-left: 25% !important;
    }

    .cover-bg .companies-left {
        border: none;
    }




    .vl-contact {
        height: 990px;
        position: relative;

        .contact-form {
            display: block;
            background-color: transparent;
            width: 100%;
            top: 80%;



            .contact-form-inputs {
                width: 87%;
                margin-top: -212px;
            }

            button {
                width: 82%;
            }


            input {
                padding-bottom: 2rem;
            }

            textarea {
                font-size: 1.6rem;
            }
        }



        .getintouch {
            height: 990px;

            .getintouch-inner {
                top: 158px;
            }
        }
    }

    .sub-header.blogs.gradient.contact, .contact.wrapper {
        top: 70px;
    }


    header.black .container .nav nav ul li a {
        font-size: 1.8rem;
    }

    .sub-header.long.gradient.about.content.sub-cont {
        background-size: 288%;
        background-position: 35% 0%;

        > div h1 {
            top: 20px;
        }

        > div h3 {
            top: 8%;
            text-align: center;
        }
    }


    .sub-header.long.gradient.work-with-common h1 {
        line-height: 4rem;
    }


    .sub-header.long.gradient.work-with-bg {
        background-size: 232%;
        background-position: center;
    }




    header .container form {
        opacity: 0;
        font-size: 0;
        top: 108px;
        position: absolute;
        z-index: 99999;
        display: block;
        width: 92%;
        transition: .6s 0s;

        &.active {
            transition: .6s 1s;
        }

        input {
            height: 40px;
            border: 1px solid #9a9a9a;
            border-radius: 5px;
        }

        input[type='button'] {
            display: none;
        }

        input[type='text'] {
            font-size: 15px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        input[type='submit'] {
            width: 20%;
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }


    .vl-contact .contact-profile {
        float: left;
        width: 84%;
        position: absolute;
        top: -415px;
        text-align: center;
        margin-bottom: 0rem;



        .item-desc h3 {
            color: #ffffff;
        }

        .desc-text p {
            color: white;
        }
    }



    .bookin-popup-wrapper {
        .bookin-inner {
            width: 95%;
            padding: 1.8rem 2rem;
        }

        .bookin-section-wrapper {
            padding: 0 !important;


            .visible-section-content {
                padding: 0.5rem !important;

                .icon-bookin-section {
                    height: 50px !important;
                    width: 50px !important;
                    margin-right: 1.5rem !important;
                }
            }


            .seemore-bookin-icon {
                display: none !important;
            }
        }
    }

    section.home .wrapper .vl-cover .vl-simple-desc {
        background: rgba(0, 0, 0, 0.25);
    }

    header .container .nav nav ul li a {
        font-size: 1.8rem;
    }

    section.home .wrapper .companies-wrapper {
        height: auto;
    }

    section.home .wrapper .companies-wrapper .company-logos {
        width: 100% !important;
        margin: 0;
        height: 500px;
        margin-top: 125px;

        div {
            display: block;
            width: 100%;
            height: 70px;


            a {
                width: 100%;
                display: block;
                height: 100%;
            }
        }
    }

    section.home .wrapper .vl-cover {
        background-position: 72% center;
    }


    .custom-blog{
        padding:2rem 1rem;
    }
    /*.sub-header.blogs{
        margin-top:70px;
    }*/
}
