﻿/*------ Sub Header With Gradient Start ---------*/
.sub-header {
    height: 10rem;
    width: 100%;

    &.gradient {
        background-position: center;
        background: -webkit-linear-gradient(#fd7269, #9ecfd0); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fd7269, #9ecfd0); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fd7269, #9ecfd0); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fd7269, #9ecfd0); /* Standard syntax */
    }

    > h1 {
        font-size: 3.8rem;
        font-weight: 300;
        font-family: "helvetica";
        line-height: 10rem;
        margin: 0;
        padding: 0;
        text-align: center;
        color: white;
    }
}
/*------ Sub Header With Gradient End ---------*/





/* ------ Standart shadow form div elements Start ------- */
.s-shadow {
        box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.05);
}


.shadow04 {
       box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.05);
}
    
.shadow01 {
       box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.05);
}


/* ------ Standart shadow form div elements  End------- */






/*------ Search Bar Start ---------*/
.search-bar-outer {
    position: relative;
    width: 100%;

    .search-bar-inner {
        position: relative;
        width: 100%;

        input[type=text] {
            padding: 2rem 3rem;
            font-family: 'Akkurat-Bold';
            width: 100%;
            box-sizing: border-box;
            font-size: 1.6rem;
            outline: none;
            border: none;
            font-weight: 200;
        }

        .submit{
            width: 50px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 50;
            position: absolute;
            background-image: url(../img/search-icon.png);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }


        /*&::after {
            content: "";
            height: 100%;
            width: 3rem;
            top: 0;
            right: 2rem;
            z-index: 50;
            position: absolute;
            background-image: url('../img/search-icon.png');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }*/
    }
}
/*------ Search Bar End ---------*/



/*----------Subscribe Start -----------*/
.subscribe-container {
    padding: 3rem 2rem;
    text-align: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;


    h1 {
        font-size: 2.2rem;
        font-family: 'Akkurat-Bold';
        padding: 3rem 0;
    }

    .subscribe-text {
        font-family: "helvetica";
        font-size: 1.8rem;
        color: #cacaca;
    }

    input[type=text] {
        font-size: 1.8rem;
        padding: 2rem 0;
        font-family: "helvetica";
        margin: 3rem 0;
        width: 100%;
        text-align: center;
        background: #cbcbcb;
        border: none;
        outline: none;

        &::-webkit-input-placeholder {
            color: #fe5757;
        }

        &::-moz-placeholder { /* Firefox 18- */
            color: #fe5757;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: #fe5757;
        }

        &::-ms-input-placeholder {
            color: #fe5757;
        }
    }

    button {
        color: #878787;
        background: transparent;
        font-size: 1.8rem;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: 'Akkurat-Bold';
    }
}


/*----------Subscribe Ends -----------*/




/*----------Common Text style for Work with info-----------*/

.simple-text {
    font-size: 1.6rem;
    font-family: 'Avenir-Next-Medium';
    color: rgba(0,0,0,0.9);
    line-height: 3rem;

    &.specialties{
        text-transform: capitalize;
        padding-left:30px;
        position:relative;

        &:before{
            content:"";
            left:0;
            height:5px;
            width:5px;
            background:#fa3a4b;
            top:10px;
            position:absolute;
            border-radius:50%;
        }
    }

    &.steps{
        span{
            color:#fa3a4b;
        }
    }
}

.header-red-text {
    font-size: 1.8rem;
    font-family: 'Avenir-Next-Medium';
    color: #ff5352;
    line-height: 3rem;
    font-weight:bold;
    text-decoration:underline;
}

/*----------Common Text style for Work with info-----------*/
