﻿
@media all and (max-width:1600px) {
    .sub-header.long.gradient.work-with-common {
        > div:first-child {
            width: 34%;
        }

        > div:nth-child(2) {
            width: 66%;
        }
    }
}



@media all and (max-width:1500px) {

    .sub-header.long.gradient.work-with-common .sub-menu ul li a {
        font-size: 1.5rem;
        padding: 0px .6rem;
    }



    .work-with .content .main-content .services-icons .services-icons-inner {
        min-width: 140px;
    }
}



@media all and (max-width:1400px) {
    footer .footer .footer-subscribe {
        width: 100%;
        margin-bottom: 2rem;
    }

    .carousel-wrapper .carousel-inner .item .item-desc p:after {
        padding-left: 22%;
        background-position: 20% center;
    }

    .work-with .content .left-side {
        padding-top: 12rem !important;
    }

    .sub-header.long.gradient.work-with-common h1 {
        font-size: 5.5rem;
        line-height: 7rem;
    }

    .work-with .content .main-content .services-icons .services-icons-inner {
        min-width: 130px;
    }
}


@media all and (max-width:1200px) {
    .publication.container {
        .publications-outer {
            width: calc(100% / 2);

            &:nth-child(3n) {
                padding-right: 1rem;
                padding-left: 1rem;
            }

            &:nth-child(3n+1) {
                padding-right: 1rem;
                padding-left: 1rem;
            }

            &:nth-child(3n + 2) {
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }
    }
}



@media all and (max-width:1300px) {

    .influence-bg {
        margin-top: 7rem;

        h1 {
            top: 3rem;
        }
    }
}


@media all and (max-width:1000px) {
    .b-conteiner {
        > div:first-child {
            width: 100%;
        }

        > div:nth-child(3) {
            width: 0;
            display: none;
        }
    }


    .carousel-wrapper .carousel-inner .item .item-desc p:after {
        padding-left: 30%;
        background-position: 0% center;
    }
}

@media all and (max-width:768px) {
    .blog-outer {
        width: 100%;

        &:nth-child(2n+1), &:nth-child(2n) {
            padding: 0;
        }
    }

    .main-content.about > div:nth-child(2) .simple-text {
        width: 100%;
    }

    .sub-header.long.gradient.about.content.sub-cont {
    }

    .left-side .profile-text {
        width: 100%;
    }

    .left-side .profile-images {
        width: 100%;
    }

    .hiddenable {
        display: none !important;
    }

    .sub-header.long.gradient.work-with-common > div:first-child {
        display: none;
    }

    .sub-header.long.gradient.work-with-common > div:nth-child(2) {
        width: 100%;
        padding: 0;

        h1 {
            font-size: 3rem;
            text-align: center;
        }
    }

    .work-with-info > div:first-child img {
        display: none;
    }

    .work-with .content > div:first-child {
        width:100%;
        padding-top:0 !important;

        .phrase{
                 padding-right: 0;
        }
    }

    .work-with .content > div:nth-child(2) {
        width: 100%;
    }

    .work-with .content .main-content .services-icons .services-icons-inner {
        width: 100%;
        min-width: 100%;
    }

    .recognitions-info .img-div img {
        display: none;
    }

    .recognition-info-outer > div:nth-child(2) {
        width: 100%;
    }


    .sub-header.long.gradient.work-with-common h1 {
        line-height: 4rem;
    }

    .sub-header.long.gradient.work-with-common .sub-menu {
        display: none;
    }

    .sub-header.long.gradient.work-with-common > div:nth-child(2) {
        height: 150px;

        h1 {
            top: 50%;
            width: 95%;
            margin: auto;
        }
    }

    .sub-header.long.gradient.work-with-bg {
        height: 150px;
    }

    .work-with-info > div:first-child {
        width: 100%;
    }

    .work-with-info > div:first-child img {
        width: 100%;
        display: block;
        margin-top: 275px;
    }

    .work-with .content {
        margin-top:-40px;
    }


    .container-inner{

    }
}
