﻿.slick-prev:before, .slick-next:before {
    color: #fb3f4c;
}

.slick-dots li button:before {
    color: #dedede;
    opacity: 1;
    font-size: 40px;
}

.slick-dots li.slick-active button:before {
    color: #fb3f4c;
    opacity: 1;
}

.sub-header {
    &.blogs {
        background-image: url('../img/sub-header-bg.jpg');
    }
}

#social-stream .stream.isotope {
    padding-bottom: 120px;
    //height:auto!important;
    li {
        width: 23%;
        background-color: #c8cdd2;
        font-size: 16px;

        .dcsns-twitter {
            /*.section-intro {
                background-color: transparent;
            }*/
            .twitter-user a {
                color: #7d8695;
            }
        }
    }
}

#subscribe-form {
    input[type="submit"] {
        font-family: Akkurat-Bold;
        cursor: pointer;
        font-size: 1.8rem;
        color: #878787;
        outline: none;
        background-color: #000;
    }
}


.blog-categories {
    margin: 4rem 0;
    width: 100%;


    .category-name {
        font-size: 1.6rem;
        color: #cacaca;
        font-family: "helvetica";
        line-height: 60px;
        padding: 0 2rem;
        cursor: pointer;
        white-space: nowrap;
    }

    .category-name:hover {
        color: black;
    }

    .category-name.active {
        color: #ff9696;
    }
}



.b-conteiner {
    font-size: 0;
    position: relative;
    margin: 0;
    padding: 0;

    > div {
        display: inline-block;
        vertical-align: top;
    }

    > div:first-child {
        width: 67%;
    }

    > div:nth-child(2) {
        width: 3%;
    }

    > div:nth-child(3) {
        width: 30%;
    }
}



.blogs-sub-cont.left-conteiner {
    font-size: 0;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.blog-outer {
    display: inline-block;
    position: relative;
    width: 50%;
    font-size: 1.6rem;
    box-sizing: border-box;
    margin-bottom: 3rem;
    vertical-align: top;

    a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.blog-outer:nth-child(2n+1) {
    padding-right: 1.5rem;
}

.blog-outer:nth-child(2n) {
    padding-left: 1.5rem;
}

.blog-inner {
    background: white;
}

.blogcover-img {
    position: relative;
    height: 28rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-details {
    padding: 2rem 3rem;

    p {
        margin: 0;
        padding: 0;
        font-family: 'Akkurat-Bold';
    }

    .date-gray {
        font-size: 1.6rem;
        color: #cacaca;
        padding: .2rem 0;
    }

    .title {
        color: #4f4f4f;
        font-size: 1.8rem;
        text-transform: capitalize;
    }
}


.about-text {
    padding: 5rem 0;
    font-family: 'Akkurat-Bold';
    display: inline-block;
    font-size: 0;

    img {
        border-radius: 50%;
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }

    .about-text-inner {
        display: inline-block;
        width: 70%;
        vertical-align: top;
        padding-left: 1rem;
        box-sizing: border-box;

        h2 {
            text-transform: capitalize;
            font-size: 2.2rem;
            padding-top: 1rem 0;
        }

        p {
            font-size: 1.6rem;
            color: #cacaca;
            padding: 1rem 0;
            line-height: 3rem;
        }

        h3 {
            text-transform: capitalize;
            font-size: 1.6rem;
        }

        .red {
            color: #ff5352;
        }
    }
}



.common.carousel-wrapper {
    width: 100%;
    position: relative;
    margin: 3rem 0;
    padding: 0;

    .carousel-inner {
        width: 100%;
        position: relative;

        .item.active {
            width: 100%;
            position: relative;

            &.blog {
                margin-bottom: 150px;
            }
        }
    }
}


/*------------------Custom Blog Starts ---------------------*/
.custom-blog {
    position: relative;
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
    font-size: 1.6rem;

    .blog-header {
        position: relative;
        font-family: helvetica;


        .date-main {
            background: #ff5352;
            padding: 1rem;
            display: inline-block;
            box-sizing: content-box;
            position: relative;
            border-radius: 2px;
            vertical-align: top;


            .date {
                background: white;
                position: relative;
                color: black;
                font-size: 2rem;
                padding: 1rem;
                font-weight: bold;
                text-align: center;
            }

            .month {
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                padding-top: .5rem;
                color: white;
                text-align: center;
            }
        }



        .title-cont {
            display: inline-block;
            position: relative;
            padding: 0 2rem;
            vertical-align: top;
            font-weight: bold;

            .title {
                font-size: 2rem;
                font-family: helvetica;
                padding: 1rem 0;
            }

            .categories-cont {
                .category-name {
                    color: #ff5352;
                }

                .cat-names {
                    color: #878787;
                    display: inline-block;
                }
            }
        }

        .shares-info {
            background: #5293ff;
            display: inline-block;
            padding: 1.5rem 1rem;
            float: right;
            color: white;
            border-radius: 2px;
            vertical-align: top;
            cursor: pointer;
        }
    }

    .blog-image {
        background-position: center;
        background-size: cover;
        position: relative;
        height: 32rem;
        margin: 4rem 0;
    }

    .blog-content {
        font-size: 1.4rem;
        font-family: Akkurat-Bold;
        line-height: 3rem;
        color: #5d5d5d;
    }
}

.blog-social {
    position: relative;
    width: 100%;
    height: 7rem;
    background: #5293ff;
    padding: 2rem 4rem;
    box-sizing: border-box;
    line-height: 3rem;

    .exlanation-text {
        font-size: 1.4rem;
        color: white;
        font-family: Akkurat-Bold;
        display: inline-block;
        vertical-align: top;
    }

    .social-data {
        display: inline-block;
        width: 50rem;
        position: relative;
        float: right;
        text-align: left;


        .soc-custom-data {
            display: inline-block;
            color: white;
            width: calc(50rem / 6);
            position: relative;


            .social-icon {
                display: inline-block;
            }

            .social-count {
                font-size: 1.4rem;
                font-family: inherit;
                display: inline-block;
                font-family: Akkurat-Bold;
                padding-left: 1rem;
            }
        }
    }
}
/*------------------Custom Blog Ends ---------------------*/





/*------------------Publications Start ---------------------*/

.publication-bg {
    background-image: url("../img/sub-header-bg.jpg") !important;
}

.publication.container {
    margin-top: 4rem;
    margin-bottom: 15rem;
    position: relative;

    .container-inner {
        font-size: 0;
    }



    .publications-outer:nth-child(3n+1) {
        padding-right: 2rem;
    }

    .publications-outer:nth-child(3n+2) {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .publications-outer:nth-child(3n) {
        padding-left: 2rem;
    }


    .publications-outer {
        display: inline-block;
        position: relative;
        width: calc(100% / 3);
        font-size: 1.6rem;
        box-sizing: border-box;
        margin-bottom: 5rem;
        vertical-align: top;


        a {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
        }



        .publications-inner {
            background: white;


            .public-hover {
                position: relative;
                height: 28rem;
                width: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .publication-details {
                padding: 2rem 3rem;

                p {
                    padding: 0;
                    margin: 0;
                    font-family: 'Akkurat-Bold';
                }

                .date-gray {
                    font-size: 1.6rem;
                    color: #cacaca;
                    padding: .2rem 0;
                }

                .title {
                    color: #4f4f4f;
                    font-size: 1.8rem;
                    text-transform: capitalize;
                }
            }
        }
    }
}
/*------------------Publications Ends  ---------------------*/




/*------------------ Recognitions start---------------------*/

.sub-header.long {
    height: 39rem;

    h1 {
        line-height: 39rem;
        font-size: 6.6rem;
        font-family: 'Akkurat-Bold';
        color: white;
        position: relative;
    }

    &.recognitions {
        background-image: url(../img/sub-header-long.png);
    }
}


.recognitions-data.about {
    .slick-dots {
        bottom: 0;
    }

    .recognition-outer {
        padding: 0 2rem !important;
    }
}


.bg-shadow {
    position: absolute;
    z-index: -1;
    height: calc(100% + 13rem);
    width: 50rem;
    left: 50%;
}

.recognitions-info {
    position: relative;
    font-size: 0;
    top: -31rem;

    > div {
        display: inline-block;
        font-size: 1.6rem;
    }

    > div:first-child {
        width: 40%;
    }

    > div:nth-child(2) {
        width: 60%;
    }

    .img-div {
        height: 62rem;
        position: relative;

        img {
            width: 75%;
            position: relative;
        }
    }
}

.recognition-info-outer {
    position: relative;
    font-size: 0;
    top: -60rem;

    > div {
        display: inline-block;
        font-size: 1.6rem;
    }

    > div:first-child {
        width: 40%;
    }

    > div:nth-child(2) {
        width: 60%;
    }

    .info-inner {
        box-sizing: border-box;
        font-family: 'Akkurat-Bold';
        bottom: -5rem;
        position: relative;


        h1 {
            font-size: 2.8rem;
            margin-bottom: 6rem;

            span {
                color: #ff5352;
            }
        }

        p {
            line-height: 3.4rem;
        }
    }
}



.recognitions-cont {
    margin-top: -40rem;
    position: relative;
}


.recognition-year-cont {
    text-align: center;
    font-size: 0;


    &.online-influence {
        margin-top: 10rem;
    }

    .year-cont {
        text-align: center;

        h1 {
            font-size: 2.6rem;
            font-family: 'Akkurat-Bold';
            position: relative;
            margin: auto;
            margin-bottom: 7rem;
            display: inline-block;

            &:before {
                content: "";
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: #ff5352;
                position: absolute;
                left: -20px;
                top: 12px;
            }
        }
    }
}




.recognition-outer {
    display: inline-block;
    position: relative;
    width: calc(100% / 3);
    margin-bottom: 5rem;
    box-sizing: border-box;


    &:nth-child(3n + 1) {
        padding-right: 2rem;
    }

    &:nth-child(3n + 2) {
        padding: 0 1rem;
    }

    &:nth-child(3n) {
        padding-left: 2rem;
    }



    .recognition-inner {
        height: 260px;
        z-index: 10;
        background: white;

        .recognition-name {
            p {
                font-size: 2.6rem;
                font-family: 'Avenir-Next-Medium';
                line-height: 9rem;
                border-bottom: 2px solid #d7d7d7;
                text-align: left;
                padding: 0 3rem;
            }
        }


        .recognition-description {
            position: relative;
            width: 100%;
            font-size: 0;
            padding: 3rem 1rem;
            box-sizing: border-box;
            text-align: left;
            padding-top: 0;

            > div {
                display: inline-block;
                width: 50%;
                position: relative;
                font-size: 1.6rem;
                vertical-align: top;
            }

            .rec-image {
                text-align: center;
                position: relative;
                height: 160px;


                img {
                    width: 100%;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .recognition-text {
                height: 160px;
                position: relative;

                p {
                    font-size: 1.6rem;
                    font-family: 'Avenir-Next-Medium';
                    padding-right: 3rem;
                    box-sizing: border-box;
                    line-height: 3rem;
                    top: 50%;
                    transform: translateY(-50%);
                    position: relative;
                }
            }
        }
    }
}



/*------------------ Recognitions Ends ---------------------*/




/*------------------ Work With Vladimer Starts ---------------------*/


.sub-header.long.gradient.work-with-bg {
    &.index {
        background-image: url(../img/workwith-bg.png);
    }

    &.speaking {
        background: url(../img/Vladimer-bg.jpg);
        background-position: right center;
    }

    &.startupAdvising {
        background-image: url(../img/workWithVladimer-bg.jpg);
        background-position: right center;
    }

    &.teaching {
        background-image: url(../img/teaching-bg.png);
    }

    &.training {
        background-image: url(../img/training-bg.jpg);
    }

    &.consulting {
        background: url(../img/consulting-bg-1.jpg);
        background-position: right center;
    }

    &.workshops {
        background: url(../img/workshops-bg.jpg);
    }

    &.coatching {
        background: url(../img/coatching-bg.jpg);
    }

    &.mentoring {
        background: url(../img/workshops-bg.jpg);
    }
}






// Common header of work with
.sub-header.long.gradient {
    &.work-with-common {
        font-size: 0;
        position: relative;
        overflow: hidden;

        > div {
            display: inline-block;
            font-size: 1.6rem;
            height: 100%;
            position: relative;
            vertical-align: top;
            padding-right: 10%;
            box-sizing: border-box;
        }

        > div:first-child {
            width: 38%;
        }

        > div:nth-child(2) {
            width: 62%;
            z-index: 5;
            position: relative;
        }


        .sub-menu {
            height: 70px;
            background: rgba(0,0,0,0.2);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;


            ul {
                list-style-type: none;

                li {
                    display: inline-block;
                    height: 65px;

                    &.active {
                        border-bottom: 5px solid black;
                    }

                    a {
                        color: white;
                        font-size: 1.6rem;
                        font-family: "helvetica";
                        padding: 0 1rem;
                        line-height: 70px;
                    }
                }
            }
        }


        h1 {
            font-size: 6.6rem;
            font-family: 'Akkurat-Bold';
            color: white;
            position: relative;
            line-height: 9rem;
            transform: translateY(-50%);
            top: calc( 50% - 35px );
        }
    }
}


// Common header of work with




.work-with-info {
    position: relative;
    font-size: 0px;
    top: -31rem;
    height: 55rem;


    > div:first-child {
        width: 40%;
        display: inline-block;
        font-size: 1.6rem;

        img {
            width: 75%;
            position: relative;
        }
    }
}


.work-with .content {
    font-size: 0;
    position: relative;
    margin-top: -50rem;
    width: 100%;
    height: auto;

    > div {
        font-size: 1.6rem;
        display: inline-block;
    }

    > div:first-child {
        width: 35%;
    }

    > div:nth-child(2) {
        width: 65%;
    }


    .left-side {
        vertical-align: top;
        padding-top: 30rem;
        box-sizing: border-box;
        padding-top: 20rem !important;

        .phrase {
            font-size: 1.8rem;
            display: inline-block;
            color: #9a9a9a;
            font-family: "helvetica";
            padding-bottom: 5rem;
            padding-right: 5rem;
            font-style: italic;
        }


        h2 {
            color: red;
        }
    }

    .main-content {
        padding-right: 15%;
        box-sizing: border-box;

        h1 {
            font-size: 2.8rem;
            font-family: 'Akkurat-Bold';
            padding-bottom: 2rem;
        }

        .c-red.underline {
            color: #ff5352;
            text-decoration: underline;
        }



        h3 {
            color: rgba(0,0,0,0.7);
            font-size: 2.2rem;
            font-family: 'Akkurat-Bold';
            padding: 3rem 0;
        }

        .services-icons {
            margin-bottom: 5rem;
            max-width: 700px;
            position: relative;

            .services-icons-inner {
                display: inline-block;
                min-width: 156px;
                position: relative;
                margin-bottom: 4rem;

                a {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                p {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: bold;
                    font-family: 'Akkurat-Bold';
                }

                img {
                    margin: auto;
                    display: block;
                }
            }
        }
    }
}


.work-with.tesomonials {
    margin-bottom: 5rem;
    padding: 5rem 0;
    margin-top: 10rem;

    h4 {
        font-family: "Akkurat-Bold";
        font-size: 2.8rem;
        color: #fb3f4c;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 69px;
    }
}
/*------------------ Work With Vladimer Ends ---------------------*/



/*------------------ Little Corrections for Contact Page---------------------*/

.vl-contact.index {
    margin: 15rem 0;
}

.bg-shadow.contact {
    top: 0;
    height: calc(100% + 25rem);
}

/*------------------ Little Corrections End ---------------------*/



/*------------------ About Starts ---------------------*/

.bg-shadow.about {
    top: 0;
    height: calc(100% + 13rem + 50rem);
    width: 40rem;
}

.sub-header.long.gradient.about.content.sub-cont {
    background-image: url(../img/about-bg.jpg);
    margin-bottom: 10rem;
    box-sizing: border-box;
    padding-right: 5rem;
    background-repeat: no-repeat;


    > div {
        position: relative;
        height: 100%;
        width: 50%;
        text-align: right;
        padding-right: 5rem;
        box-sizing: border-box;


        h1 {
            font-size: 5rem;
        }

        h3 {
            font-size: 2.5rem;
            color: white;
            position: relative;
            top: -43%;
            font-family: "helvetica";
            font-weight: 100;
        }
    }

    img {
        position: absolute;
        left: 50%;
        top: 120px;
    }
}

.left-side.about {
    padding-top: 0 !important;
}


.main-content.about {
    font-size: 0;
    padding-bottom: 15rem;


    .page-title {
        font-size: 18rem;
        color: #ff5352;
        font-family: 'Akkurat-Bold';
        text-align: center;
        padding: 5rem 0;
    }

    > div {
        display: inline-block;
        font-size: 1.6rem;
        width: 50%;
        position: relative;
        box-sizing: border-box;
        vertical-align: top;
    }

    > div:nth-child(2) {
        padding-right: 2rem;
        padding-top: 150px;

        .simple-text {
            width: 500px;
        }

        .left-side {
            padding-top: 0 !important;
        }
    }

    > div:nth-child(3) {
        padding-left: 2rem;
    }



    .about-main {
        padding-right: 15%;
    }
}



.Badges-outer {
    margin: 4rem 0;
    position: relative;
    width: 80%;
    font-size: 0;


    > div {
        position: relative;
        display: inline-block;
        width: calc(100% / 3);
        height: 90px;

        img {
            height: 100%;
            position: relative;
            margin-top: 0 !important;
        }
    }
}


.container-inner.about {
    margin-top: 20rem;

    .year-cont {
        .fa-underline {
            color: #ff5352;
            text-decoration: underline;
        }

        h1:before {
            content: "";
            height: 0;
            width: 0;
        }
    }
}

.container-inner {
    &.recognitions {
        padding-bottom: 50px;
    }
}

.recognitions-link {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 10rem;

    a {
        font: 1.6rem 'Akkurat-Bold';
        color: black;
        font-weight: bold;

        &:hover {
            color: #ff5352;
        }
    }
}

/*------------------ About Ends---------------------*/


/*------------------ Speaking Start ---------------------*/


.footer-text {
    text-align: center;
    color: black;
    padding: 5rem 0;

    h2 {
        font-size: 2.4rem;
        font-family: 'Akkurat-Bold';
    }

    h4 {
        font-size: 1.6rem;
        font-family: 'Akkurat-Bold';
        padding-top: 1rem;
    }
}


.speaking-images {
    > img:nth-child(2n) {
        padding-left: 5rem;
        display: inline-block;
    }
}
/*------------------ Speaking End ---------------------*/



/*------------------ Sratup Advising Starts ---------------------*/

.startup-advising, .wall {
    h4 {
        font-size: 1.8rem;
        font-weight: bold;
        font-family: Avenir-Next-Medium;
    }
}

.process {
    width: 100%;
    position: relative;
    height: auto;
    font-size: 0;

    > div {
        display: inline-block;
        position: relative;
        width: calc(100% / 3);
        height: auto;
        font-size: 1.6rem;
        text-align: center;
        padding: 0 1rem;
        box-sizing: border-box;
        vertical-align: top;
        margin-bottom: 2rem;

        .process-header {
            font-size: 1.6rem;
            font-family: 'Akkurat-Bold';
            font-weight: bold;
            padding-bottom: 1rem;
        }

        .process-body {
            font-size: 1.4rem;
            font-family: 'Akkurat-Bold';
            padding-bottom: 1rem;
            color: rgba(0,0,0,0.7);
        }
    }
}

/*------------------ Sratup Advising Ends ---------------------*/



/*------------------ teaching Starts ---------------------*/



.teaching {
    h4 {
        font-size: 1.8rem;
        font-weight: bold;
        font-family: Avenir-Next-Medium;
    }


    .special-links {
        font-size: 0;
        width: 100%;
        position: relative;
        text-align: left;

        > div {
            font-size: 1.6rem;
            display: inline-block;
            width: 50%;
            position: relative;
            vertical-align: top;

            h3 {
                font-weight: bold;
            }

            a {
                display: block;
                font-size: 1.6rem;
                padding: 1rem 0;
                font-family: Avenir-Next-Medium;
                color: rgba(0,0,0,0.7);
                padding-left: 15px;
                position: relative;



                &:before {
                    content: "";
                    position: absolute;
                }
            }
        }
    }
}
/*------------------ teaching Advising Ends ---------------------*/



/*------------------ Must be Exported in Main.css ---------------------*/

header .container .nav .search {
    cursor: pointer;
}

header.black .container .nav .search {
    filter: invert(.8);
}

header .container form {
    font-size: 0;
    display: none;

    input {
        height: 100px;
        line-height: 100%;
        position: relative;
        left: 0;
        outline: none;
        font-size: 5rem;
        box-sizing: border-box;
        padding: 0 2rem;
        display: inline-block;
        vertical-align: top;

        &[type='text'] {
            width: 80%;
        }

        &[type='submit'] {
            width: 10%;
            background-image: url(../img/search-icon-big.png);
            background-repeat: no-repeat;
            background-size: 30%;
            background-color: white;
            background-position: center;
            cursor: pointer;
        }

        &[type='button'] {
            width: 10%;
            background-image: url(../img/cancel-icon.png);
            background-repeat: no-repeat;
            background-size: 30%;
            background-color: #fef4c7;
            background-position: center;
            cursor: pointer;
        }
    }
}

header.black .container form {
    input {

        &[type='text'] {
            background: #060606;
            color: white;
        }

        &[type='submit'] {
            background-color: #060606;
        }

        &[type='button'] {
            background-color: #929292;
        }
    }
}


.vl-profile-indicator {
    font-family: "Akkurat-Bold";
    color: #000000 !important;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 3.2rem;

    &.klear-badge {
        padding-top: 4.2rem;
        padding-bottom: 1.8rem;
    }
}



.carousel-wrapper .carousel-inner .item .item-content {
    position: relative;
}


.highcharts-credits {
    display: none;
}


header .container .nav nav ul li {
    position: relative;
}

header .container .nav .dropdown {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    text-align: center;
    display: none;
    @extend .shadow04;

    .invisible {
        display: none;
    }



    ul {
        li {
            display: block;
            margin: 0;
            margin: 2rem 0;
        }
    }
}

header.black .container .nav .dropdown {
    background: #060606;
}






header .container .nav nav ul li a:hover {
    color: black;
}

header.black .container .nav nav ul li a:hover {
    color: #ccc;
}


.response-message {
    color: #fb3b49;
    font-size: 3.6rem;
    text-align: center;
    margin-top: 10rem;
    font-family: Akkurat-Bold;
    margin-bottom: -5rem;
}


.under-construction {
    position: absolute;
    height: 100%;
    width: 100%;


    h1 {
        font-family: "helvetica";
        font-size: 4rem;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}


.social-header {
    font-family: "Akkurat-Bold";
    font-size: 2.8rem;
    color: #000000;
    text-align: center;
    margin-bottom: 5rem;

    span {
        text-decoration: underline;
        color: #fb3b49;
    }
}


.influencechart.custom-inf {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.profile-chart-12.custom-chart-profile.about {
    height: 200px;
}

.tesomonials {

    &.inabout {
        margin-top: 5rem;
    }

    h4 {
        font-family: "Akkurat-Bold";
        font-size: 2.8rem;
        color: #fb3f4c;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 6.9rem;
    }
}


.teaching-images {
    img {
        position: relative;
        max-width: 98%;
    }
}

.container.content.recognitions {
    margin-bottom: 75px;
}

.memorable-tweets-conteiner {
    position: relative;
    margin-bottom: 100px;
    box-sizing: border-box;


    .slick-slide {
        position: relative;
        height: 300px;
        padding: 0 3rem;


        img {
            position: relative;
            width: 100%;
        }
    }
}


.memorable-tweets {
    text-align: center;
    font-family: "helvetica-neue-bold";
    font-size: 3rem;
    margin-bottom: 5rem;
    color: #252525;
    margin-bottom: 8rem;

    span {
        color: #fb3f4c;
        text-decoration: underline;
    }
}

section.home .wrapper .companies-wrapper .company-logos div a img {
    &.custom-logo {
        height: 70%;
    }
}

.dcsns-toolbar .filter li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0 5px;

    .link-all {
        font: 300 13px / 30px Arial, sans-serif;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-indent: 0;
        margin-right: 5px;
        background: none;
        width: auto;
        color: #5a5a5a;
        padding: 0;

        &:hover {
            color: #141414;
        }
    }

    a {
        display: block;
        height: 30px;
        width: 30px;
        background: transparent url('../img/social-feed-icons.png') 0 0 no-repeat;
        background-size: 60px 180px;
        font-size: 0;
        line-height: 0;
        text-decoration: none;
        overflow: hidden;
        text-indent: -1000em;
        padding: 0;
        margin: 0;

        img {
            display: none;
        }

        &:hover {
            background-color: transparent;
        }
    }

    &.f-twitter {
        a {
            background-position: 0 -30px;

            &:hover {
                background-position: -30px -30px;
            }
        }
    }

    &.f-instagram {
        a {
            background-position: 0 -120px;

            &:hover {
                background-position: -30px -120px;
            }
        }
    }
}

.f-twitter {
    img {
        display: none;
    }

    a {
        background-position: 0 -30px;
    }
}


.total-fans {
    font-family: "Akkurat-Bold";
    text-align: center;
    margin-top: 40px;

    span {
        color: #fb3f4c;
    }

    &.main {
        font-size: 1.5rem;
        margin-top: 20px;
    }
}


.bookin-section-wrapper {
    form {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;


        .paypal-link {
            width: 100%;
            height: 100%;
            position: relative;
            opacity: 0;
        }
    }
}
