﻿@model VBortsvadze.DL.Models.Entities.Publication

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}





<div class="card">
    <div class="card-header">
        <h2>
            Edit
        </h2>
        <br />
    </div>

    <div class="card-body card-padding">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id)

            <input type="hidden" name="Image" value="@Model.Image" />
            <input type="hidden" name="CreateDate" value="@Model.CreateDate" />

            <div class="form-horizontal">



                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="fg-line">

                            <div class="crop-img-container" data-imageid="Image">
                                <img class="crop-prev-img" src="" />
                            </div>

                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-primary btn-file m-r-10">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="Image" accept="image/*">
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>



                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.Image)</small>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">


                        <div class="fg-line">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.Title)</small>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SourceUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">


                        <div class="fg-line">
                            @Html.EditorFor(model => model.SourceUrl, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <small class="help-block">@Html.ValidationMessageFor(model => model.SourceUrl)</small>
                    </div>
                </div>










                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary waves-effect">Save</button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

@section scripts{

    <script src="@Url.Content("~/areas/admin/assets/js/models/publications/create.js")"></script>
}
