﻿@model IEnumerable<VBortsvadze.DL.Models.Entities.Publication>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>
            @Html.ActionLink("Create New", "Create")
        </h2>
    </div>
    <table id="table" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th data-column-id="id">
                    @Html.DisplayNameFor(model => model.Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

              

                <th data-column-id="action" data-formatter="commands" data-sortable="false">Action</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                   
                </tr>
            }
        </tbody>
    </table>

</div>


@section scripts{
    <script src="@Url.Content("~/areas/admin/assets/js/models/publications/list.js")"></script>
}


