﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vadlimer Botsvadze</title>

    <link href="@Url.Content("~/Assets/css/style.css")" rel="stylesheet" />
</head>
<body>
    <div class="under-construction"> 
        <h1>Under Construction</h1>
    </div>
</body>
</html>
