﻿@model  VBortsvadze.BL.Models.BlogViewModel
@{
    ViewBag.HeaderColor = "white";

    ViewBag.Title = "Award-Winning Digital Marketing Speaker & Consultant";
    ViewBag.Description = "Vladimer Botsvadze is a leading social media & digital marketing consultant, speaker, professor, influencer, mentor & trainer who transforms brands.";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
    var Statistic = ViewBag.Statistic as List<VBortsvadze.DL.Models.Entities.Statistic>;
    var NetworkActivity = ViewBag.NetworkActivity as List<VBortsvadze.DL.Models.Entities.SocialNetworkActivity>;
    var recognitions = ViewBag.Recognitions as List<VBortsvadze.DL.Models.Entities.Award>;

    var ToTalFans = NetworkActivity.Sum(s => s.ActivityCount);

    var ProFileModel = ViewBag.ProFileModel as VBortsvadze.BL.Models.ProfileViewModel;
}

<div class="bookin-popup-wrapper">
    <div class="bookin-inner">
        <div class="bookin-header">
            <div class="close-bookin-pupup"></div>
            <h1>Vladimer Botsvadze</h1>
            <p>Social Media Consultant - Mentor - Coach</p>
        </div>
        <p class="please-select">Please Select:</p>
        <div class="bookin-content-wrapper">
            <div class="bookin-section-wrapper">
                <div class="visible-section-content">
                    <div class="icon-bookin-section"></div>
                    <p>Introductory phone call or email </p>
                    <div class="seemore-bookin-icon">+</div>


                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="S6LW9KY2RCXJ2">
                        <input type="image" class="paypal-link" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                <div class="unvisible-section-cont">
                    <p>Call or email Vladimer prior to the Skype session or meeting that allows you to tell him about your current digital marketing struggles and social media needs.</p>
                    <div class="footer-section-bookin">
                        <div class="credit-card-bookin">free</div>
                        <div class="duration-bookin"> 20 Minutes</div>
                        <div class="bookin"><a href="#">Book Now</a></div>
                    </div>
                </div>
            </div>
            <div class="bookin-section-wrapper">
                <div class="visible-section-content">
                    <div class="icon-bookin-section skype-icon-popup"></div>
                    <p>Skype Consulting Session </p>
                    <div class="seemore-bookin-icon">+</div>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="VX772YS92RV8C">
                        <input type="image" class="paypal-link" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
            <div class="bookin-section-wrapper">
                <div class="visible-section-content">
                    <div class="icon-bookin-section"></div>
                    <p>Telephone Consulting Session </p>
                    <div class="seemore-bookin-icon">+</div>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="CJ5P9LD8MQH2Y">
                        <input type="image" class="paypal-link" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="home">
    <div class="wrapper">
        <div class="vl-cover">
            <div class="vl-simple-desc">
                <div class="vl-simple-desc-text">
                    <h1>Vladimer Botsvadze</h1>
                    <p>World’s Leading Marketing Consultant, Professor, Mentor, Speaker and Trainer</p>
                </div>

            </div>

        </div>
        <div class="companies-wrapper">
            <div class="container">
                <h3>Vladimer is recognized by</h3>

                <div class="company-logos">
                    <div>
                        <a class="c-logo"><img src="@Url.Content("~/assets/img/microsoft.png")" alt="Microsoft-logo" /></a>
                    </div>
                    <div>
                        <a class="c-logo"><img src="@Url.Content("~/assets/img/adidas.png")" alt="Adidas-logo" /></a>
                    </div>
                    <div>
                        <a class="c-logo"><img src="@Url.Content("~/assets/img/audi.png")" alt="Audi-logo" /></a>
                    </div>
                    <div>
                        <a class="c-logo"><img src="@Url.Content("~/assets/img/hphphph.png")" alt="Hp-logo" class="custom-logo" /></a>
                    </div>
                    <div>
                        <a class="c-logo"><img src="@Url.Content("~/assets/img/aston-martin.png")" alt="Aston Martin-logo" /></a>
                    </div>
                    <div>
                        <a class="c-logo"><img src="@Url.Content("~/assets/img/kml.png")" alt="KLM-logo" /></a>
                    </div>
                    <div>
                        <a class="c-logo"><img src="@Url.Content("~/assets/img/fedex.png")" alt="FedEx-logo" /></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="inside-wrapper">
            <div class="vladimer-subscribe-button">
                <div>
                    <img src="@Url.Content("~/assets/img/snapchat-vl.png")" />
                </div>
                <b>Snap Me</b>
                <span>&</span>
                <button id="subscribe-button">Subscribe To Newsletter by Vladimer</button>
            </div>
            @*<div class="bg-x bg-x1"></div>
                <div class="bg-x bg-x2"></div>
                <div class="bg-x bg-x3"></div>
                <div class="bg-x bg-x4"></div>*@


            <div class="vl-about">
                <div class="vl-about-left">
                    <h1>About Vladimer</h1>
                    <p>
                        Vladimer Botsvadze is a leading digital marketing influencer, award-winning social media strategist, brand evangelist,
                        keynote speaker, blogger, professor and consultant. Many companies and professionals have called him innovator and his work
                        has touched a number of large global brands including Adidas, KLM, FedEx and Aston Martin to assist them to use the power of
                        social media and digital presence to build their businesses. Vladimer is regarded one of the world’s top experts on marketing
                        and innovation. His ideas have been widely applied in industries, organizations, management consulting and market research firms,
                        digital marketing, social media, online advertising and PR agencies all over the world, including in San Francisco, New York, Dubai,
                        London, Dublin, Singapore, Hong Kong, Tokyo and more. His work has influenced 2,000,000 professionals, 10,000 businesses
                        worldwide and has established a world-class reputation for always bringing innovation to the table with every project.
                    </p>
                    <a href="@Url.Content("~/About")">Read More</a>
                </div>
                <div class="vl-about-right">
                    <img src="@Url.Content("~/assets/img/vladimer.png")" alt="Vladimer Botsvadze" />
                </div>


            </div>

            <div class="tesomonials main-page">
                <h4>Testimonials</h4>
                <div class="carousel-wrapper">
                    <div class="carousel-inner">
                        @Html.Partial("_testimonials", testimonials);
                    </div>
                </div>
            </div>

            <div class="featur-tursted">
                <div><p>With Global Support <span>From</span></p></div>
                <div><p>Trusted by the <span>Best</span></p></div>
            </div>

            <div class="container-fluid cover-bg">
                @Html.Partial("_companies")
            </div>

            <div class="vl-skills-wrapper">
                <div class="skill-title">
                    <h1>Work With <span>Vladimer</span></h1>
                </div>

                <div class="section-finished">
                    <div></div>
                </div>
                <div class="skill-inner">
                    <a href="@Url.Action("consulting","WorkWithVladimer")">
                        <div class="skill-icon-content conulting-sec"></div>
                    </a>
                    <div class="skill-right">
                        <a href="@Url.Action("consulting","WorkWithVladimer")">
                            <h1>Consulting</h1>
                        </a>

                        <a href="@Url.Action("consulting","WorkWithVladimer")">
                            <p>
                                Increase your sales, traffic, leads and audience. Vladimer works collaboratively with you to develop a digital strategy to execute and measure.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="skill-inner">
                    <a href="@Url.Action("speaking","WorkWithVladimer")">
                        <div class="skill-icon-content speaking-sec"></div>
                    </a>
                    <div class="skill-left">
                        <a href="@Url.Action("speaking","WorkWithVladimer")">
                            <h1>Speaking</h1>
                        </a>
                        <a href="@Url.Action("speaking","WorkWithVladimer")">
                            <p class="right-align">
                                Transform digital experiences through his keynote speeches that grow visibility, engagement and value. Vladimer’s intelligent and inviting style entertains audiences as he inspires in digital marketing and social media.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="skill-inner">
                    <a href="@Url.Action("StartupAdvising","WorkWithVladimer")">
                        <div class="skill-icon-content startupad-sec"></div>
                    </a>
                    <div class="skill-right">

                        <a href="@Url.Action("StartupAdvising","WorkWithVladimer")">
                            <h1>Startup Advising</h1>
                        </a>
                        <a href="@Url.Action("StartupAdvising","WorkWithVladimer")">
                            <p>
                                Accomplish unrivaled growth and exposure on a global scale and Vladimer is committed to the success of your startup.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="skill-inner">
                    <a href="@Url.Action("Teaching","WorkWithVladimer")">
                        <div class="skill-icon-content teach-sec"></div>
                    </a>
                    <div class="skill-left">
                        <a href="@Url.Action("Teaching","WorkWithVladimer")">
                            <h1>Teaching</h1>
                        </a>
                        <a href="@Url.Action("Teaching","WorkWithVladimer")">
                            <p class="right-align">
                                Vladimer prepares students to expand their global perspective and encourages them to become problem solvers.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="skill-inner training-sec">
                    <a href="@Url.Action("Training","WorkWithVladimer")">
                        <div class="skill-icon-content training-sec"></div>
                    </a>
                    <div class="skill-right">
                        <a href="@Url.Action("Training","WorkWithVladimer")">
                            <h1>Training</h1>
                        </a>
                        <a href="@Url.Action("Training","WorkWithVladimer")">
                            <p>
                                Vladimer identifies specific digital marketing and social media training for your team with the aim of transferring skills and knowledge to business.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="skill-inner">
                    <a href="@Url.Action("workshops","WorkWithVladimer")">
                        <div class="skill-icon-content workshop-sec"></div>
                    </a>
                    <div class="skill-left">
                        <a href="@Url.Action("workshops","WorkWithVladimer")">
                            <h1>Workshops</h1>
                        </a>
                        <a href="@Url.Action("workshops","WorkWithVladimer")">
                            <p class="right-align">
                                Vladimer brings you world-class digital marketing workshops, online-tools and digital solutions to promote a comprehensive understanding and put you on a path to a strong ecosystem.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="skill-inner">
                    <a href="@Url.Action("Coaching","WorkWithVladimer")">
                        <div class="skill-icon-content coaching-sec"></div>
                    </a>

                    <div class="skill-right">
                        <a href="@Url.Action("Coaching","WorkWithVladimer")">
                            <h1>Coaching</h1>
                        </a>
                        <a href="@Url.Action("Coaching","WorkWithVladimer")">
                            <p>
                                Grow your digital marketing confidence for better results. Vladimer’s clients are more confident making more rewarding strategic decisions.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="skill-inner skill-inner-last">
                    <a href="@Url.Action("Mentoring","WorkWithVladimer")">
                        <div class="skill-icon-content mentoring-sec"></div>
                    </a>
                    <div class="skill-left">
                        <a href="@Url.Action("Mentoring","WorkWithVladimer")">
                            <h1>Mentoring</h1>
                        </a>
                        <a href="@Url.Action("Mentoring","WorkWithVladimer")">
                            <p class="right-align">
                                Vladimer offers one-on-one digital marketing mentoring sessions to help individuals plan their social media journey to accomplish their goals. It’s the professional development chance you have been waiting for.
                            </p>
                        </a>
                    </div>
                </div>

                <div class="section-finished">
                    <div></div>
                </div>


            </div>

            <div class="container-inner">
                <div class="vl-cons-outer">
                    <div><a href="#">Book One Hour Consultation</a></div>

                </div>

            </div>


            <div class="container-inner">
                <div class="vl-statistics">
                    <div class="vl-statistics-head">
                        <h1>Sometimes <span>Statistics</span> can say more</h1>
                        <p>Numbers highlight Vladimer's achievements and what it's like to work with him</p>
                    </div>
                    <div class="statistic-container">

                        @foreach (var item in Statistic)
                        {
                            <div class="pie_progress" role="progressbar" data-goal="@item.CurrentValue"
                                 @{ if (item.DataType == "%") { <text> aria-valuemin="0" </text>    } else { <text> aria-valuemin="1" </text>     } }
                                 aria-valuemax="@item.MaximumValue">
                                <span class="pie_progress__number">0%</span>
                                <p>@item.Name</p>
                            </div>
    }
                    </div>
                </div>
            </div>


            <div class="container-inner">
                <div class="h-blog-title">
                    <h1>Popular Blog Posts by <span>Vladimer</span></h1>
                </div>
                <div class="h-blog-wrapper">

                    @foreach (var blog in Model.Blogs)
                    {
                        <div class="blog-outer h-blog">
                            <a href="@Url.Action("Index", "Blog", new { Slag = blog.Slag})"></a>
                            <div class="blog-inner s-shadow">
                                <div class="blogcover-img" style="background-image:url('@Url.Content("~/Uploads/Images/Blog/")@blog.SmallImage');"></div>
                                <div class="blog-details">
                                    <p class="date-gray">@blog.UpdateDate.Value.ToShortDateString() @*@blog.UpdateDate.Value.Day, @blog.UpdateDate.Value.Year*@</p>
                                    <p class="title"><b> @blog.Title</b></p>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>



            <div class="container-inner">
                <div class="recognition-year-cont">
                    <div class="year-cont">
                        <h1>Awards </h1>
                    </div>


                    <div class="recognitions-data about">
                        @{ byte i = 0;}
                        @foreach (var item in recognitions)
                        {
                            i++;
                            if (i == 8)
                            {
                                break;
                            }
                            <div class="recognition-outer">
                                <div class="recognition-inner  s-shadow">
                                    <div class="recognition-name">
                                        <p>@item.Title</p>
                                    </div>
                                    <div class="recognition-description">
                                        <div class="rec-image">
                                            <img src="~/Uploads/Images/Recognitions/@item.Logo" alt="@item.Title" />
                                        </div>
                                        <div class="recognition-text">
                                            <p>@item.Content</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>


            <div class="influce-top-block container on-main">
                <div class="left-side-influenceblock">
                    <div class="influencechart custom-inf">
                        <div style="width:100%; relative; display:inline-block; float:left;">
                            <div id="container" class="profile-chart-12 custom-chart-profile" style=""></div>

                            <p class="total-fans main">Total Followers - <span class="totalfans"></span></p>
                        </div>
                    </div>
                </div>
                <div class="right-side-influenceblock">
                    <div class="influence-texts-wrapper">
                        @foreach (var item in ProFileModel.Info)
                        {
                            <div>
                                <span>@item.InfoName</span>
                                <span>@item.InfoValue</span>
                            </div>
                        }
                    </div>
                    <div class="krkred">
                        <img src="@Url.Content("~/assets/img/Layasdasdaasdasder-8.png")" alt="Alternate Text" />
                        <img src="@Url.Content("~/Uploads/Images/testimonials/")@ProFileModel.InfluenceImage" />
                    </div>
                    <div class="krkred-right">
                        <img src="@Url.Content("~/assets/img/kolaouuut.png")" alt="Alternate Text" />
                        <img src="@Url.Content("~/assets/img/Layer-7.png")" alt="Alternate Text" />
                        <div class="kred-index">@ProFileModel.KloutNumber</div>
                    </div>
                </div>
            </div>

            <div class="container-inner">
                <div class="social-feed-vl tweetm">
                    <h1><span>Vladimer's</span> Global Influence</h1>
                    <div id="tweetmap">
                        <img src="@Url.Content("~/assets/img/map.jpg")" alt="tweetmap" />
                    </div>
                </div>
            </div>




            @*<div class="container-inner">
                    <div class="soc-vl-wrapper social-feed-new">
                        <div class="vl-social-links">
                            <p>Find me on</p>
                            <ul>
                                <li><a href="https://twitter.com/VladoBotsvadze" target="_blank" class="soc-vl soc-vl-tw"></a></li>
                                <li><a href="https://www.linkedin.com/in/vladimerbotsvadze" target="_blank" class="soc-vl soc-vl-lnd"></a></li>
                                <li><a href="https://www.instagram.com/vladimerbotsvadze/" target="_blank" class="soc-vl soc-vl-ins"></a></li>
                                <li><a href="https://www.facebook.com/VladimerBotsvadze" target="_blank" class="soc-vl soc-vl-fb"></a></li>
                                <li><a href="http://www.pinterest.com/DrProfBotsvadze/" target="_blank" class="soc-vl soc-vl-paint"></a></li>
                                <li><a href="http://www.pinterest.com/DrProfBotsvadze/" target="_blank" class="soc-vl soc-vl-google"></a></li>
                                <li><a href="" class="soc-vl soc-vl-sht" target="_blank"></a></li>
                                <li><a href="https://www.periscope.tv/vladimerbotsvadze" class="soc-vl soc-vl-per" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>*@


            <div class="container-inner">
                <div class="social-feed-vl">
                    <h1>Vladimer Social Media <span>Wall</span></h1>
                    <div id="social-stream"></div>
                </div>
            </div>

            <div class="container-inner">
                <div class="vl-contact on-home">
                    <h1>Have a Business? <a href="@Url.Action("index","contact")"><span>Contact</span></a> Vladimer</h1>
                    <div class="contact-form">

                        <form action="@Url.Action("index","contact")" method="post" class="contact-form-inputs">
                            <input type="text" placeholder="YOUR NAME" name="Name" />
                            <input type="text" placeholder="YOUR EMAIL" name="Email" />
                            <input type="text" placeholder="SUBJECT" name="Subject" />
                            <textarea placeholder="YOUR MESSAGE" name="Content"></textarea>
                            <button>Send</button>
                        </form>
                    </div>
                    <div class="getintouch">
                        <div class="getintouch-inner">
                            <h4>Get in Touch</h4>
                            <p class="cont-phone">+995 557 254 984</p>
                            <p class="cont-phone">+971 505 729 891</p>
                            <p class="cont-email">info@vladimerbotsvadze.com</p>
                            <p class="cont-skype">VladimerBotsvadze</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


@section scripts{


    <script src="~/Assets/js/lib/jquery-asPieProgress.min.js"></script>

    <script>
        $(function ($) {
            $('.pie_progress').asPieProgress({
                namespace: 'pie_progress',
                barcolor: '#fb3b49',
                barsize: '4',
                trackcolor: '#ebebeb',
                fillcolor: 'none',
                easing: 'ease',
                numberCallback(n){
                    var perc =  (this.goal  / this.max) * 100;
                    //console.log(this.min);

                    if(this.min == 0){
                        return `${parseInt(perc)}%`;
                    }else{
                        return this.goal;
                    }
                }
            });


            $('.pie_progress').asPieProgress('start');


            $(".totalfans").html("@ToTalFans");
        });

    </script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>

        var array = @Html.Raw(Json.Encode(NetworkActivity.Select(q => new
             {
                 name = q.Name,
                 y = q.ActivityCount
             })));
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Browser market shares January, 2015 to May, 2015'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: array
                }]
            });
        });




    </script>
}