﻿@model VBortsvadze.DL.Models.Entities.Blog

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var categories = ViewBag.Categories as List<VBortsvadze.DL.Models.Entities.BlogCategory>;
}



<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Blog</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SeoDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="fg-line">
                    @Html.EditorFor(model => model.SeoDescription, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <small class="help-block">@Html.ValidationMessageFor(model => model.SeoDescription)</small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeoTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="fg-line">
                    @Html.EditorFor(model => model.SeoTitle, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <small class="help-block">@Html.ValidationMessageFor(model => model.SeoTitle)</small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="fg-line">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <small class="help-block">@Html.ValidationMessageFor(model => model.Title)</small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="fg-line">
                    @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <small class="help-block">@Html.ValidationMessageFor(model => model.Content)</small>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoverImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="fg-line">
                    @*@Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control" } })*@
                    <div class="crop-img-container" data-imageid="CoverImage">
                        <img class="crop-prev-img" src="" />
                    </div>

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-primary btn-file m-r-10">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" id="CoverImage" accept="image/*">
                        </span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                    </div>

                </div>

                @Html.ValidationMessageFor(model => model.CoverImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SmallImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="fg-line">
                    <div class="crop-img-container" data-imageid="SmallImage">
                        <img class="crop-prev-img" src="" />
                    </div>


                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-primary btn-file m-r-10">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" id="SmallImage" accept="image/*">
                        </span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.SmallImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Slag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="fg-line">
                    @Html.EditorFor(model => model.Slag, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <small class="help-block">@Html.ValidationMessageFor(model => model.Slag)</small>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Pinned, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">

                    <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" value="true" name="Pinned">
                        <i class="input-helper"></i>
                    </label>
                    @*@Html.EditorFor(model => model.Pinned)*@
                    @Html.ValidationMessageFor(model => model.Pinned, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <p class="col-md-2 control-label">Select Categories</p>
            <div class="col-md-10">
                <div class="">
                    <select class="selectpicker bs-select-hidden" multiple name="categoryIds">
                        @foreach (var item in categories)
                        {
                            <option value="@item.Id">@item.CategoryName</option>
                        }
                    </select>

                </div>
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-primary waves-effect font-mt waves-effect waves-effect" })
</div>

@section css{
    <link href="~/Areas/Admin/Assets/vendors/bower_components/bootstrap/dist/css/bootstrap-select.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Areas/Admin/Assets/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/bower_components/bootstrap/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/models/blogs/create.js"></script>

}
