﻿@model IEnumerable<VBortsvadze.DL.ViewModels.Admin.Blog.ImagesViewModel>


@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    /*Styles to Butify Image Library Popup */

    #sidebar {
    display:none !important;
    }
    body.sw-toggled #content {
    padding: 30px 0 30px 0px;
}
    h3 {
        margin:auto;
        text-align:center;
        margin-bottom:30px;
    }
</style>

<h3 class="succes">Choose Image Below:</h3>


@foreach (var image in Model)
{
    <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
        <img src="@image.Url" alt="Hejsan" id="#image" data-source="@image.Url" width="200" height="200" />
    </a>
}
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $(".returnImage").click("click", function (e) {
            var urlImage = $(this).attr("data-url");
            window.opener.updateValue("cke_123_textInput", urlImage);
            window.close();
        });
    });
</script>
}

