﻿@model VBortsvadze.DL.Models.Entities.Page

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var testimonials = ViewBag.testimonials as List<VBortsvadze.DL.Models.Entities.Testimonial>;
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Page</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <p class="col-md-2 control-label">Select Categories</p>
            <div class="col-md-10">
                <div class="">
                    <select class="selectpicker bs-select-hidden" multiple name="testimonialIds" required>
                        @foreach (var item in testimonials)
                        {
                            <option value="@item.Id">@item.FullName</option>
                        }
                    </select>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section css{
    <link href="~/Areas/Admin/Assets/vendors/bower_components/bootstrap/dist/css/bootstrap-select.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Areas/Admin/Assets/vendors/bower_components/bootstrap/dist/js/bootstrap-select.min.js"></script>
}
