﻿@model IEnumerable<VBortsvadze.DL.Models.Entities.Page>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th></th>
        <th>Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Name</td>
        <td>
           @Html.ActionLink("Edit", "Edit", new { id=item.Name })
        </td>
    </tr>
}

</table>
