﻿
<div class="featur-tursted">
    <div><p>With Global Support <span>From</span></p></div>
    <div><p>Trusted by the <span>Best</span></p></div>
</div>

<div class="container-fluid cover-bg">
    @Html.Partial("_companies")
</div>




<h1 class="social-header"> Vladimer's Social Media <span>Wall</span></h1>

<div class="container-inner">
    <div id="social-stream"></div>
</div>
