﻿
<div class="container-inner comp">
    <div class="companies-left">
        <div><img src="@Url.Content("~/assets/img/forbeslogo.png")" alt="Alternate Text" /></div>
        <div><img src="@Url.Content("~/assets/img/theeconomist.png")" alt="Alternate Text" /></div>
        <div><img src="@Url.Content("~/assets/img/nixuia.png")" alt="Alternate Text" /></div>
        <div><img src="@Url.Content("~/assets/img/busnesinsider.png")" alt="Alternate Text" /></div>
        <div><img src="@Url.Content("~/assets/img/Vector-Smart-Object13.png")" alt="Alternate Text" /></div>
        <div><img src="@Url.Content("~/assets/img/Layer-2223.png")" alt="Alternate Text" /></div>
        <div><img src="@Url.Content("~/assets/img/Vector-Smart-Object14.png")" alt="Alternate Text" /></div>
        <div><img src="@Url.Content("~/assets/img/Layer-24.png")" alt="Alternate Text" /></div>
        <div><img src="@Url.Content("~/assets/img/asdasd.png")" alt="Alternate Text" /></div>
        <div><img src="@Url.Content("~/assets/img/Vector-Smartasdasd-Object13.png")" alt="Alternate Text" /></div>
    </div>
    <div class="companies-right">
        <div><img src="@Url.Content("~/assets/img/asdasd-11.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/aston-martin1.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/asdasdasfffgfgf.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/microsoft.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/hphphph.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/vector001.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/airragaca.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/fedeeexx.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/accraga.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/bayern.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/pacific.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/ddb.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/londonis.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/pabloescobari.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/kembrigiiiiiiii.png")" alt="Alternate Text" class="center-vert" /></div>
        <div><img src="@Url.Content("~/assets/img/davigalee.png")" alt="Alternate Text" class="center-vert" /></div>
    </div>
</div>