﻿@{
    string siteTitle = "Vladimer Botsvadze | " + ViewBag.Title;
    string description = ViewBag.Description;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@siteTitle</title>
    <link href="@Url.Content("~/assets/css/")slick.css" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/")slick-theme.css" rel="stylesheet" />
    <link href="~/Assets/css/lib/asPieProgress.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/")css/dcsns_wall.css" media="all" />
    <link href="@Url.Content("~/Assets/css/style.css")" rel="stylesheet" />


    <meta name="description" content="@description" />



    <meta content="http://www.vladimerbotsvadze.com/ico.png" itemprop="image">
    <link href="http://www.vladimerbotsvadze.com/ico.png" rel="icon" />
    <link rel="SHORTCUT ICON" href="http://www.vladimerbotsvadze.com/ico.png" type="image/x-icon" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55171867-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        var Path = "@Url.Content("~/")";
    </script>
    @RenderSection("css", required: false)
    <script src="~/Assets/js/lib/jquery-1.12.4.min.js"></script>
</head>
<body>

    <header class="@if (ViewBag.HeaderColor == null) { <text>black</text> } s-shadow">
        <div class="container">
            <form action="@Url.Action("search","Blog")" method="post" class="shared-search">
                <input type="text" placeholder="Search Articles" name="queryString" class="search" />
                <input type="submit" value="">
                <input type="button" class="cancel-button">
            </form>
            <div class="logo">
                <a href="@Url.Content("~/")">
                    <img src="@Url.Content("~/assets/img/logo.png")" alt="logo" />
                </a>
            </div>
            <div class="burger"></div>
            <div class="nav">
                <p class="close-burger">Close X</p>
                <nav>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                        <li><a href="@Url.Action("Index","About")" class="menu about">About</a></li>
                        <li class="workwith-dropdown">
                            <a href="@Url.Action("Index","WorkWithVladimer")" class="menu workwith">
                                Work With Vladimer
                            </a>
                            <div class="dropdown">
                                <ul>
                                    <li class="invisible"><a href="@Url.Action("index","WorkWithVladimer")">Work With Vladimer</a></li>
                                    <li><a href="@Url.Action("Consulting","WorkWithVladimer")">Consulting</a></li>
                                    <li><a href="@Url.Action("Speaking","WorkWithVladimer")">Speaking</a></li>
                                    <li><a href="@Url.Action("startupadvising","WorkWithVladimer")">Startup Advising</a></li>
                                    <li><a href="@Url.Action("teaching","WorkWithVladimer")">Teaching</a></li>
                                    <li><a href="@Url.Action("training","WorkWithVladimer")">Training</a></li>
                                    <li><a href="@Url.Action("workshops","WorkWithVladimer")">Workshops</a></li>
                                    <li><a href="@Url.Action("Coaching","WorkWithVladimer")">Coaching</a></li>
                                    <li><a href="@Url.Action("Mentoring","WorkWithVladimer")">Mentoring</a></li>
                                </ul>
                            </div>

                        </li>
                        <li><a href="@Url.Action("Index","Onlineinfluence")" class="menu onlineinf">Online Influence</a></li>
                        <li><a href="@Url.Action("Index","Publications")" class="menu publications">Publications</a></li>
                        <li><a href="@Url.Action("Index", "Award")" class="menu awards">Awards</a></li>
                        <li><a href="@Url.Action("Index","Blog")" class="menu blog">Blog</a></li>
                        <li><a href="@Url.Action("Index","Contact")" class="menu contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="search icon">

                </div>
            </div>

        </div>

    </header>

    @RenderBody()

    <footer>
        <div class="container-inner footer">
            <div class="vb">
                <div class="center-mask">
                    <h1>VLADIMER BOTSVADZE</h1>
                    <p>Leading Brands Forward</p>
                </div>
            </div>
            <div class="site-map">
                <ul>
                    <li><a href="@Url.Action("index","Home")">Home</a></li>
                    <li><a href="@Url.Action("index","About")">About</a></li>
                    <li><a href="@Url.Action("index","WorkWithVladimer")">Work With Vladimer</a></li>
                    <li><a href="@Url.Action("index", "OnlineInfluence")">Online Influence</a></li>
                    <li><a href="@Url.Action("index","Publications")">Publications</a></li>
                    <li><a href="@Url.Action("index","Award")">Awards</a></li>
                    <li><a href="@Url.Action("index","Blog")">Blog</a></li>
                    <li><a href="@Url.Action("index","Contact")">Contact</a></li>
                </ul>
            </div>
            <div class="getintouch-footer">
                <h3>Get In Touch</h3>
                <ul>
                    <li class="special">Vladimer Botsvadze</li>
                    <li class="phone">+995 557 254 984</li>
                    <li class="phone">+971 505 729 891</li>
                    <li class="mail">info@vladimerbotsvadze.com</li>
                    <li class="skype">VladimerBotsvadze</li>
                </ul>
            </div>
            <div class="footer-social">
                <h3>Find me on</h3>
                <ul>
                    <li><a class="tw" href="https://twitter.com/VladoBotsvadze" target="_blank">Twitter</a></li>
                    <li><a class="lk" href="https://ae.linkedin.com/in/vladimerbotsvadze" target="_blank">LinkedIn</a></li>
                    <li><a class="in" href="https://www.instagram.com/vladimerbotsvadze/" target="_blank">Instagram</a></li>
                    <li><a class="fb" href="https://www.facebook.com/VladimerBotsvadze/?fref=ts" target="_blank">Facebook</a></li>
                    <li><a class="pi" href="https://www.pinterest.com/DrProfBotsvadze/" target="_blank">Pinterest</a></li>
                    <li><a class="go" href="https://plus.google.com/+VladimerBotsvadzeProfessor" target="_blank">Google +</a></li>
                    <li><a class="sn" href="https://www.snapchat.com/add/vbotsvadze" target="_blank">Snapchat</a></li>
                    <li><a class="pr" href="https://www.periscope.tv/vladimerbotsvadze" target="_blank">Periscope</a></li>
                </ul>
            </div>

            <div class="footer-subscribe">
                <h1>Do Not Miss New Posts</h1>
                <p>Subscribe to Vladimer</p>
                <div class="cont-f">
                    <form id="subscribe-form">
                        <input id="email-value-form" type="email" placeholder="Enter Your Email" required />
                        <input type="submit" value="Subscribe" />
                    </form>
                </div>

            </div>

            <p class="all-rights">© 2017 Vladimer Botsvadze. All rights reserved.</p>

        </div>


    </footer>




    <script src="@Url.Content("~/Assets/js/script.js")"></script>
    <script src="@Url.Content("~/assets/js/")slick.js"></script>
    <script>
        $(window).load(function () {

            $('.tesomonials .carousel-inner').slick({
                infinite: true,
                arrows: false,
                slidesToShow: 3,
                dots: true,
                slidesToScroll: 3,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToScroll: 2,
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToScroll: 1,
                            slidesToShow: 1
                        }
                    }
                ]
            });


            setTimeout(function () {

                $(".vl-statistics").css("display", "block");


                $('.statistic-container, .memorable-tweets-conteiner').slick({
                    infinite: true,
                    arrows: false,
                    slidesToShow: 4,
                    dots: true,
                    slidesToScroll: 4,
                    responsive: [
                        {
                            breakpoint: 1100,
                            settings: {
                                slidesToScroll: 3,
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToScroll: 2,
                                slidesToShow: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToScroll: 1,
                                slidesToShow: 1
                            }
                        }
                    ]
                });
            }, 2000);

        });



        $('.recognitions-data.about').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 3,
            dots: true,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 1100,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToScroll: 1,
                        slidesToShow: 1
                    }
                }
            ]
        });



        function lightPageName(pageName) {
            $(".nav").find("nav").find(".active").removeClass("active");
            $(".nav").find("nav").find(".menu." + pageName).addClass("active");
        }

    </script>










    <script type="text/javascript" src="@Url.Content("~/assets/")js/jquery.social.stream.wall.1.3.js"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/")js/jquery.social.stream.1.5.4.min.js"></script>
    <script>

        $(function () {

            $('#social-stream').dcSocialStream({
                feeds: {
                    @*facebook: {
                        id: '299438520253247',
                        image_width: 5,
                        text: 'contentSnippet',
                        thumb: true,
                        url: '@Url.Content("~/TPServices/Facebook")'
                    },*@
                    twitter: {
                        id: 'giochkhaidze',
                        out: 'intro,text',
                        images: 'large',
                        url: '@Url.Content("~/TPServices/Twitter")'
                    },
                    instagram: {
                        id: '!1393971204',
                        out: 'intro,thumb,text',
                        accessToken: '1393971204.016b7e3.d7f799f6146d4d7383d831413578222b',
                        redirectUrl: 'http://localhost:15435/',
                        clientId: '016b7e385fc245ecae9ff964f0dd9fe9',
                        thumb: 'low_resolution',
                        comments: 0,
                        likes: 0,
                        images: 'large',
                    },
                },
                days: 30,
                limit: 4,
                max: 'limit',
                wall: true,
                controls: false,
                center: true,
                rotate: {
                    delay: 0
                },
                iconPath: '@Url.Content("~/assets/img/dcsns-dark/")',
                imagePath: '@Url.Content("~/assets/img/dcsns-dark/")',
                cache: false,

            });


        });

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
