﻿@model IEnumerable<VBortsvadze.DL.Models.Entities.Testimonial>


@foreach (var item in Model)
{
    <div class="item">
        <div class="item-img">
            @if (!string.IsNullOrEmpty(item.CompanyLogo))
            {
                <div style="background-image:url(@Url.Content("~/Uploads/Images/Testimonials/" + item.CompanyLogo))"></div>
            }

            <img src="@Url.Content("~/Uploads/Images/Testimonials/" + item.Avatar)" alt="@item.FullName" />
        </div>
        <div class="item-desc">
            <h3>@item.FullName</h3>
            <p>
                @if (item.CompanyPosition != ".") { <text>@item.CompanyPosition at</text> }
                <span> @if (item.CompanyName != ".") { <text>@item.CompanyName</text> } </span>
        </p>
        <div class="desc-text">
            <p>@item.RecomendationPrase</p>
            <span>Show More</span>
        </div>
    </div>
</div>
}

