﻿@model  VBortsvadze.BL.Models.ProfileViewModel


<div class="profile-wrapper">
    <div>
        <div style="width:100%; position:relative; display:inline-block; margin-top:27px;">
            <div id="container" class="profile-chart-12 custom-chart-profile" style=""></div>

            <p class="total-fans">Total Followers - <span class="totalfans"></span></p>
        </div>

        <div class="profile-text-wrapper">
            @foreach (var item in Model.Info)
            {
                <div class="profile-text">
                    <span>@item.InfoName</span>
                    <span>@item.InfoValue</span>
                </div>
            }

            <h2 class="vl-profile-indicator hiddenable klear-badge">Klear Badge</h2>

            <div class="Badges-outer hiddenable">
                <div>
                    <img src="@Url.Content("~/assets/img/badge1.png")" />
                </div>
                <div>
                    <img src="@Url.Content("~/assets/img/badge2.png")" />
                </div>
                <div>
                    <img src="@Url.Content("~/assets/img/badge3.png")" />
                </div>
            </div>




            <div class="profile-images after-badges">
                <div class="profile-left-img">
                    <img src="@Url.Content("~/assets/img/kolaouuut.png")" alt="Alternate Text" />
                </div>
                <div class="profile-right-img">
                    <div style="position:relative;    float: right;">
                        <div style="position: absolute;    right: 72%;    bottom: 12%;    color: #fff; font-weight: bold; font-family: 'Avenir-Next-Medium';}">@Model.KloutNumber</div>
                        <img src="@Url.Content("~/assets/img/Layer-7.png")" alt="Alternate Text" />
                    </div>
                </div>
            </div>

            <div class="profile-images">
                <div class="profile-left-img">
                    <img src="@Url.Content("~/assets/img/Layasdasdaasdasder-8.png")" alt="Alternate Text" />
                </div>
                <div class="profile-right-img">
                    <img src="@Url.Content("~/Uploads/Images/testimonials/")@Model.InfluenceImage" alt="Alternate Text" />

                </div>
                <p>LinkedIn Social Selling Index</p>
            </div>
            <div class="profile-images">
                <div class="profile-left-img">
                    <img src="@Url.Content("~/assets/img/Layer-22.png")" alt="Alternate Text" />
                </div>
                <div class="profile-right-img">
                    <div id="second-chart" class="profile-chart-12 main" style="">
                        <img src="@Url.Content("~/Uploads/Images/testimonials/")@Model.TweeterImage" style="margin: 0 auto;max-width:100%;display:block;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
