﻿<!DOCTYPE html>
<html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Admin</title>

    <!-- Vendor CSS -->
    <link href="@Url.Content("~/Areas/Admin/Assets/")vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Areas/Admin/Assets/")vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="@Url.Content("~/Areas/Admin/Assets/")vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Areas/Admin/assets/")vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Areas/Admin/assets/")vendors/cropper/cropper.min.css" rel="stylesheet">

    <style>
        a.command-edit, a.command-delete {
            color: inherit;
            line-height: 40px;
        }
    </style>
    @RenderSection("css", false)
    @{

    }
    <!-- CSS -->
    <link href="@Url.Content("~/Areas/Admin/Assets/")css/app.min.1.css" rel="stylesheet">
    <link href="@Url.Content("~/Areas/Admin/Assets/")css/app.min.2.css" rel="stylesheet">
    <link href="@Url.Content("~/Areas/Admin/assets/")css/style.css" rel="stylesheet">
    <script>
        var Path = "@Url.Content("~/Admin/")";
    </script>
</head>

<body class="sw-toggled">
    <header id="header">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                <a href="index.html">Vladimer Bortsvadze</a>
            </li>

            <li class="pull-right">
                <ul class="top-menu">




                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">

                            <li>
                                <a href="@Url.Content("~/admin/account/logout")"><i class="zmdi zmdi-settings"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <input type="text">
            <i id="top-search-close">&times;</i>
        </div>
    </header>

    <section id="main">
        <aside id="sidebar">
            <div class="sidebar-inner c-overflow">
                <div class="profile-menu">
                    <a href="">
                        <div class="profile-pic">
                            <img src="@Url.Content("~/Areas/Admin/assets/")img/profile-pics/1.jpg" alt="">
                        </div>

                        <div class="profile-info">
                            Administrator

                            <i class="zmdi zmdi-arrow-drop-down"></i>
                        </div>
                    </a>

                    <ul class="main-menu">

                        <li>
                            <a href="@Url.Content("~/admin/account/logout")"><i class="zmdi zmdi-time-restore"></i> გასვლა</a>
                        </li>
                    </ul>
                </div>

                <ul class="main-menu">
                    <li class="active"><a href="@Url.Content("~/admin")"><i class="zmdi zmdi-home"></i> Home </a></li>
                    <li class=""><a href="@Url.Content("~/admin/testimonials")"><i class="zmdi zmdi-home"></i> Testimonials </a></li>
                    <li class=""><a href="@Url.Content("~/admin/publications")"><i class="zmdi zmdi-home"></i> Publications </a></li>
                    <li class=""><a href="@Url.Content("~/admin/recognitions")"><i class="zmdi zmdi-home"></i> Awards </a></li>
                    <li class=""><a href="@Url.Content("~/admin/SocialNetworkActivities")"><i class="zmdi zmdi-home"></i> Social Network Activities </a></li>
                    <li class=""><a href="@Url.Content("~/admin/VInfoes")"><i class="zmdi zmdi-home"></i>Infos </a></li>
                    <li class=""><a href="@Url.Content("~/admin/Blogs")"><i class="zmdi zmdi-home"></i>Blog </a></li>
                    <li class=""><a href="@Url.Content("~/admin/BlogCategories")"><i class="zmdi zmdi-home"></i>Categories </a></li>
                    <li class=""><a href="@Url.Content("~/admin/SocMediaNumbers")"><i class="zmdi zmdi-home"></i>SocMediaNumbers </a></li>
                    <li class=""><a href="@Url.Content("~/admin/statistics")"><i class="zmdi zmdi-home"></i> Statistics </a></li>

                    <li class=""><a href="@Url.Content("~/admin/InfluenceImages/edit/1")"><i class="zmdi zmdi-home"></i> Influence Image</a></li>
                    <li class="">
                    <li class=""><a href="@Url.Content("~/admin/InfluenceImages/edit/2")"><i class="zmdi zmdi-home"></i> Tweeter Image</a></li>
                    <li class="">
                        <a href="@Url.Content("~/admin/KloutNumbers")"><i class="zmdi zmdi-home"></i> Klout Number </a>
                    </li>
                    <li class=""><a href="@Url.Content("~/admin/pages")"><i class="zmdi zmdi-home"></i> Testimonials For Pages </a></li>
                    <li class=""><a href="@Url.Content("~/admin/Awards")"><i class="zmdi zmdi-home"></i> Awards Home </a></li>
                </ul>
            </div>
        </aside>




        <section id="content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </section>



    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="@Url.Content("~/Areas/Admin/")img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="@Url.Content("~/Areas/Admin/")img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="@Url.Content("~/Areas/Admin/")img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="@Url.Content("~/Areas/Admin/")img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="@Url.Content("~/Areas/Admin/")img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Javascript Libraries -->
    <script src="@Url.Content("~/Areas/Admin/Assets/")vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/")vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="@Url.Content("~/Areas/Admin/Assets/")vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/")vendors/bower_components/Waves/dist/waves.min.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/")vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/")vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/")vendors/bootgrid/jquery.bootgrid.min.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/")vendors/cropper/cropper.min.js"></script>
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="@Url.Content("~/Areas/Admin/Assets/")js/settings.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Assets/")js/functions.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
